Repository microsoft/PowerPlatformConnectors, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Microsoft/connectors, @Aquaforest, @robrams, @Cloudmersive, @sschutten, @d7networks, @yekhoKatyn, @mattybeard, @johannesheesterman, @Encodian, @dp-firetext, @masuyama-hammock, @EnovaPoint-Lewis, @SteveCurran, @Lokenstein, @mittork, @tom-mq, @devsmsMTarget, @didalal, @RFlipper, @sliemeobn, @waldekmastykarz, @ondrejfiala, @MarcusNilssonGithub, @arunprabhu-kovai, @Rens-Braspenning, @cirrussoft, @michi88, @its-just-jo, @pininsmarp, @mdbollman, @EricHusa, @alainmenag, @danspam, @jeremyjclarke, @NicolasHumann, @yusureabc, @tjkb, @cedric-martin, @ryandeba, @aasimniz95, @exghts, @calvinleong

.github/CODEOWNERS:

# See for instructions on this file https://help.github.com/articles/about-codeowners/

# By default Microsoft owns the entire repo
# Unless overridden later
*       @Microsoft/connectors

# Speicific owner for Certified Connectors
/certified-connectors/Aquaforest\ PDF\ Connector/ @Aquaforest
/certified-connectors/CloudAppSecurity/ @robrams
/certified-connectors/Cloudmersive\ Data\ Validation/ @Cloudmersive
/certified-connectors/Cloudmersive\ Document\ Conversion/ @Cloudmersive
/certified-connectors/Cloudmersive\ Image\ Processing/ @Cloudmersive
/certified-connectors/Cloudmersive\ PDF/ @Cloudmersive
/certified-connectors/Cloudmersive\ Virus\ Scan/ @Cloudmersive
/certified-connectors/CompanyConnect/ @sschutten
/certified-connectors/D7SMS/ @d7networks
/certified-connectors/DBF2XML/ @yekhoKatyn
/certified-connectors/Data8/ @mattybeard
/certified-connectors/ElfsquadProductConfigurator/ @johannesheesterman
/certified-connectors/Encodian/ @Encodian
/certified-connectors/FireText/ @dp-firetext
/certified-connectors/HotProfile/ @masuyama-hammock
/certified-connectors/JungleMail365/ @EnovaPoint-Lewis
/certified-connectors/KnowledgeLakeRPA/ @SteveCurran
/certified-connectors/LeadDesk/ @Lokenstein
/certified-connectors/Mitto/ @mittork
/certified-connectors/ModuleQ/ @tom-mq
/certified-connectors/Mtarget\ SMS/ @devsmsMTarget
/certified-connectors/PartnerCenterReferrals/ @didalal
/certified-connectors/Plumsail\ Documents/ @RFlipper
/certified-connectors/Plumsail\ Forms/ @RFlipper
/certified-connectors/Plumsail\ HelpDesk/ @RFlipper
/certified-connectors/Plumsail\ SP/ @RFlipper
/certified-connectors/Pushcut/ @sliemeobn
/certified-connectors/Rencore/ @waldekmastykarz
/certified-connectors/Rencore\ Governance/ @waldekmastykarz
/certified-connectors/Robolytix/ @ondrejfiala
/certified-connectors/Scrive\ eSign/ @MarcusNilssonGithub
/certified-connectors/Serverless360/ @arunprabhu-kovai
/certified-connectors/ShareEffect/ @Rens-Braspenning
/certified-connectors/ShortURL/ @cirrussoft
/certified-connectors/SignRequest/ @michi88
/certified-connectors/Slascone/ @its-just-jo
/certified-connectors/Smarp/ @pininsmarp
/certified-connectors/Stormboard/ @mdbollman
/certified-connectors/Tallyfy/ @EricHusa
/certified-connectors/Telephony-Xtended-Service/ @alainmenag
/certified-connectors/Way\ We\ Do/ @danspam
/certified-connectors/WebMerge/ @jeremyjclarke
/certified-connectors/Witivio/ @NicolasHumann
/certified-connectors/Yeelight/ @yusureabc
/certified-connectors/ahead/ @tjkb
/certified-connectors/easyvistaselfhelp/ @cedric-martin
/certified-connectors/emfluencemp/ @ryandeba
/certified-connectors/envoy/ @aasimniz95
/certified-connectors/exghts/ @exghts
/certified-connectors/gofileroom/ @calvinleong

Witivio Connector V2
  certified-connectors/Witivio/apiDefinition.swagger.json
  certified-connectors/Witivio/apiProperties.json
Owners: @NicolasHumann

tyntec WhatsApp Update (#1073)
  certified-connectors/tyntec-WA/apiDefinition.swagger.json
Owners: @Microsoft/connectors

removed Copyright
  certified-connectors/Farsight Security/README.md
Owners: @Microsoft/connectors

Initital Draft
  custom-connectors/ZellisIntelligencePlatform/README.md
  custom-connectors/ZellisIntelligencePlatform/apiDefinition.swagger.json
  custom-connectors/ZellisIntelligencePlatform/apiProperties.json
Owners: @Microsoft/connectors

Zellis connector Initital Draft
  certified-connectors/ZellisIntelligencePlatform/README.md
  certified-connectors/ZellisIntelligencePlatform/apiDefinition.swagger.json
  certified-connectors/ZellisIntelligencePlatform/apiProperties.json
Owners: @Microsoft/connectors

Update iconBrandColor
  certified-connectors/Sociabble/apiProperties.json
Owners: @Microsoft/connectors

Properties file correction
  certified-connectors/ZellisIntelligencePlatform/apiProperties.json
Owners: @Microsoft/connectors

Properties file correction
  custom-connectors/ZellisIntelligencePlatform/apiProperties.json
Owners: @Microsoft/connectors

Fixed apiProperties.json Unicode problems
  certified-connectors/Staffbase/apiProperties.json
Owners: @Microsoft/connectors

New connector : Sociabble Updated (#1080)
  certified-connectors/Sociabble/apiProperties.json
Owners: @Microsoft/connectors

Revert "Editing version"
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Yelp v1.1
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
  independent-publisher-connectors/Yelp/apiProperties.json
  independent-publisher-connectors/Yelp/readme.md
Owners: @Microsoft/connectors

Revert "Change requests:"
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Add apiProperties.json and swagger.json for open sourcing the merged JIRA & JIRA IP connectors
  certified-connectors/JIRA/apiDefinition.swagger.json
  certified-connectors/JIRA/apiProperties.json
Owners: @Microsoft/connectors

Yelp v1.1
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
  independent-publisher-connectors/Yelp/apiProperties.json
  independent-publisher-connectors/Yelp/readme.md
Owners: @Microsoft/connectors

Make edits to fix the swagger validation
  certified-connectors/JIRA/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Fixing read me file
  independent-publisher-connectors/Yelp/readme.md
Owners: @Microsoft/connectors

Yelp v1.1 (Independent Publisher) (#1082)
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
  independent-publisher-connectors/Yelp/apiProperties.json
  independent-publisher-connectors/Yelp/readme.md
Owners: @Microsoft/connectors

Revert "Yelp v1.1 (Independent Publisher) (#1082)"
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
  independent-publisher-connectors/Yelp/apiProperties.json
  independent-publisher-connectors/Yelp/readme.md
Owners: @Microsoft/connectors

Redesigned Connector for Staffbase (#1057)
  certified-connectors/Staffbase/README.md
  certified-connectors/Staffbase/apiDefinition.swagger.json
  certified-connectors/Staffbase/apiProperties.json
Owners: @Microsoft/connectors

Farsight DNSDB Open Source Submission Pull Request (#1058)
  certified-connectors/Farsight Security/README.md
  certified-connectors/Farsight Security/apiDefinition.swagger.json
  certified-connectors/Farsight Security/apiProperties.json
Owners: @Microsoft/connectors

Discord (Independent Publisher) (#996)
  independent-publisher-connectors/Discord/apiDefinition.swagger.json
  independent-publisher-connectors/Discord/apiProperties.json
  independent-publisher-connectors/Discord/readme.md
Owners: @Microsoft/connectors

Spotify (Independent Publisher) (#994)
  independent-publisher-connectors/Spotify/apiDefinition.swagger.json
  independent-publisher-connectors/Spotify/apiProperties.json
  independent-publisher-connectors/Spotify/readme.md
Owners: @Microsoft/connectors

Toggl Plan (Independent Publisher) (#987)
  independent-publisher-connectors/Toggl Plan/apiDefinition.swagger.json
  independent-publisher-connectors/Toggl Plan/apiProperties.json
  independent-publisher-connectors/Toggl Plan/readme.md
Owners: @Microsoft/connectors

Added filter option to the messages feed
  independent-publisher-connectors/Microsoft 365 Service Health/apiDefinition.swagger.json
Owners: @Microsoft/connectors

added move task to move task in hierarchy
  certified-connectors/Polaris PSA/README.md
  certified-connectors/Polaris PSA/apiDefinition.swagger.json
  certified-connectors/Polaris PSA/apiProperties.json
Owners: @Microsoft/connectors

Added Issue template forms (#1059)
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/New_connector_request.md
  .github/ISSUE_TEMPLATE/Service_team_request.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/new_connector_request.yaml
  .github/ISSUE_TEMPLATE/service_team_request.yaml
Owners: @Microsoft/connectors

Removed empty operations
  certified-connectors/Progressus Advanced Projects/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Polaris PSA (#1085)
  certified-connectors/Polaris PSA/README.md
  certified-connectors/Polaris PSA/apiDefinition.swagger.json
  certified-connectors/Polaris PSA/apiProperties.json
Owners: @Microsoft/connectors

Progressus Advanced Projects (#1047)
  certified-connectors/Progressus Advanced Projects/apiDefinition.swagger.json
  certified-connectors/Progressus Advanced Projects/apiProperties.json
  certified-connectors/Progressus Advanced Projects/images/Connector-1.png
  certified-connectors/Progressus Advanced Projects/images/Connector-2.png
  certified-connectors/Progressus Advanced Projects/readme.md
Owners: @Microsoft/connectors

Updated Witivio connector V2
  certified-connectors/Witivio/apiDefinition.swagger.json
  certified-connectors/Witivio/apiProperties.json
Owners: @NicolasHumann

Initial files for FreeAgent
  independent-publisher-connectors/FreeAgent/README.md
  independent-publisher-connectors/FreeAgent/apiDefinition.swagger.json
  independent-publisher-connectors/FreeAgent/apiProperties.json
Owners: @Microsoft/connectors

Missing ']'
  independent-publisher-connectors/Secure Code Warrior/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Bump version 1.1
  independent-publisher-connectors/Secure Code Warrior/apiDefinition.swagger.json
Owners: @Microsoft/connectors

adding connector HoneyWellForge
  certified-connectors/HoneywellForge/README.md
  certified-connectors/HoneywellForge/apiDefinition.swagger.json
  certified-connectors/HoneywellForge/apiProperties.json
Owners: @Microsoft/connectors

Fix operation Id for webhook
  certified-connectors/Plumsail Documents/apiDefinition.swagger.json
Owners: @RFlipper

Added additional fields to SendMessage methods
  certified-connectors/SmartDialog/apiDefinition.swagger.json
Owners: @Microsoft/connectors

Add new actions
  certified-connectors/Tallyfy/apiDefinition.swagger.json
  certified-connectors/Tallyfy/readme.md
Owners: @EricHusa
