Repository microsoft/PowerPlatformConnectors, pull requests merged in 2021-11, with the labels that each got.

#1232 updates Assently E-Sign updateCase action
  certified-connectors/Assently E-Sign/apiDefinition.swagger.json
Labels: certified-connector

#1173 Carbon Intensity (Independent Publisher) (Student)
  independent-publisher-connectors/Carbon Intensity/apiDefinition.swagger.json
  independent-publisher-connectors/Carbon Intensity/apiProperties.json
  independent-publisher-connectors/Carbon Intensity/readme.md
Labels: independent-publisher-connector, deployed

#1193 New York Times (Independent Publisher)
  independent-publisher-connectors/New York Times/apiDefinition.swagger.json
  independent-publisher-connectors/New York Times/apiProperties.json
  independent-publisher-connectors/New York Times/readme.md
Labels: independent-publisher-connector, deployed

#1194 Clearbit (Independent Publisher)
  independent-publisher-connectors/Clearbit/apiDefinition.swagger.json
  independent-publisher-connectors/Clearbit/apiProperties.json
  independent-publisher-connectors/Clearbit/readme.md
Labels: independent-publisher-connector, deployed

#1195 MailboxValidator (Independent Publisher)
  independent-publisher-connectors/MailboxValidator/apiDefinition.swagger.json
  independent-publisher-connectors/MailboxValidator/apiProperties.json
  independent-publisher-connectors/MailboxValidator/readme.md
Labels: independent-publisher-connector, deployed

#1197 The Weather Channel (Independent Publisher)
  independent-publisher-connectors/The Weather Channel/apiDefinition.swagger.json
  independent-publisher-connectors/The Weather Channel/apiProperties.json
  independent-publisher-connectors/The Weather Channel/readme.md
Labels: independent-publisher-connector, deployed

#1192 Icon Horse (Independent Publisher)
  independent-publisher-connectors/Icon Horse/apiDefinition.swagger.json
  independent-publisher-connectors/Icon Horse/apiProperties.json
  independent-publisher-connectors/Icon Horse/readme.md
Labels: independent-publisher-connector, deployed

#1186 Federal Reserve Economic Data (FRED) (Independent Publisher)
  independent-publisher-connectors/Federal Reserve Economic Data/apiDefinition.swagger.json
  independent-publisher-connectors/Federal Reserve Economic Data/apiProperties.json
  independent-publisher-connectors/Federal Reserve Economic Data/readme.md
Labels: independent-publisher-connector, deployed

#1188 Unix Timestamp (Independent Publisher)
  independent-publisher-connectors/Unix Timestamp/apiDefinition.swagger.json
  independent-publisher-connectors/Unix Timestamp/apiProperties.json
  independent-publisher-connectors/Unix Timestamp/readme.md
Labels: independent-publisher-connector, deployed

#1231 Updated and added script
  certified-connectors/Data8/apiDefinition.swagger.json
  certified-connectors/Data8/apiProperties.json
  certified-connectors/Data8/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#1136 ORB Intelligence (Independent Publisher) (Student)
  independent-publisher-connectors/ORB Intelligence/README.md
  independent-publisher-connectors/ORB Intelligence/apiDefinition.swagger.json
  independent-publisher-connectors/ORB Intelligence/apiProperties.json
Labels: independent-publisher-connector, deployed

#1237 DocuSign Demo Connector (Certified Connector) - Add documents to envelope
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#1236 Softools connector
  certified-connectors/Softools/apiDefinition.swagger.json
  certified-connectors/Softools/apiProperties.json
  certified-connectors/Softools/readme.MD
Labels: certified-connector, Validation phase, needs:partner-attention

#1172 Microsoft D365CE v9 OnPrem (Independent Publisher)
  independent-publisher-connectors/Microsoft D365CE v9 OnPrem/apiDefinition.swagger.json
  independent-publisher-connectors/Microsoft D365CE v9 OnPrem/apiProperties.json
  independent-publisher-connectors/Microsoft D365CE v9 OnPrem/readme.md
Labels: independent-publisher-connector, deployed

#1223 Launch Library 2 by The Space Devs (Independent Publisher)
  independent-publisher-connectors/Launch Library 2/apiDefinition.swagger.json
  independent-publisher-connectors/Launch Library 2/apiProperties.json
  independent-publisher-connectors/Launch Library 2/readme.md
Labels: independent-publisher-connector, deployed

#1187 Coinbase (Independent Publisher)
  independent-publisher-connectors/Coinbase/apiDefinition.swagger.json
  independent-publisher-connectors/Coinbase/apiProperties.json
  independent-publisher-connectors/Coinbase/readme.md
Labels: independent-publisher-connector, deployed

#1245 Ideanote (Certified Connector)
  certified-connectors/Ideanote/README.md
  certified-connectors/Ideanote/apiDefinition.swagger.json
  certified-connectors/Ideanote/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1241 Adobe Creative Cloud Libraries (Certified Connector)
  certified-connectors/Adobe Creative Cloud Libraries/README.md
  certified-connectors/Adobe Creative Cloud Libraries/apiDefinition.swagger.json
  certified-connectors/Adobe Creative Cloud Libraries/apiProperties.json
Labels: certified-connector

#1226 allGeo Custom Connector Certification
  certified-connectors/allGeo/README.MD
  certified-connectors/allGeo/apiDefinition.swagger.json
  certified-connectors/allGeo/apiProperties.json
Labels: independent-publisher-connector, Validation phase, needs:partner-attention

#1233 Loripsum (Independent Publisher)
  independent-publisher-connectors/Loripsum/apiDefinition.swagger.json
  independent-publisher-connectors/Loripsum/apiProperties.json
  independent-publisher-connectors/Loripsum/readme.md
Labels: independent-publisher-connector, deployed

#1227 [Share-Effect] Fix status codes
  certified-connectors/ShareEffect/apiDefinition.swagger.json
Labels: certified-connector, needs:attention

#1255 Cognito Forms
  certified-connectors/Cognito Forms/apiDefinition.swagger.json
  certified-connectors/Cognito Forms/apiProperties.json
  certified-connectors/Cognito Forms/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#1251 Replicon tbp
  certified-connectors/Replicon/README.md
  certified-connectors/Replicon/apiDefinition.swagger.json
  certified-connectors/Replicon/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1266 Open-source SurveyMonkey Connector
  certified-connectors/SurveyMonkey/apiDefinition.swagger.json
  certified-connectors/SurveyMonkey/apiProperties.json
  certified-connectors/SurveyMonkey/readme.md
  certified-connectors/SurveyMonkey/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#1271 WorkSpan connector new actions to support report API
  certified-connectors/WorkSpan/apiDefinition.swagger.json
  certified-connectors/WorkSpan/apiProperties.json
Labels: independent-publisher-connector, Validation phase, needs:partner-attention

#1249 Jedox OData Hub Connector
  certified-connectors/Jedox OData Hub/apiDefinition.swagger.json
  certified-connectors/Jedox OData Hub/apiProperties.json
  certified-connectors/Jedox OData Hub/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention
