Repository microsoft/PowerPlatformConnectors, pull requests merged in 2021-10, with the labels that each got.

#1139 New version of WithoutWire Inventory Platform connector (with fixes/improvements after previous reviews)
  certified-connectors/WithoutWire Inventory Platform/apiDefinition.swagger.json
  certified-connectors/WithoutWire Inventory Platform/apiProperties.json
  certified-connectors/WithoutWire Inventory Platform/readme.md
Labels: certified-connector

#1138 Nextcom: Update Icon color hex
  certified-connectors/Nextcom/apiProperties.json
Labels: certified-connector

#1137 update links to the documentation site
  certified-connectors/Connective eSignatures/Readme.md
Labels: certified-connector

#1112 IN-D Insurance (ICD10/CPT autocoding)
  certified-connectors/IN-D Insurance (ICD10 & CPT autocoding)/README.md
  certified-connectors/IN-D Insurance (ICD10 & CPT autocoding)/apiDefinition.swagger.json
  certified-connectors/IN-D Insurance (ICD10 & CPT autocoding)/apiProperties.json
  certified-connectors/IN-D Insurance (ICD10 & CPT)/apiProperties.json
  certified-connectors/IN-D Insurance/Readme.md
  certified-connectors/IN-D Insurance/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1110 Enhanced the connector with new endpoints and relabeling the connecto…
  certified-connectors/RiskIQPassiveTotal/apiDefinition.swagger.json
  certified-connectors/RiskIQPassiveTotal/readme.md
Labels: certified-connector

#1153 Starting the Certification Process
  certified-connectors/AikiDocs/Readme.md
  certified-connectors/AikiDocs/apiDefinition.swagger.json
  certified-connectors/AikiDocs/apiProperties.json
Labels: certified-connector

#1147 Minor adjustment for peltarion-v.1.1 on dev branch
  certified-connectors/Peltarion/apiDefinition.swagger.json
Labels: certified-connector

#1097 Jira Search (Independent Publisher)
  independent-publisher-connectors/JiraSearch/apiDefinition.swagger.json
  independent-publisher-connectors/JiraSearch/readme.md
Labels: independent-publisher-connector, deployed

#1155 AXtension Content Gate - Connector updates
  certified-connectors/AXtension Content Gate/apiDefinition.swagger.json
Labels: certified-connector

#1156 timeghost: Bug fixes
  certified-connectors/timeghost/apiDefinition.swagger.json
Labels: certified-connector

#1157 Certified connector Peltarion | Minor typo fix and readme extension.
  certified-connectors/Peltarion/README.md
Labels: certified-connector

#1145 Added Spinpanel and connector files to the certified connectors folder to prepare for certification
  certified-connectors/Spinpanel/apiDefinition.swagger.json
  certified-connectors/Spinpanel/apiProperties.json
  certified-connectors/Spinpanel/readme.md
Labels: certified-connector

#1141 Initial commit
  certified-connectors/Secib/README.md
  certified-connectors/Secib/apiDefinition.swagger.json
  certified-connectors/Secib/apiProperties.json
Labels: certified-connector

#1163 DocJuris Connector v3.1
  certified-connectors/DocJuris/apiDefinition.swagger.json
Labels: certified-connector

#1220 HYAS Insight - Added C2 Attribution Actions
  certified-connectors/HYAS Insight/apiDefinition.swagger.json
  certified-connectors/HYAS Insight/apiProperties.json
  certified-connectors/HYAS Insight/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention
