Repository microsoft/PowerPlatformConnectors, pull requests merged in 2021-08, with the labels that each got.

#998 PowerTools PRO v1.4.0
  certified-connectors/PowerToolsPRO/apiDefinition.swagger.json
  certified-connectors/PowerToolsPRO/readme.md
Labels: certified-connector

#980 Added 11 new actions
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#979 Update ID Analyzer Connector
  certified-connectors/ID Analyzer/README.md
  certified-connectors/ID Analyzer/apiDefinition.swagger.json
Labels: certified-connector

#967 [Lang.ai] Update Connector Upload New files
  certified-connectors/Lang-ai/apiDefinition.swagger.json
  certified-connectors/Lang-ai/apiProperties.json
  certified-connectors/Lang-ai/readme.md
Labels: certified-connector

#999 Soft1
  certified-connectors/Soft1/README.md
  certified-connectors/Soft1/apiDefinition.swagger.json
  certified-connectors/Soft1/apiProperties.json
Labels: certified-connector

#1015 Adding Crypto Quote action to Aletheia connector
  certified-connectors/Aletheia/apiDefinition.swagger.json
Labels: certified-connector

#1022 Fix format
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#1023 timeghost: some improvements
  certified-connectors/timeghost/apiDefinition.swagger.json
Labels: certified-connector

#1016 Actsoft
  certified-connectors/Actsoft/README.md
  certified-connectors/Actsoft/apiDefinition.swagger.json
  certified-connectors/Actsoft/apiProperties.json
Labels: certified-connector

#1025 Adding Sub-folder API
  certified-connectors/Asite/Readme.md
  certified-connectors/Asite/apiDefinition.swagger.json
  certified-connectors/Asite/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#990 Etsy (Independent Publisher)
  independent-publisher-connectors/Etsy/apiDefinition.swagger.json
  independent-publisher-connectors/Etsy/apiProperties.json
  independent-publisher-connectors/Etsy/readme.md
Labels: independent-publisher-connector, deployed

#1004 Polaris PSA certified connector
  certified-connectors/Polaris PSA/README.md
  certified-connectors/Polaris PSA/apiDefinition.swagger.json
  certified-connectors/Polaris PSA/apiProperties.json
Labels: certified-connector, needs:partner-attention

#969 Add IronDefense custom connector for certification
  certified-connectors/IronDefense/Readme.md
  certified-connectors/IronDefense/apiDefinition.swagger.json
  certified-connectors/IronDefense/apiProperties.json
Labels: certified-connector

#1029 Pug gamified engagement
  certified-connectors/PUG Gamified Engagement/Readme.md
  certified-connectors/PUG Gamified Engagement/apiDefinition.swagger.json
  certified-connectors/PUG Gamified Engagement/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1041 IPQualityScore Open Source Review (Version 2.0)
  certified-connectors/IPQualityScore/apiDefinition.swagger.json
Labels: certified-connector, needs:partner-attention

#1013 Uploading IA-Connect Web Browser connector for certification
  certified-connectors/IA-Connect Web Browser/README.md
  certified-connectors/IA-Connect Web Browser/apiDefinition.swagger.json
  certified-connectors/IA-Connect Web Browser/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1012 Uploading IA-Connect UI connector for certification
  certified-connectors/IA-Connect UI/README.md
  certified-connectors/IA-Connect UI/apiDefinition.swagger.json
  certified-connectors/IA-Connect UI/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1011 Uploading IA-Connect Session connector for certification
  certified-connectors/IA-Connect Session/README.md
  certified-connectors/IA-Connect Session/apiDefinition.swagger.json
  certified-connectors/IA-Connect Session/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1010 Uploading IA-Connect SAP GUI connector for certification
  certified-connectors/IA-Connect SAP GUI/README.md
  certified-connectors/IA-Connect SAP GUI/apiDefinition.swagger.json
  certified-connectors/IA-Connect SAP GUI/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1009 Uploading IA-Connect Microsoft Office connector for certification
  certified-connectors/IA-Connect Microsoft Office/README.md
  certified-connectors/IA-Connect Microsoft Office/apiDefinition.swagger.json
  certified-connectors/IA-Connect Microsoft Office/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1008 Uploading IA-Connect Mainframe connector for certification
  certified-connectors/IA-Connect Mainframe/README.md
  certified-connectors/IA-Connect Mainframe/apiDefinition.swagger.json
  certified-connectors/IA-Connect Mainframe/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1007 Uploading IA-Connect Java connector for certification
  certified-connectors/IA-Connect Java/README.md
  certified-connectors/IA-Connect Java/apiDefinition.swagger.json
  certified-connectors/IA-Connect Java/apiProperties.json
Labels: certified-connector, needs:partner-attention

#1049 Cloudspark EXP Leave
  certified-connectors/Cloudspark EXP Leave/README.md
  certified-connectors/Cloudspark EXP Leave/apiDefinition.swagger.json
  certified-connectors/Cloudspark EXP Leave/apiProperties.json
Labels: certified-connector

#1043 Hashify (Independent Publisher)
  independent-publisher-connectors/Hashify/apiDefinition.swagger.json
  independent-publisher-connectors/Hashify/apiProperties.json
  independent-publisher-connectors/Hashify/readme.md
Labels: independent-publisher-connector, deployed

#1027 What3Words (Independent Publisher)
  independent-publisher-connectors/What3Words/apiDefinition.swagger.json
  independent-publisher-connectors/What3Words/apiProperties.json
  independent-publisher-connectors/What3Words/readme.md
Labels: independent-publisher-connector, deployed

#1026 New connector : Sociabble
  certified-connectors/Sociabble/apiDefinition.swagger.json
  certified-connectors/Sociabble/apiProperties.json
  certified-connectors/Sociabble/readme.md
Labels: certified-connector

#1018 Yelp (Independent Publisher)
  independent-publisher-connectors/Yelp/apiDefinition.swagger.json
  independent-publisher-connectors/Yelp/apiProperties.json
  independent-publisher-connectors/Yelp/readme.md
Labels: independent-publisher-connector, deployed

#1073 tyntec WhatsApp Update
  certified-connectors/tyntec-WA/apiDefinition.swagger.json
Labels: certified-connector
