Repository microsoft/PowerPlatformConnectors, pull requests merged in 2021-09, with the labels that each got.

#1058 Farsight DNSDB Open Source Submission Pull Request
  certified-connectors/Farsight Security/README.md
  certified-connectors/Farsight Security/apiDefinition.swagger.json
  certified-connectors/Farsight Security/apiProperties.json
Labels: certified-connector

#996 Discord (Independent Publisher)
  independent-publisher-connectors/Discord/apiDefinition.swagger.json
  independent-publisher-connectors/Discord/apiProperties.json
  independent-publisher-connectors/Discord/readme.md
Labels: independent-publisher-connector, deployed

#994 Spotify (Independent Publisher)
  independent-publisher-connectors/Spotify/apiDefinition.swagger.json
  independent-publisher-connectors/Spotify/apiProperties.json
  independent-publisher-connectors/Spotify/readme.md
Labels: independent-publisher-connector, deployed

#1059 Added Issue template forms
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/New_connector_request.md
  .github/ISSUE_TEMPLATE/Service_team_request.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/new_connector_request.yaml
  .github/ISSUE_TEMPLATE/service_team_request.yaml
Labels: needs:attention

#1085 Polaris PSA
  certified-connectors/Polaris PSA/README.md
  certified-connectors/Polaris PSA/apiDefinition.swagger.json
  certified-connectors/Polaris PSA/apiProperties.json
Labels: certified-connector

#1047 Progressus Advanced Projects
  certified-connectors/Progressus Advanced Projects/apiDefinition.swagger.json
  certified-connectors/Progressus Advanced Projects/apiProperties.json
  certified-connectors/Progressus Advanced Projects/images/Connector-1.png
  certified-connectors/Progressus Advanced Projects/images/Connector-2.png
  certified-connectors/Progressus Advanced Projects/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#1092 Added additional fields to SendMessage methods
  certified-connectors/SmartDialog/apiDefinition.swagger.json
Labels: certified-connector

#1096 Assently E-Sign updates readme file
  certified-connectors/Assently E-Sign/Readme.md
Labels: certified-connector

#1095 Add new actions
  certified-connectors/Tallyfy/apiDefinition.swagger.json
  certified-connectors/Tallyfy/readme.md
Labels: certified-connector

#1090 Fix operations for remove webhook action
  certified-connectors/Plumsail Documents/apiDefinition.swagger.json
Labels: certified-connector

#1103 Fixes Connector archive validation
  certified-connectors/tyntec-WA/apiDefinition.swagger.json
Labels: certified-connector

#1100 Add publisher and stackOwner on API properties
  certified-connectors/Tallyfy/apiProperties.json
Labels: certified-connector

#1102 Lassox/v1.2
  certified-connectors/LassoX/apiDefinition.swagger.json
  certified-connectors/LassoX/readme.md
Labels: certified-connector

#1101 dvelop connector Review20210908
  certified-connectors/dvelop/apiDefinition.swagger.json
Labels: certified-connector

#1089 adding connector HoneyWellForge
  certified-connectors/HoneywellForge/README.md
  certified-connectors/HoneywellForge/apiDefinition.swagger.json
  certified-connectors/HoneywellForge/apiProperties.json
Labels: certified-connector

#1115 Update iconBrandColor
  certified-connectors/Polaris PSA/apiProperties.json
Labels: certified-connector

#1111 BuildingMindsTwinCore (certified-connectors)
  certified-connectors/BuildingMindsTwin/README.md
  certified-connectors/BuildingMindsTwin/apiDefinition.swagger.json
  certified-connectors/BuildingMindsTwin/apiProperties.json
Labels: certified-connector

#1108 Update field visibility
  certified-connectors/Tallyfy/apiDefinition.swagger.json
Labels: certified-connector

#1030 AccuWeather (Independent Connector)
  independent-publisher-connectors/AccuWeather/apiDefinition.swagger.json
  independent-publisher-connectors/AccuWeather/apiProperties.json
  independent-publisher-connectors/AccuWeather/readme.md
Labels: independent-publisher-connector, deployed

#1114 New connector : Sociabble (Updated)
  certified-connectors/Sociabble/apiDefinition.swagger.json
Labels: certified-connector, needs:partner-attention

#1124 Fix typo for Recipient Type
  certified-connectors/DocuSign/apiDefinition.swagger.json
Labels: certified-connector

#1123 Nextcom
  certified-connectors/Nextcom/README.md
  certified-connectors/Nextcom/apiDefinition.swagger.json
  certified-connectors/Nextcom/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1135 Certified connector Peltarion version 1.1 updates.
  certified-connectors/Peltarion/README.md
  certified-connectors/Peltarion/apiDefinition.swagger.json
Labels: certified-connector

#1134 brand color changes done for Zohosign.
  certified-connectors/ZohoSign/apiProperties.json
Labels: certified-connector

#1129 Staffbase Connector - Background Color fix
  certified-connectors/Staffbase/apiProperties.json
Labels: certified-connector
