Repository microsoft/PowerPlatformConnectors, pull requests merged in 2021-06, with the labels that each got.

#868 ip doc
  README.md
Labels: documentation

#860 April 2021 updates, delete constituent codes, get FGL gifts, etc.
  certified-connectors/Blackbaud Raiser's Edge NXT/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT/apiProperties.json
Labels: certified-connector

#853 Upload Lang.ai Connector
  certified-connectors/Lang-ai/apiDefinition.swagger.json
  certified-connectors/Lang-ai/apiProperties.json
  certified-connectors/Lang-ai/readme.md
Labels: certified-connector

#843 Zohosign ms powerautomate change
  certified-connectors/ZohoSign/apiDefinition.swagger.json
  certified-connectors/ZohoSign/apiProperties.json
  certified-connectors/ZohoSign/readme.md
Labels: certified-connector

#873 In d aadhaar number masking
  certified-connectors/IN-D Aadhaar Number Masking/README.md
  certified-connectors/IN-D Aadhaar Number Masking/apiDefinition.swagger.json
  certified-connectors/IN-D Aadhaar Number Masking/apiProperties.json
Labels: certified-connector

#867 SeeBotRun Link Connector
  certified-connectors/SeeBotRun Link/apiDefinition.swagger.json
  certified-connectors/SeeBotRun Link/apiProperties.json
  certified-connectors/SeeBotRun Link/readme.md
Labels: certified-connector

#861 Adds Assently E-Sign custom connector for certification
  certified-connectors/Assently E-Sign/Readme.md
  certified-connectors/Assently E-Sign/apiDefinition.swagger.json
  certified-connectors/Assently E-Sign/apiProperties.json
Labels: certified-connector

#883 Encodian June 21 Release
  certified-connectors/Encodian/apiDefinition.swagger.json
Labels: certified-connector

#851 Updates for LMS365 connector
  certified-connectors/LMS365/apiDefinition.swagger.json
Labels: certified-connector

#862 Update swagger
  certified-connectors/Powell Teams/README.md
  certified-connectors/Powell Teams/apiDefinition.swagger.json
  certified-connectors/Powell Teams/apiProperties.json
Labels: certified-connector

#881 Initial commit of DeskDirector connector
  certified-connectors/DeskDirector/README.md
  certified-connectors/DeskDirector/apiDefinition.swagger.json
  certified-connectors/DeskDirector/apiProperties.json
Labels: certified-connector

#816 In d payables
  certified-connectors/IN-D Payables/Readme.md
  certified-connectors/IN-D Payables/apiDefinition.swagger.json
  certified-connectors/IN-D Payables/apiProperties.json
Labels: certified-connector

#894 Xero Projects
  independent-publisher-connectors/Xero Projects/README.md
  independent-publisher-connectors/Xero Projects/apiDefinition.swagger.json
  independent-publisher-connectors/Xero Projects/apiProperties.json
Labels: independent-publisher-connector

#893 Xero Payroll - UK
  independent-publisher-connectors/Xero Payroll - UK/README.md
  independent-publisher-connectors/Xero Payroll - UK/apiDefinition.swagger.json
  independent-publisher-connectors/Xero Payroll - UK/apiProperties.json
Labels: independent-publisher-connector

#876 Update README.md again
  README.md
Labels: documentation

#905 Missing hyperlink
  independent-publisher-connectors/readme.md
Labels: certified-connector

#903 Added files for certification
  certified-connectors/HARNESS PDFx/README.md
  certified-connectors/HARNESS PDFx/apiDefinition.swagger.json
  certified-connectors/HARNESS PDFx/apiProperties.json
Labels: certified-connector

#880 custom connector for certification - nps.today
  certified-connectors/nps.today/apiDefinition.swagger.json
  certified-connectors/nps.today/apiProperties.json
  certified-connectors/nps.today/readme.md
Labels: certified-connector

#917 Encodian - June 21 Release 21
  certified-connectors/Encodian/apiDefinition.swagger.json
Labels: certified-connector

#916 Added Insider Trading trigger to Aletheia connector
  certified-connectors/Aletheia/apiDefinition.swagger.json
  certified-connectors/Aletheia/readme.md
Labels: certified-connector

#914 Fix trigger
  certified-connectors/Plumsail Documents/apiDefinition.swagger.json
Labels: certified-connector

#909 Add 4 new triggers to the connector
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector
