Repository microsoft/PowerPlatformConnectors, pull requests merged in 2021-07, with the labels that each got.

#925 Updated CivicPlus Transform connector
  certified-connectors/CivicPlus/README.md
  certified-connectors/CivicPlus/apiDefinition.swagger.json
  certified-connectors/CivicPlus/apiProperties.json
Labels: certified-connector

#931 Update readme.md
  independent-publisher-connectors/readme.md
Labels: documentation

#932 Removing top requests that have been taken care of
  independent-publisher-connectors/readme.md
Labels: documentation

#913 Refactoring of IconBrandColor - nps.today certified connector
  certified-connectors/nps.today/apiProperties.json
Labels: certified-connector

#933 Adding a bullet point for descriptions to the PR template
  .github/pull_request_template.md
Labels: documentation

#928 Aletheia Insider Trading Trigger bug fixes
  certified-connectors/Aletheia/apiDefinition.swagger.json
Labels: certified-connector

#927 Update WorkPoint Connector to version 1.1
  certified-connectors/WorkPoint/apiDefinition.swagger.json
Labels: certified-connector

#926 Kanban Tool connector ready to certify
  certified-connectors/Kanban Tool/Readme.md
  certified-connectors/Kanban Tool/apiDefinition.swagger.json
  certified-connectors/Kanban Tool/apiProperties.json
Labels: certified-connector

#923 Add User Agent Header to RP Requests
  tools/paconn-cli/paconn/apimanager/powerappsrp.py
Labels: paconn-cli

#922 LAWLIFT connector
  certified-connectors/LAWLIFT/apiDefinition.swagger.json
  certified-connectors/LAWLIFT/apiProperties.json
  certified-connectors/LAWLIFT/readme.md
Labels: certified-connector

#918 Almabase: Ready for Certification
  certified-connectors/Almabase/apiDefinition.swagger.json
  certified-connectors/Almabase/apiProperties.json
  certified-connectors/Almabase/readme.md
Labels: certified-connector

#882 [GroupMgr] Group model change
  certified-connectors/GroupMgr/apiDefinition.swagger.json
Labels: certified-connector

#871 feat(Charles): add initial implementation
  certified-connectors/Charles Universe/README.md
  certified-connectors/Charles Universe/apiDefinition.swagger.json
  certified-connectors/Charles Universe/apiProperties.json
Labels: certified-connector

#937 [Ordance Survey Places] Update host address from api.ordnancesurvey.co.uk to api.os.uk
  certified-connectors/Ordnance Survey Places/apiDefinition.swagger.json
  certified-connectors/Ordnance Survey Places/readme.md
Labels: certified-connector

#934 Submit Gratavid certified connector
  certified-connectors/Gratavid/README.md
  certified-connectors/Gratavid/apiDefinition.swagger.json
  certified-connectors/Gratavid/apiProperties.json
Labels: certified-connector

#929 Integration Toolbox
  certified-connectors/Integration Toolbox/README.md
  certified-connectors/Integration Toolbox/apiDefinition.swagger.json
  certified-connectors/Integration Toolbox/apiProperties.json
Labels: certified-connector

#919 Add Document AI Konfuzio as Certified Connector
  certified-connectors/document-ai-konfuzio/README.md
  certified-connectors/document-ai-konfuzio/apiDefinition.swagger.json
  certified-connectors/document-ai-konfuzio/apiProperties.json
Labels: certified-connector

#911 TxtSync SMS Connector - ready for certification
  certified-connectors/TxtSync/apiDefinition.swagger.json
  certified-connectors/TxtSync/apiProperties.json
  certified-connectors/TxtSync/readme.md
Labels: certified-connector

#935 [lang-ai] Update iconBrandColor
  certified-connectors/Lang-ai/apiProperties.json
Labels: certified-connector

#947 Change the versioning from 0.0.16 to 0.0.17
  tools/paconn-cli/paconn/__init__.py
  tools/paconn-cli/paconn/operations/json_keys.py
  tools/paconn-cli/setup.py
Labels: paconn-cli

#807 Update virus total connector handle breaking change
  certified-connectors/VirusTotal/apiDefinition.swagger.json
  certified-connectors/VirusTotal/apiProperties.json
Labels: certified-connector

#950 Initial "WithoutWire Inventory Platform" connector creation (with fixes)
  certified-connectors/LMS365/apiDefinition.swagger.json
  certified-connectors/WithoutWire Inventory Platform/apiDefinition.swagger.json
  certified-connectors/WithoutWire Inventory Platform/apiProperties.json
  certified-connectors/WithoutWire Inventory Platform/readme.md
Labels: certified-connector

#949 Made Harness lowercase in title
  certified-connectors/HARNESS PDFx/apiDefinition.swagger.json
Labels: certified-connector

#942 create WenDocs Linker
  certified-connectors/WenDocs Linker/README.md
  certified-connectors/WenDocs Linker/apiDefinition.swagger.json
  certified-connectors/WenDocs Linker/apiProperties.json
Labels: certified-connector

#954 Ordnance Survey Places - swagger url updates
  certified-connectors/Ordnance Survey Places/apiDefinition.swagger.json
Labels: certified-connector

#951 Remove custom fields from schema definition
  certified-connectors/intelliHR/apiDefinition.swagger.json
Labels: certified-connector

#961 Added screenshot requirement
  independent-publisher-connectors/readme.md
Labels: independent-publisher-connector

#953 Kanban Tool connector - label fixes
  certified-connectors/Kanban Tool/apiDefinition.swagger.json
  certified-connectors/Kanban Tool/apiProperties.json
Labels: certified-connector

#943 Add new Actions
  certified-connectors/Yeeflow/apiDefinition.swagger.json
Labels: certified-connector

#964 Updating connector before certification
  certified-connectors/LAWLIFT/apiDefinition.swagger.json
Labels: certified-connector

#963 Fix bug of getting file content of Assently case documents
  certified-connectors/Assently E-Sign/apiDefinition.swagger.json
Labels: certified-connector

#962 Added dynamic enum values for webhook events & enhancements (Almabase July 2021 updates)
  certified-connectors/Almabase/apiDefinition.swagger.json
  certified-connectors/Almabase/apiProperties.json
Labels: certified-connector

#878 Jira Search independent connector
  independent-publisher-connectors/JiraSearch/apiDefinition.swagger.json
  independent-publisher-connectors/JiraSearch/apiProperties.json
  independent-publisher-connectors/JiraSearch/readme.md
Labels: deployed, independent-publisher-connector

#865 IP Connector Airtable
  independent-publisher-connectors/Airtable/apiDefinition.swagger.json
  independent-publisher-connectors/Airtable/apiProperties.json
  independent-publisher-connectors/Airtable/readme.md
Labels: deployed, independent-publisher-connector

#852 [Independent-Publisher] v1 Jira Connector
  independent-publisher-connectors/Atlassian Jira/README.md
  independent-publisher-connectors/Atlassian Jira/apiDefinition.swagger.json
  independent-publisher-connectors/Atlassian Jira/apiProperties.json
Labels: certification-in-progress, independent-publisher-connector

#906 Uk government bank holidays ipc
  independent-publisher-connectors/U.K. Government Bank Holidays/README.md
  independent-publisher-connectors/U.K. Government Bank Holidays/UK-Bank-Holidays.swagger.json
  independent-publisher-connectors/U.K. Government Bank Holidays/apiProperties.json
Labels: deployed, independent-publisher-connector

#907 Care Quality Commission for England I.P.C.
  independent-publisher-connectors/Care Quaility Comission For England/CQC-Connector.swagger.json
  independent-publisher-connectors/Care Quaility Comission For England/README.md
  independent-publisher-connectors/Care Quaility Comission For England/apiProperties.json
Labels: certification-in-progress, independent-publisher-connector

#886 Hubspot CMS
  independent-publisher-connectors/HubSpot CMS/README.md
  independent-publisher-connectors/HubSpot CMS/apiDefinition.swagger.json
  independent-publisher-connectors/HubSpot CMS/apiProperties.json
Labels: certification-in-progress, independent-publisher-connector

#887 Hubspot Marketing
  independent-publisher-connectors/HubSpot Marketing/README.md
  independent-publisher-connectors/HubSpot Marketing/apiDefinition.swagger.json
  independent-publisher-connectors/HubSpot Marketing/apiProperties.json
Labels: certification-in-progress, independent-publisher-connector

#904 HubSpot CRM
  independent-publisher-connectors/HubSpot CRM/README.md
  independent-publisher-connectors/HubSpot CRM/apiDefinition.swagger.json
  independent-publisher-connectors/HubSpot CRM/apiProperties.json
  independent-publisher-connectors/HubSpot CRM/msedge_KE1O1FSJEg.png
  independent-publisher-connectors/HubSpot CRM/msedge_Kl4ymVJGp0.png
Labels: certification-in-progress, independent-publisher-connector

#971 Initial commit SigmaConsoCR connector
  certified-connectors/SigmaConsoCR/apiDefinition.swagger.json
  certified-connectors/SigmaConsoCR/apiProperties.json
  certified-connectors/SigmaConsoCR/readme.md
Labels: certified-connector

#981 Kanban Tool - responses fixes
  certified-connectors/Kanban Tool/apiDefinition.swagger.json
Labels: certified-connector

#978 Add Webhook Fields
  certified-connectors/Ephesoft/apiDefinition.swagger.json
Labels: certified-connector

#975 IPQualityScore Custom Connector Submission for Open Source Process Review
  certified-connectors/IPQualityScore/apiDefinition.swagger.json
  certified-connectors/IPQualityScore/apiProperties.json
  certified-connectors/IPQualityScore/readme.md
Labels: certified-connector

#986 Fixed the directory name
  README.md
Labels: independent-publisher-connector, needs:attention

#988 New Connector: Egnyte
  certified-connectors/Egnyte/README.md
  certified-connectors/Egnyte/apiDefinition.swagger.json
  certified-connectors/Egnyte/apiProperties.json
Labels: certified-connector
