Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-03, with the labels that each got.

#1301 Exasol (Non-Microsoft Publisher)
  certified-connectors/Exasol/README.md
  certified-connectors/Exasol/apiDefinition.swagger.json
  certified-connectors/Exasol/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1412 Revelation helpdesk connector certification
  certified-connectors/Revelation helpdesk/README.md
  certified-connectors/Revelation helpdesk/apiDefinition.swagger.json
  certified-connectors/Revelation helpdesk/apiProperties.json
Labels: certified-connector

#1372 PKIsigning platform (certified connector)
  certified-connectors/PKIsigning/apiDefinition.swagger.json
  certified-connectors/PKIsigning/apiProperties.json
  certified-connectors/PKIsigning/readme.md
Labels: certified-connector

#1441 Update GoFileRoom connector files in repo
  certified-connectors/gofileroom/apiDefinition.swagger.json
  certified-connectors/gofileroom/apiProperties.json
Labels: certified-connector

#1447 updated brand color, update icon and added assests folder and files
  certified-connectors/InEight/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1401 Added YakChat connector files
  certified-connectors/YakChat/Readme.md
  certified-connectors/YakChat/apiDefinition.swagger.json
  certified-connectors/YakChat/apiProperties.json
Labels: certified-connector

#1380 Renamed 'Text Analytics' connector to 'Language Service'
  certified-connectors/CognitiveServicesTextAnalytics/Readme.md
  certified-connectors/CognitiveServicesTextAnalytics/apiDefinition.swagger.json
Labels: certified-connector

#1362 EmojiHub (Independent Publisher)
  independent-publisher-connectors/EmojiHub/apiDefinition.swagger.json
  independent-publisher-connectors/EmojiHub/apiProperties.json
  independent-publisher-connectors/EmojiHub/readme.md
Labels: independent-publisher-connector, deployed, deployment-in-progress

#1410 Infura Ethereum (Independent Publisher)
  independent-publisher-connectors/Infura Ethereum/README.md
  independent-publisher-connectors/Infura Ethereum/apiDefinition.swagger.json
  independent-publisher-connectors/Infura Ethereum/apiProperties.json
  independent-publisher-connectors/Infura Ethereum/script.csx
Labels: independent-publisher-connector, deployed

#1333 AIHW My Hospitals (Independent Publisher)
  independent-publisher-connectors/MyHospitals by AIHW/Readme.md
  independent-publisher-connectors/MyHospitals by AIHW/apiDefinition.swagger.json
  independent-publisher-connectors/MyHospitals by AIHW/apiProperties.json
Labels: independent-publisher-connector, deployed

#1361 Word Cloud by Textvis (Independent Publisher)
  independent-publisher-connectors/Word Cloud by Textvis/apiDefinition.swagger.json
  independent-publisher-connectors/Word Cloud by Textvis/apiProperties.json
  independent-publisher-connectors/Word Cloud by Textvis/readme.md
Labels: independent-publisher-connector, deployed

#1366 CyberProof connector
  certified-connectors/CyberProof/apiDefinition.swagger.json
  certified-connectors/CyberProof/apiProperties.json
  certified-connectors/CyberProof/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#1340 Open-source Mural Connector.
  certified-connectors/Mural/README.md
  certified-connectors/Mural/apiDefinition.swagger.json
  certified-connectors/Mural/apiProperties.json
Labels: certified-connector

#1367 nunify Connector
  certified-connectors/nunify/apiDefinition.swagger.json
  certified-connectors/nunify/apiProperties.json
  certified-connectors/nunify/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#1420 My Acclaro
  certified-connectors/My Acclaro/README.md
  certified-connectors/My Acclaro/apiDefinition.swagger.json
  certified-connectors/My Acclaro/apiProperties.json
Labels: custom-connector, Validation phase, needs:partner-attention

#1389 Iconfirm (Non-Microsoft Publisher)
  certified-connectors/Iconfirm/apiDefinition.swagger.json
  certified-connectors/Iconfirm/apiProperties.json
  certified-connectors/Iconfirm/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#1370 Tribal (Non-Microsoft Publisher)
  certified-connectors/Tribal/README.md
  certified-connectors/Tribal/apiDefinition.swagger.json
  certified-connectors/Tribal/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1423 submitting inQuba Journey Connector for Certification
  certified-connectors/inQuba Journey/apiDefinition.swagger.json
  certified-connectors/inQuba Journey/apiProperties.json
  certified-connectors/inQuba Journey/readme.md
Labels: custom-connector, Validation phase, needs:partner-attention

#1509 Initial version of HtmlToText custom connector
  custom-connectors/HtmlToText/apiDefinition.swagger.json
  custom-connectors/HtmlToText/apiProperties.json
  custom-connectors/HtmlToText/readme.md
  custom-connectors/HtmlToText/script.csx
Labels: custom-connector
