Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-09, with the labels that each got.

#1935 Tribal/mszy/doc update
  certified-connectors/Tribal/README.md
Labels: certified-connector

#1934 Replicon Connector (update)
  certified-connectors/Replicon/apiDefinition.swagger.json
Labels: certified-connector

#1931 Iconfirm connector
  certified-connectors/Iconfirm/apiDefinition.swagger.json
  certified-connectors/Iconfirm/apiProperties.json
  certified-connectors/Iconfirm/readme.md
Labels: certified-connector, needs:partner-attention, New

#1349 HubSpot CRM (Independent Publisher) v1.1 - Add legacy scope for tickets
  independent-publisher-connectors/HubSpot CRM/apiDefinition.swagger.json
  independent-publisher-connectors/HubSpot CRM/apiProperties.json
Labels: independent-publisher-connector, deployed

#1870 Added contact info to OpenAI connector
  independent-publisher-connectors/OpenAI/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1878 Square Payments (Independent Publisher) v1.2
  independent-publisher-connectors/Square Payments/apiDefinition.swagger.json
  independent-publisher-connectors/Square Payments/apiProperties.json
Labels: independent-publisher-connector, deployed

#1879 Square Business (Independent Publisher) v1.2
  independent-publisher-connectors/Square Business/apiDefinition.swagger.json
  independent-publisher-connectors/Square Business/apiProperties.json
Labels: independent-publisher-connector, deployed

#1893 Near Earth Object Web Service (Independent Publisher)
  independent-publisher-connectors/Near Earth Object Web Service/apiDefinition.swagger.json
  independent-publisher-connectors/Near Earth Object Web Service/apiProperties.json
  independent-publisher-connectors/Near Earth Object Web Service/readme.md
Labels: independent-publisher-connector, deployed, New

#1824 GMO Sign (Certified Connector)
  certified-connectors/GMO Sign/Readme.md
  certified-connectors/GMO Sign/apiDefinition.swagger.json
  certified-connectors/GMO Sign/apiProperties.json
Labels: certified-connector, New

#1941 Secib - adding new operations (Certified Connector)
  certified-connectors/Secib/README.md
  certified-connectors/Secib/apiDefinition.swagger.json
Labels: certified-connector

#1942 Connect2All - Synchronous action
  certified-connectors/Connect2All On-Premises/apiDefinition.swagger.json
  certified-connectors/Connect2All/apiDefinition.swagger.json
Labels: certified-connector

#1944 New Action to get abandoned checkouts, and bug fixes
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#1945 PowerAssist patch-1 bug fixes
  certified-connectors/PowerAssist/apiDefinition.swagger.json
  certified-connectors/PowerAssist/apiProperties.json
Labels: certified-connector, New

#1943 initial commit - RegexFlow Regular Expression
  certified-connectors/RegexFlow Regular Expression/apiDefinition.swagger.json
  certified-connectors/RegexFlow Regular Expression/apiProperties.json
  certified-connectors/RegexFlow Regular Expression/readme.md
Labels: certified-connector, New

#1938 Mobili Stotele
  certified-connectors/Mobili Stotele/Readme.md
  certified-connectors/Mobili Stotele/apiDefinition.swagger.json
  certified-connectors/Mobili Stotele/apiProperties.json
Labels: certified-connector, New

#1946 PowerAssist patch-2 removed unneeded string typings
  certified-connectors/PowerAssist/apiDefinition.swagger.json
Labels: certified-connector, New

#1949 Updated apiProperties.json
  certified-connectors/Advanced Data Operations/apiProperties.json
Labels: certified-connector, New

#1953 Make some Text Request parameters optional
  certified-connectors/Text Request/apiDefinition.swagger.json
Labels: certified-connector, New

#1852 Notion (Independent Publisher Connector)
  independent-publisher-connectors/Notion/Readme.md
  independent-publisher-connectors/Notion/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1954 Add verification types, Embedded signing URL, and Embedded sender URL features
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector

#1951 Update to PowerTools LITE version 3.0
  certified-connectors/PowerToolsLITE/apiDefinition.swagger.json
  certified-connectors/PowerToolsLITE/apiProperties.json
  certified-connectors/PowerToolsLITE/readme.md
Labels: certified-connector

#1900 Mockaroo (Independent Publisher)
  independent-publisher-connectors/Mockaroo/README.MD
  independent-publisher-connectors/Mockaroo/apiDefinition.swagger.json
  independent-publisher-connectors/Mockaroo/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1926 USGS Earthquake Hazards (Independent Publisher)
  independent-publisher-connectors/USGS Earthquake Hazards/apiDefinition.swagger.json
  independent-publisher-connectors/USGS Earthquake Hazards/apiProperties.json
  independent-publisher-connectors/USGS Earthquake Hazards/readme.md
Labels: independent-publisher-connector, deployed, New

#1903 Mapbox (Independent Publisher)
  independent-publisher-connectors/Mapbox/Readme.md
  independent-publisher-connectors/Mapbox/apiDefinition.swagger.json
  independent-publisher-connectors/Mapbox/apiProperties.json
Labels: independent-publisher-connector, deployed, New, Student

#1936 You Need A Budget (Independent Publisher)
  independent-publisher-connectors/You Need A Budget/apiDefinition.swagger.json
  independent-publisher-connectors/You Need A Budget/apiProperties.json
  independent-publisher-connectors/You Need A Budget/readme.md
Labels: independent-publisher-connector, deployed, New

#1924 SMP
  certified-connectors/Cireson Service Manager Portal/apiDefinition.swagger.json
  certified-connectors/Cireson Service Manager Portal/apiProperties.json
  certified-connectors/Cireson Service Manager Portal/readme.md
Labels: certified-connector, New

#1965 Meisterplan Connector: Removed securityDefinitions from swagger json
  certified-connectors/Meisterplan/apiDefinition.swagger.json
Labels: certified-connector

#1956 UiPath Orchestrator
  certified-connectors/UiPath Orchestrator/ReadMe.md
  certified-connectors/UiPath Orchestrator/apiDefinition.swagger.json
  certified-connectors/UiPath Orchestrator/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#1966 Tesseron ASM Basic Data
  certified-connectors/Tesseron ASM Basic Data/apiDefinition.swagger.json
  certified-connectors/Tesseron ASM Basic Data/apiProperties.json
  certified-connectors/Tesseron ASM Basic Data/readme.md
Labels: certified-connector, New

#1970 Icon color and Runtime Urls
  certified-connectors/UiPath Orchestrator/apiProperties.json
Labels: certified-connector, New

#1927 Fantasy Premier League (Independent Publisher)
  independent-publisher-connectors/Fantasy Premier League/README.md
  independent-publisher-connectors/Fantasy Premier League/apiDefinition.swagger.json
  independent-publisher-connectors/Fantasy Premier League/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1939 Connpass (Independent Publisher)
  independent-publisher-connectors/Connpass/Readme.md
  independent-publisher-connectors/Connpass/apiDefinition.swagger.json
  independent-publisher-connectors/Connpass/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1972 Update to Staging Urls During Microsoft Review
  certified-connectors/UiPath Orchestrator/apiDefinition.swagger.json
  certified-connectors/UiPath Orchestrator/apiProperties.json
Labels: certified-connector, New

#1973 Update request body parameters in Zippydoc connector
  certified-connectors/Zippydoc/apiDefinition.swagger.json
  certified-connectors/Zippydoc/apiProperties.json
Labels: certified-connector, New

#1969 Cloud BOT (Certified Connector)
  certified-connectors/Cloud BOT/Readme.md
  certified-connectors/Cloud BOT/apiDefinition.swagger.json
  certified-connectors/Cloud BOT/apiProperties.json
Labels: certified-connector

#1977 Added "EnrollToMultiple" session enrollment type
  certified-connectors/LMS365/apiDefinition.swagger.json
Labels: certified-connector

#1988 Swagger and readme files updated after review
  certified-connectors/Power Textor/README.md
  certified-connectors/Power Textor/apiDefinition.swagger.json
Labels: certified-connector, New

#1962 BiG EVAL (Certified Connector)
  certified-connectors/BiG EVAL/Readme.md
  certified-connectors/BiG EVAL/apiDefinition.swagger.json
  certified-connectors/BiG EVAL/apiProperties.json
Labels: certified-connector, New

#1952 N able cloud user hub cert validation
  certified-connectors/N-able Cloud User Hub/apiDefinition.swagger.json
  certified-connectors/N-able Cloud User Hub/apiProperties.json
  certified-connectors/N-able Cloud User Hub/readme.md
Labels: certified-connector, New

#1983 Added new action
  certified-connectors/Converter by Power2Apps/Readme.md
  certified-connectors/Converter by Power2Apps/apiDefinition.swagger.json
  certified-connectors/Converter by Power2Apps/apiProperties.json
Labels: certified-connector

#1989 Add SMS delivery of envelope
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector

#1997 timeghost: Add project template
  certified-connectors/timeghost/apiDefinition.swagger.json
Labels: certified-connector

#1968 Initial commit.
  certified-connectors/InfoQuery Title Explorer/README.md
  certified-connectors/InfoQuery Title Explorer/apiDefinition.swagger.json
  certified-connectors/InfoQuery Title Explorer/apiProperties.json
Labels: certified-connector, New

#2005 Icon Brand Color
  certified-connectors/Cireson Service Manager Portal/apiProperties.json
Labels: certified-connector, New

#1848 GitLab (Independent Publisher)
  independent-publisher-connectors/GitLab/apiDefinition.swagger.json
  independent-publisher-connectors/GitLab/readme.md
Labels: independent-publisher-connector, deployed

#1933 Badgr (Independent Publisher) v1.1
  independent-publisher-connectors/Badgr/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1991 initial commit for Azure Digital Twins
  certified-connectors/AzureDigitalTwins/Readme.md
  certified-connectors/AzureDigitalTwins/apiDefinition.swagger.json
  certified-connectors/AzureDigitalTwins/apiProperties.json
  certified-connectors/AzureDigitalTwins/connector-script.csx
Labels: certified-connector, New

#1979 GIS Cloud Connector
  certified-connectors/GISCloud/README.md
  certified-connectors/GISCloud/apiDefinition.swagger.json
  certified-connectors/GISCloud/apiProperties.json
  certified-connectors/GISCloud/script.csx
Labels: certified-connector, New

#1976 PrexView (Independent Publisher)
  independent-publisher-connectors/PrexView/apiDefinition.swagger.json
  independent-publisher-connectors/PrexView/apiProperties.json
  independent-publisher-connectors/PrexView/readme.md
Labels: independent-publisher-connector, deployed, New

#1974 Owlbot (Independent Publisher)
  independent-publisher-connectors/Owlbot/apiDefinition.swagger.json
  independent-publisher-connectors/Owlbot/apiProperties.json
  independent-publisher-connectors/Owlbot/readme.md
Labels: independent-publisher-connector, deployed, New

#1958 HTTP Garden (Independent Publisher)
  independent-publisher-connectors/HTTP Garden/apiDefinition.swagger.json
  independent-publisher-connectors/HTTP Garden/apiProperties.json
  independent-publisher-connectors/HTTP Garden/readme.md
Labels: independent-publisher-connector, deployed, New
