Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-01, with the labels that each got.

#1299 Sociabble Connector : Update
  certified-connectors/Sociabble/apiDefinition.swagger.json
Labels: certified-connector

#1281 Adding 50+ new actions + 8 new triggers to the connector
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1290 adding RENXT Constituents connector
  certified-connectors/Blackbaud Raiser's Edge NXT Constituents/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Constituents/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Constituents/readme.md
  certified-connectors/Blackbaud Raiser's Edge NXT Constituents/script.csx
Labels: certified-connector

#1291 adding RENXT Documents connector
  certified-connectors/Blackbaud Raiser's Edge NXT Documents/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Documents/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Documents/readme.md
Labels: certified-connector

#1292 adding RENXT Events connector
  certified-connectors/Blackbaud Raiser's Edge NXT Events/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Events/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Events/readme.md
Labels: certified-connector

#1293 adding RENXT Fundraising connector
  certified-connectors/Blackbaud Raiser's Edge NXT Fundraising/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Fundraising/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Fundraising/readme.md
  certified-connectors/Blackbaud Raiser's Edge NXT Fundraising/script.csx
Labels: certified-connector

#1294 adding RENXT Gifts connector
  certified-connectors/Blackbaud Raiser's Edge NXT Gifts/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Gifts/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Gifts/readme.md
  certified-connectors/Blackbaud Raiser's Edge NXT Gifts/script.csx
Labels: certified-connector

#1295 adding RENXT Interactions connector
  certified-connectors/Blackbaud Raiser's Edge NXT Interactions/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Interactions/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Interactions/readme.md
  certified-connectors/Blackbaud Raiser's Edge NXT Interactions/script.csx
Labels: certified-connector

#1296 adding RENXT Lists connector
  certified-connectors/Blackbaud Raiser's Edge NXT Lists/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Lists/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Lists/readme.md
Labels: certified-connector

#1297 adding RENXT Prospects connector
  certified-connectors/Blackbaud Raiser's Edge NXT Prospects/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Prospects/apiProperties.json
  certified-connectors/Blackbaud Raiser's Edge NXT Prospects/readme.md
  certified-connectors/Blackbaud Raiser's Edge NXT Prospects/script.csx
Labels: certified-connector

#1298 adding Blackbaud SKY Add-ins connector
  certified-connectors/Blackbaud SKY Add-ins/apiDefinition.swagger.json
  certified-connectors/Blackbaud SKY Add-ins/apiProperties.json
  certified-connectors/Blackbaud SKY Add-ins/readme.md
Labels: certified-connector

#1304 Implement old connector logic
  certified-connectors/dox42/apiDefinition.swagger.json
  certified-connectors/dox42/apiProperties.json
Labels: certified-connector

#1314 Remove "/host/" from path
  certified-connectors/Dynamics365FraudProtection/apiDefinition.swagger.json
Labels: certified-connector

#1315 Ia connect dynamiccode
  certified-connectors/IA-Connect Dynamic Code/apiDefinition.swagger.json
  certified-connectors/IA-Connect Dynamic Code/apiProperties.json
Labels: certified-connector

#1317 Ia connect UI
  certified-connectors/IA-Connect UI/apiDefinition.swagger.json
  certified-connectors/IA-Connect UI/apiProperties.json
Labels: certified-connector

#1318 Ia connect webbrowser
  certified-connectors/IA-Connect Web Browser/apiDefinition.swagger.json
  certified-connectors/IA-Connect Web Browser/apiProperties.json
Labels: certified-connector

#1322 Support adding multiple documents and specifying routing order
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector

#1342 Added templates for certified connectors
  templates/Independent Publisher/independent-publisher-icon.png
  templates/Independent Publisher/readme.md
  templates/certified-connectors/apiDefinition.swagger.json
  templates/certified-connectors/apiProperties.json
  templates/certified-connectors/readme.md
Labels: internal

#1339 Added new actions/triggers
  certified-connectors/AXtension Content Gate/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1310 JG Integration Connector
  certified-connectors/JG Integrations/Readme.md
  certified-connectors/JG Integrations/apiDefinition.swagger.json
  certified-connectors/JG Integrations/apiProperties.json
Labels: certified-connector

#1303 Viafirma
  certified-connectors/Viafirma/Readme.md
  certified-connectors/Viafirma/apiDefinition.swagger.json
  certified-connectors/Viafirma/apiProperties.json
Labels: certified-connector

#1316 Ia connect session
  certified-connectors/IA-Connect Session/apiDefinition.swagger.json
  certified-connectors/IA-Connect Session/apiProperties.json
Labels: certified-connector

#1354 Knowledgeone RecFind 6 connector 2nd attempt
  certified-connectors/Knowledgeone RecFind 6/apiDefinition.swagger.json
  certified-connectors/Knowledgeone RecFind 6/apiProperties.json
  certified-connectors/Knowledgeone RecFind 6/readme.md
Labels: certified-connector
