Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-11, with the labels that each got.

#2110 Feat/add more actions
  certified-connectors/iManage Work/apiDefinition.swagger.json
  certified-connectors/iManage Work/readme.md
Labels: certified-connector, Validation phase

#2112 Added Download attachment action to Plumsail Forms connector
  certified-connectors/Plumsail Forms/Readme.md
  certified-connectors/Plumsail Forms/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2111 Add Pagination feature
  certified-connectors/AzureDigitalTwins/apiDefinition.swagger.json
  certified-connectors/AzureDigitalTwins/apiProperties.json
  certified-connectors/AzureDigitalTwins/connector-script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2051 Adding Oodrive Sign connector (certified-connectors)
  certified-connectors/Oodrive Sign/apiDefinition.swagger.json
  certified-connectors/Oodrive Sign/apiProperties.json
  certified-connectors/Oodrive Sign/readme.md
Labels: certified-connector

#2122 Meisterplan Connector: Added support for dynamic schema in swagger file
  certified-connectors/Meisterplan/apiDefinition.swagger.json
  certified-connectors/Meisterplan/apiProperties.json
Labels: certified-connector, Validation phase

#2126 Fix exceptions with exam scores
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#2109 Commit DeepL connector
  certified-connectors/DeepL/apiDefinition.swagger.json
  certified-connectors/DeepL/apiProperties.json
  certified-connectors/DeepL/readme.md
Labels: certified-connector

#2121 First version of the tegolySIGN connector
  certified-connectors/tegolySIGN/apiDefinition.swagger.json
  certified-connectors/tegolySIGN/apiProperties.json
  certified-connectors/tegolySIGN/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2093 Encodian October 22 Release #2
  certified-connectors/Encodian/Readme.md
  certified-connectors/Encodian/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2123 One-Time Secret (Independent Publisher)
  independent-publisher-connectors/One-Time Secret/README.md
  independent-publisher-connectors/One-Time Secret/apiDefinition.swagger.json
  independent-publisher-connectors/One-Time Secret/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#2104 De Lijn (Independent Publisher)
  independent-publisher-connectors/De Lijn/De-Lijn-Zoek.swagger.json
  independent-publisher-connectors/De Lijn/apiProperties.json
  independent-publisher-connectors/De Lijn/readme.md
Labels: independent-publisher-connector, deployed, New

#2100 The SMS Works (Independent Publisher)
  independent-publisher-connectors/The SMS Works/apiDefinition.swagger.json
  independent-publisher-connectors/The SMS Works/apiProperties.json
  independent-publisher-connectors/The SMS Works/readme.md
Labels: independent-publisher-connector, deployed, New

#2095 QuickChart (Independent Publisher) v1.1
  independent-publisher-connectors/QuickChart/apiDefinition.swagger.json
  independent-publisher-connectors/QuickChart/apiProperties.json
  independent-publisher-connectors/QuickChart/readme.md
Labels: independent-publisher-connector, deployed, New

#2065 Updated Spotify Publisher
  independent-publisher-connectors/Spotify/apiDefinition.swagger.json
  independent-publisher-connectors/Spotify/readme.md
Labels: independent-publisher-connector, deployed

#2064 Updated Icanhazdadjoke publisher
  independent-publisher-connectors/icanhazdadjoke/README.md
  independent-publisher-connectors/icanhazdadjoke/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2063 Updated Toggl Plan publisher
  independent-publisher-connectors/Toggl Plan/apiDefinition.swagger.json
  independent-publisher-connectors/Toggl Plan/apiProperties.json
  independent-publisher-connectors/Toggl Plan/readme.md
Labels: independent-publisher-connector, deployed

#2062 Updated Discord Publisher
  independent-publisher-connectors/Discord/apiDefinition.swagger.json
  independent-publisher-connectors/Discord/readme.md
Labels: independent-publisher-connector, deployed

#2061 Updated Chuck Norris Publisher
  independent-publisher-connectors/ChuckNorris.io/README.md
  independent-publisher-connectors/ChuckNorris.io/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2060 DeepL (Independent Publisher)
  independent-publisher-connectors/DeepLIP/README.md
  independent-publisher-connectors/DeepLIP/apiDefinition.swagger.json
  independent-publisher-connectors/DeepLIP/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#2027 TheMealDB (Independent Publisher)
  independent-publisher-connectors/The Meal DB/Readme.md
  independent-publisher-connectors/The Meal DB/TheMealDB.swagger.json
  independent-publisher-connectors/The Meal DB/apiProperties.json
  independent-publisher-connectors/readme.md
Labels: independent-publisher-connector, deployed, New, Student

#1960 VIES by European Commission (Independent Publisher)
  independent-publisher-connectors/VIES by European Commission/Readme.md
  independent-publisher-connectors/VIES by European Commission/apiDefinition.swagger.json
  independent-publisher-connectors/VIES by European Commission/apiProperties.json
  independent-publisher-connectors/VIES by European Commission/script.csx
Labels: independent-publisher-connector, deployed

#2130 Partner Center connector - new fields and deal registration actions
  certified-connectors/PartnerCenterReferrals/apiDefinition.swagger.json
Labels: certified-connector

#2136 Update Zuva DocAI connector
  certified-connectors/Zuva DocAI/README.md
  certified-connectors/Zuva DocAI/apiDefinition.swagger.json
  certified-connectors/Zuva DocAI/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#2148 Zuva DocAI - add Normalization and Multi-Level Classification endpoints
  certified-connectors/Zuva DocAI/README.md
  certified-connectors/Zuva DocAI/apiDefinition.swagger.json
  certified-connectors/Zuva DocAI/script.csx
Labels: certified-connector

#2140 Bitskout Connector
  certified-connectors/bitskout/Readme.md
  certified-connectors/bitskout/apiDefinition.swagger.json
  certified-connectors/bitskout/apiProperties.json
Labels: certified-connector, New

#1948 NFTMania (Independent Publisher)
  independent-publisher-connectors/NFTMania/apiDefinition.swagger.json
  independent-publisher-connectors/NFTMania/apiProperties.json
  independent-publisher-connectors/NFTMania/media/Dashboard.png
  independent-publisher-connectors/NFTMania/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New, Student

#2086 Workable (Independent Publisher)
  independent-publisher-connectors/Workable/Readme.md.txt
  independent-publisher-connectors/Workable/apiDefinition.swagger.json
  independent-publisher-connectors/Workable/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#2134 Google Books (Independent Publisher)
  independent-publisher-connectors/Google Books/apiDefinition.swagger.json
  independent-publisher-connectors/Google Books/apiProperties.json
  independent-publisher-connectors/Google Books/readme.md
Labels: independent-publisher-connector, deployed, New

#2158 Post method for downloading attachments has been replaced with Get
  certified-connectors/Plumsail Forms/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2161 Add Redque connector
  certified-connectors/Redque/Readme.md
  certified-connectors/Redque/apiDefinition.swagger.json
  certified-connectors/Redque/apiProperties.json
Labels: certified-connector

#2145 Update Talkdesk Connector - Remove an action, update scopes and update "Get user presence" action
  certified-connectors/Talkdesk/README.md
  certified-connectors/Talkdesk/apiDefinition.swagger.json
  certified-connectors/Talkdesk/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2162 axiom.ai certified connector
  certified-connectors/axiom.ai/Readme.md
  certified-connectors/axiom.ai/apiDefinition.swagger.json
  certified-connectors/axiom.ai/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2133 Impower Connector v1
  README.md
  apiDefinition.swagger.json
  apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2173 Created the initial version for Cognitive Services Batch Speech-to-te…
  certified-connectors/CognitiveServicesSpeechToText/Readme.md
  certified-connectors/CognitiveServicesSpeechToText/apiDefinition.swagger.json
  certified-connectors/CognitiveServicesSpeechToText/apiProperties.json
Labels: certified-connector

#2118 Add Emigo Connector
  certified-connectors/Emigo/Readme.md
  certified-connectors/Emigo/apiDefinition.swagger.json
  certified-connectors/Emigo/apiProperties.json
Labels: certified-connector

#2174 Initial Release of the Lnk.Bio certified connector
  certified-connectors/LnkBio/Readme.md
  certified-connectors/LnkBio/apiDefinition.swagger.json
  certified-connectors/LnkBio/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2006 GIPHY - Independent publisher connector
  independent-publisher-connectors/GIPHY/Readme.md
  independent-publisher-connectors/GIPHY/apiDefinition.swagger.json
  independent-publisher-connectors/GIPHY/apiProperties.json
Labels: independent-publisher-connector, deployed, Student
