Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-07, with the labels that each got.

#1769 Easyship (Independent Publisher)
  independent-publisher-connectors/Easyship/apiDefinition.swagger.json
  independent-publisher-connectors/Easyship/apiProperties.json
  independent-publisher-connectors/Easyship/readme.md
Labels: independent-publisher-connector, deployed, New

#879 Azureadapplications
  independent-publisher-connectors/AzureADApplications/Readme.md
  independent-publisher-connectors/AzureADApplications/apiDefinition.swagger.json
  independent-publisher-connectors/AzureADApplications/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1705 MS Graph Groups and Users (Independent Publisher)
  independent-publisher-connectors/MS Graph Groups and Users/apiDefinition.swagger.json
  independent-publisher-connectors/MS Graph Groups and Users/apiProperties.json
  independent-publisher-connectors/MS Graph Groups and Users/readme.md
Labels: independent-publisher-connector, deployed, New

#1688 Nationalize.io (Independent Publisher)
  independent-publisher-connectors/Nationalize.io/Readme.md
  independent-publisher-connectors/Nationalize.io/apiDefinition.swagger.json
  independent-publisher-connectors/Nationalize.io/apiProperties.json
  independent-publisher-connectors/Nationalize.io/script.csx
Labels: independent-publisher-connector, deployed, New

#1745 MongoDB Connector
  certified-connectors/MongoDB/Readme.md
  certified-connectors/MongoDB/apiDefinition.swagger.json
  certified-connectors/MongoDB/apiProperties.json
Labels: certified-connector, New

#1771 Dev v2
  certified-connectors/Power Textor/README.md
  certified-connectors/Power Textor/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, New

#1774 DocJuris 3.2- Add ScreeningReportUpdated subscription
  certified-connectors/DocJuris/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1738 Modified Response descriptions for DomainTools Iris Investigate and Iris Enrich connectors
  certified-connectors/DomainToolsIrisEnrich/apiDefinition.swagger.json
  certified-connectors/DomainToolsIrisInvestigate/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1770 Yarado connector - initial version
  certified-connectors/Yarado/Readme.md
  certified-connectors/Yarado/apiDefinition.swagger.json
  certified-connectors/Yarado/apiProperties.json
Labels: certified-connector, New

#1779 Updated Properties Files
  certified-connectors/DomainToolsIrisEnrich/apiProperties.json
  certified-connectors/DomainToolsIrisInvestigate/apiProperties.json
Labels: certified-connector

#1786 [Snowflake] Add Convert Operation and Improve Script
  custom-connectors/Snowflake/apiDefinition.swagger.json
  custom-connectors/Snowflake/apiProperties.json
  custom-connectors/Snowflake/script.csx
Labels: custom-connector

#1777 make Status always return JSON
  certified-connectors/sms77io/apiDefinition.swagger.json
Labels: certified-connector

#1788 Dox42
  certified-connectors/dox42/README.md
  certified-connectors/dox42/apiDefinition.swagger.json
Labels: certified-connector

#1791 Resolving issues identified in validation phase
  certified-connectors/Tikit/apiDefinition.swagger.json
  certified-connectors/Tikit/apiProperties.json
  certified-connectors/Tikit/readme.md
Labels: certified-connector, Validation phase, New

#1789 Update to DocumentsCorePack Connector Version 2
  certified-connectors/DocumentsCorePack/apiDefinition.swagger.json
  certified-connectors/DocumentsCorePack/apiProperties.json
  certified-connectors/DocumentsCorePack/readme.md
Labels: certified-connector, Validation phase

#1806 Encodian July 22
  certified-connectors/Encodian/apiDefinition.swagger.json
Labels: certified-connector

#1772 OK dokument (Independent Publisher)
  independent-publisher-connectors/OK dokument/README.md
  independent-publisher-connectors/OK dokument/apiDefinition.swagger.json
  independent-publisher-connectors/OK dokument/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1821 Description changes & Contact Info changes
  certified-connectors/Microsoft Bookings/apiDefinition.swagger.json
Labels: certified-connector, New

#1679 OneNote (Personal) (Independent Publisher)
  independent-publisher-connectors/OneNote (Personal)/apiDefinition.swagger.json
  independent-publisher-connectors/OneNote (Personal)/apiProperties.json
  independent-publisher-connectors/OneNote (Personal)/readme.md
Labels: independent-publisher-connector, deployed, New

#1802 RescueGroups.org (Independent Publisher)
  independent-publisher-connectors/RescueGroups/apiDefinition.swagger.json
  independent-publisher-connectors/RescueGroups/apiProperties.json
  independent-publisher-connectors/RescueGroups/readme.md
Labels: independent-publisher-connector, deployed, New

#1798 Every (Independent Publisher)
  independent-publisher-connectors/Every/apiDefinition.swagger.json
  independent-publisher-connectors/Every/apiProperties.json
  independent-publisher-connectors/Every/readme.md
Labels: independent-publisher-connector, deployed, New

#1795 SchoolDigger (Independent Publisher)
  independent-publisher-connectors/SchoolDigger/apiDefinition.swagger.json
  independent-publisher-connectors/SchoolDigger/apiProperties.json
  independent-publisher-connectors/SchoolDigger/readme.md
Labels: independent-publisher-connector, deployed, New

#1790 ConvertKit (Independent Publisher)
  independent-publisher-connectors/ConvertKit/apiDefinition.swagger.json
  independent-publisher-connectors/ConvertKit/apiProperties.json
  independent-publisher-connectors/ConvertKit/readme.md
Labels: independent-publisher-connector, deployed, New

#1829 Small text changes and code updates
  certified-connectors/Kanbanize/apiDefinition.swagger.json
  certified-connectors/Kanbanize/apiProperties.json
  certified-connectors/Kanbanize/script.csx
Labels: certified-connector, Validation phase

#1833 My Acclaro v2.0 - Corrected bugs in API that impacted definition in responses
  certified-connectors/My Acclaro/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1837 Updated Swagger for IA-Connect 9.3 release
  certified-connectors/IA-Connect Session/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1796 Centrical - Certification + Remove requirements for custom script
  certified-connectors/Centrical/Readme.md
  certified-connectors/Centrical/apiDefinition.swagger.json
  certified-connectors/Centrical/apiProperties.json
Labels: certified-connector, New

#1800 Meisterplan (Certified Connector)
  certified-connectors/Meisterplan/apiDefinition.swagger.json
  certified-connectors/Meisterplan/apiProperties.json
  certified-connectors/Meisterplan/readme.md
Labels: certified-connector, New

#1839 Publisher Changes to Existing Connector
  certified-connectors/Repfabric Lead Loader/Readme.md
  certified-connectors/Repfabric Lead Loader/apiProperties.json
Labels: certified-connector

#1828 Added update datafield endpoint, added ability to set datafields duri…
  certified-connectors/Oneflow/apiDefinition.swagger.json
  certified-connectors/Oneflow/apiProperties.json
  certified-connectors/Oneflow/script.csx
Labels: certified-connector, Validation phase

#1838 Updated Swagger for IA-Connect 9.3 release (JML connector)
  certified-connectors/IA-Connect JML/apiDefinition.swagger.json
Labels: certified-connector

#1841 Brand Colour Correction
  certified-connectors/ConsenSys/apiProperties.json
Labels: certified-connector, New

#1778 ZIPPYDOC (Certified-Connector)
  certified-connectors/Zippydoc/README.md
  certified-connectors/Zippydoc/apiDefinition.swagger.json
  certified-connectors/Zippydoc/apiProperties.json
Labels: certified-connector, Validation phase, New

#1846 Updated API Definition Swagger file
  certified-connectors/Power Textor/apiDefinition.swagger.json
Labels: certified-connector
