Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-05, with the labels that each got.

#1359 TeamWherx Rebranding
  certified-connectors/Actsoft/README.md
  certified-connectors/Actsoft/apiDefinition.swagger.json
Labels: certified-connector

#1385 BttnOne
  certified-connectors/BttnOne/Readme.md
  certified-connectors/BttnOne/apiDefinition.swagger.json
  certified-connectors/BttnOne/apiProperties.json
Labels: certified-connector

#1419 WooCommerce
  certified-connectors/WooCommerce/apiDefinition.swagger.json
  certified-connectors/WooCommerce/apiProperties.json
  certified-connectors/WooCommerce/readme.md
Labels: certified-connector

#1433 Cognizant Automation Center
  certified-connectors/Cognizant Automation Center/Readme.md
  certified-connectors/Cognizant Automation Center/apiDefinition.swagger.json
  certified-connectors/Cognizant Automation Center/apiProperties.json
Labels: certified-connector

#1504 MAQTextAnalytics (Non-Microsoft Publisher)
  certified-connectors/MAQTextAnalytics/Readme.md
  certified-connectors/MAQTextAnalytics/apiDefinition.swagger.json
  certified-connectors/MAQTextAnalytics/apiProperties.json
Labels: certified-connector

#1529 Add Recorded Future Identity Connector
  certified-connectors/RecordedFutureIdentity/README.md
  certified-connectors/RecordedFutureIdentity/apiDefinition.swagger.json
  certified-connectors/RecordedFutureIdentity/apiProperties.json
Labels: certified-connector, New

#1549 Booking Room Pro
  certified-connectors/Booking Room Pro/Readme.md
  certified-connectors/Booking Room Pro/apiDefinition.swagger.json
  certified-connectors/Booking Room Pro/apiProperties.json
Labels: certified-connector, New

#1550 Calendar pro
  certified-connectors/Calendar Pro/Readme.md
  certified-connectors/Calendar Pro/apiDefinition.swagger.json
  certified-connectors/Calendar Pro/apiProperties.json
Labels: certified-connector, New

#1554 Map pro
  certified-connectors/Map Pro/Readme.md
  certified-connectors/Map Pro/apiDefinition.swagger.json
  certified-connectors/Map Pro/apiProperties.json
Labels: certified-connector, New

#1555 Contacts pro
  certified-connectors/Contacts Pro/Readme.md
  certified-connectors/Contacts Pro/apiDefinition.swagger.json
  certified-connectors/Contacts Pro/apiProperties.json
Labels: certified-connector, New

#1563 GoFileRoom
  certified-connectors/gofileroom/apiDefinition.swagger.json
  certified-connectors/gofileroom/apiProperties.json
Labels: certified-connector

#1566 Modify default responses
  certified-connectors/JG Integrations/apiDefinition.swagger.json
Labels: certified-connector

#1570 IN- D Payables V3
  certified-connectors/IN-D PayablesV3/README.MD
  certified-connectors/IN-D PayablesV3/apiDefinition.swagger.json
  certified-connectors/IN-D PayablesV3/apiProperties.json
Labels: certified-connector

#1575 Update apiDefinition.swagger.json
  custom-connectors/Snowflake/apiDefinition.swagger.json
Labels: custom-connector, Validation phase

#1597 19219 fix logic apps connector
  certified-connectors/RescoCloud/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1622 Tuxmailer
  certified-connectors/TuxMailer/apiDefinition.swagger.json
  certified-connectors/TuxMailer/apiProperties.json
Labels: certified-connector, Validation phase, New

#1619 Added Cascade directory to certified-connector to verify
  certified-connectors/Cascade/apiDefinition.swagger.json
  certified-connectors/Cascade/apiProperties.json
  certified-connectors/Cascade/readme.md
Labels: certified-connector, New

#1618 Add Question Answering connector.
  certified-connectors/CognitiveServicesQuestionAnswering/Readme.md
  certified-connectors/CognitiveServicesQuestionAnswering/apiDefinition.swagger.json
  certified-connectors/CognitiveServicesQuestionAnswering/apiProperties.json
  certified-connectors/CognitiveServicesQuestionAnswering/script.csx
Labels: certified-connector, Validation phase, New

#1598 Add files via upload
  certified-connectors/Vineforce/apiDefinition.swagger.json
  certified-connectors/Vineforce/apiProperties.json
  certified-connectors/Vineforce/readme.md
Labels: certified-connector, New

#1507 My Acclaro - added intro.md
  certified-connectors/My Acclaro/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1617 Adding CyberProof connector Webhook trigger support and semantic changes
  certified-connectors/CyberProof/apiDefinition.swagger.json
  certified-connectors/CyberProof/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1546 XSOAR (Independent Publisher)
  independent-publisher-connectors/XSOAR/Readme.md
  independent-publisher-connectors/XSOAR/apiDefinition.swagger.json
  independent-publisher-connectors/XSOAR/apiProperties.json
Labels: independent-publisher-connector, deployed

#1580 Reachability (Independent Publisher)
  independent-publisher-connectors/Reachability/apiDefinition.swagger.json
  independent-publisher-connectors/Reachability/apiProperties.json
  independent-publisher-connectors/Reachability/readme.md
Labels: independent-publisher-connector, deployed, New

#1579 aviationstack (Independent Publisher)
  independent-publisher-connectors/aviationstack/apiDefinition.swagger.json
  independent-publisher-connectors/aviationstack/apiProperties.json
  independent-publisher-connectors/aviationstack/readme.md
Labels: independent-publisher-connector, deployed, New

#1585 Storm Glass (Independent Publisher)
  independent-publisher-connectors/Storm Glass/Readme.md
  independent-publisher-connectors/Storm Glass/apiDefinition.swagger.json
  independent-publisher-connectors/Storm Glass/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1589 Lit Ipsum (Independent Publisher)
  independent-publisher-connectors/Lit Ipsum/apiDefinition.swagger.json
  independent-publisher-connectors/Lit Ipsum/apiProperties.json
  independent-publisher-connectors/Lit Ipsum/readme.md
Labels: independent-publisher-connector, deployed, New

#1600 ProPublica Nonprofit Explorer (Independent Publisher)
  independent-publisher-connectors/ProPublica Nonprofit Explorer/apiDefinition.swagger.json
  independent-publisher-connectors/ProPublica Nonprofit Explorer/apiProperties.json
  independent-publisher-connectors/ProPublica Nonprofit Explorer/readme.md
Labels: independent-publisher-connector, deployed, New

#1599 ProPublica Congress (Independent Publisher)
  independent-publisher-connectors/ProPublica Congress/apiDefinition.swagger.json
  independent-publisher-connectors/ProPublica Congress/apiProperties.json
  independent-publisher-connectors/ProPublica Congress/readme.md
Labels: independent-publisher-connector, deployed, New

#1616 Sessionize (Independent Publisher)
  independent-publisher-connectors/Sessionize/apiDefinition.swagger.json
  independent-publisher-connectors/Sessionize/apiProperties.json
  independent-publisher-connectors/Sessionize/readme.md
Labels: independent-publisher-connector, deployed, New

#1587 Udemy (Independent Publisher)
  independent-publisher-connectors/Udemy/apiDefinition.swagger.json
  independent-publisher-connectors/Udemy/apiProperties.json
  independent-publisher-connectors/Udemy/readme.md
Labels: independent-publisher-connector, deployed, New

#1609 BIN Checker (Independent Publisher)
  independent-publisher-connectors/BIN Checker/apiDefinition.swagger.json
  independent-publisher-connectors/BIN Checker/apiProperties.json
  independent-publisher-connectors/BIN Checker/readme.md
Labels: independent-publisher-connector, deployed, New

#1498 WorldTime (Independent Publisher)
  independent-publisher-connectors/WorldTime/apiDefinition.swagger.json
  independent-publisher-connectors/WorldTime/apiProperties.json
  independent-publisher-connectors/WorldTime/example.png
  independent-publisher-connectors/WorldTime/readme.md
Labels: independent-publisher-connector, deployed, New

#1604 Added JBHunt connector
  certified-connectors/jbhunt/README.md
  certified-connectors/jbhunt/Script.csx
  certified-connectors/jbhunt/apiDefinition.swagger.json
  certified-connectors/jbhunt/apiProperties.json
Labels: certified-connector, New

#1395 submitting connector for certification
  certified-connectors/SigningHub/Readme.md
  certified-connectors/SigningHub/apiDefinition.swagger.json
  certified-connectors/SigningHub/apiProperties.json
Labels: certified-connector

#1613 Fixed DailyPlan and TimeCard confrimation
  certified-connectors/InEight/apiDefinition.swagger.json
  certified-connectors/InEight/readme.md
Labels: certified-connector, Validation phase, New

#1592 FlowForma V2
  certified-connectors/FlowForma V2/README.md
  certified-connectors/FlowForma V2/apiDefinition.swagger.json
  certified-connectors/FlowForma V2/apiProperties.json
Labels: certified-connector, New

#1568 Adding Vonage connector
  certified-connectors/Vonage/README.md
  certified-connectors/Vonage/apiDefinition.swagger.json
  certified-connectors/Vonage/apiProperties.json
Labels: certified-connector, New

#1558 Add P2A certified-connector/Converter
  certified-connectors/Converter/Readme.md
  certified-connectors/Converter/apiDefinition.swagger.json
  certified-connectors/Converter/apiProperties.json
Labels: certified-connector, New

#1634 CDC Content Services (Independent Publisher)
  independent-publisher-connectors/CDC Content Services/apiDefinition.swagger.json
  independent-publisher-connectors/CDC Content Services/apiProperties.json
  independent-publisher-connectors/CDC Content Services/readme.md
Labels: independent-publisher-connector, deployed, New

#1583 OpenAI (Independent Publisher)
  independent-publisher-connectors/OpenAI/README.md
  independent-publisher-connectors/OpenAI/apiDefinition.swagger.json
  independent-publisher-connectors/OpenAI/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1650 Dokobit Portal update for ADoc support
  certified-connectors/Dokobit Portal/apiDefinition.swagger.json
Labels: certified-connector

#1635 add pdfcross connector
  certified-connectors/PDFcross/apiDefinition.swagger.json
  certified-connectors/PDFcross/apiProperties.json
  certified-connectors/PDFcross/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#1610 Talkdesk connector
  certified-connectors/Talkdesk/README.md
  certified-connectors/Talkdesk/apiDefinition.swagger.json
  certified-connectors/Talkdesk/apiProperties.json
Labels: certified-connector, New

#1607 Tikit
  certified-connectors/Tikit/apiDefinition.swagger.json
  certified-connectors/Tikit/apiProperties.json
  certified-connectors/Tikit/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#1656 NIST Nation Vulnerability Database (Independent Publisher)
  independent-publisher-connectors/NIST National Vulnerability Database/apiDefinition.swagger.json
  independent-publisher-connectors/NIST National Vulnerability Database/readme.md
Labels: independent-publisher-connector, deployed

#1626 Finnish BIS (Independend Publisher) - Fixed response schema for Contact details
  independent-publisher-connectors/Finnish BIS/apiDefinition.swagger.json
  independent-publisher-connectors/Finnish BIS/apiProperties.json
Labels: independent-publisher-connector, deployed

#1628 Star Wars (Independent Publisher) fix for #1624
  independent-publisher-connectors/Star Wars/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1640 Haveibeenpwned (Independent Publisher) Remove Adobe
  independent-publisher-connectors/haveibeenpwned/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1664 sms77io: add definition StatusJsonResponse
  certified-connectors/sms77io/apiDefinition.swagger.json
Labels: certified-connector

#1667 Schema an color changes
  certified-connectors/Converter/apiDefinition.swagger.json
  certified-connectors/Converter/apiProperties.json
Labels: certified-connector

#1671 Add host to apiDefinition.swagger.json
  certified-connectors/IronDefense/apiDefinition.swagger.json
Labels: certified-connector

#1669 Submit SmartCOMM On Demand Doc-Gen fixes for certification
  certified-connectors/SmartCOMM On Demand Doc-Gen/apiDefinition.swagger.json
  certified-connectors/SmartCOMM On Demand Doc-Gen/script.csx
Labels: certified-connector

#1659 NHTSA vPIC (Independent Publisher)
  independent-publisher-connectors/NHTSA vPIC/apiDefinition.swagger.json
  independent-publisher-connectors/NHTSA vPIC/apiProperties.json
  independent-publisher-connectors/NHTSA vPIC/readme.md
Labels: independent-publisher-connector, deployed, New

#1653 ProPublica Campaign Finance (Independent Publisher)
  independent-publisher-connectors/ProPublica Campaign Finance/apiDefinition.swagger.json
  independent-publisher-connectors/ProPublica Campaign Finance/apiProperties.json
  independent-publisher-connectors/ProPublica Campaign Finance/readme.md
Labels: independent-publisher-connector, deployed, New

#1674 Flow forma v2
  certified-connectors/FlowForma V2/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, New

#1681 Fix faulty property type in RecordedFutureIdentity connector response
  certified-connectors/RecordedFutureIdentity/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, New

#1665 E-Sign updates
  certified-connectors/E-Sign/apiDefinition.swagger.json
Labels: certified-connector

#1673 Finnish BIS (Independent Publisher)
  independent-publisher-connectors/Finnish BIS/apiDefinition.swagger.json
Labels: independent-publisher-connector
