Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-06, with the labels that each got.

#1660 Hunter (Independent Publisher)
  independent-publisher-connectors/Hunter/apiDefinition.swagger.json
  independent-publisher-connectors/Hunter/apiProperties.json
  independent-publisher-connectors/Hunter/readme.md
Labels: independent-publisher-connector, deployed, New

#1704 Updating Property Name before ISV submission
  certified-connectors/Tikit/apiDefinition.swagger.json
Labels: certified-connector, New

#1683 Certified Connector First Pull
  certified-connectors/Mobsim Send SMS/README.md
  certified-connectors/Mobsim Send SMS/apiDefinition.swagger.json
  certified-connectors/Mobsim Send SMS/apiProperties.json
Labels: certified-connector, New

#1648 Dynatrace Connector Certification Submission
  certified-connectors/Dynatrace/Readme.md
  certified-connectors/Dynatrace/apiDefinition.swagger.json
  certified-connectors/Dynatrace/apiProperties.json
Labels: certified-connector, New

#1699 New Trigger, Fix bug with spaces in parameter name, fix date formats
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#1703 Add connectionParameters in ApiProperties file
  certified-connectors/CognitiveServicesQuestionAnswering/apiProperties.json
Labels: certified-connector, Validation phase, New

#1709 Short URL v2
  certified-connectors/ShortURL/apiDefinition.swagger.json
  certified-connectors/ShortURL/readme.md
Labels: certified-connector

#1702 merge to PowerPlatform
  certified-connectors/PDF4me Connect/apiDefinition.swagger.json
  certified-connectors/PDF4me Connect/readme.md
  certified-connectors/PDF4me/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1690 FactSet Patch - May 26
  certified-connectors/FactSet/Readme.md
  certified-connectors/FactSet/apiDefinition.swagger.json
  certified-connectors/FactSet/apiProperties.json
Labels: certified-connector, New

#1691 Azure Communication Services Identity (Certified Connector)
  certified-connectors/Azure Communication Services Identity/README.md
  certified-connectors/Azure Communication Services Identity/apiDefinition.swagger.json
  certified-connectors/Azure Communication Services Identity/apiProperties.json
  certified-connectors/Azure Communication Services Identity/script.csx
Labels: certified-connector, New

#1700 Added ownerside participant, added GetContract action, expanded contr…
  certified-connectors/Oneflow/apiDefinition.swagger.json
  certified-connectors/Oneflow/script.csx
Labels: certified-connector, needs:partner-attention, New

#1718 Process Street - connector updates v1.1.5
  certified-connectors/ProcessStreet/README.md
  certified-connectors/ProcessStreet/apiDefinition.swagger.json
Labels: certified-connector, New

#1279 Badgr (Independent Publisher)
  independent-publisher-connectors/Badgr/apiDefinition.swagger.json
  independent-publisher-connectors/Badgr/apiProperties.json
  independent-publisher-connectors/Badgr/readme.md
Labels: independent-publisher-connector, deployed, New

#1368 Strava connector (Independent Publisher)
  independent-publisher-connectors/Strava/Readme.md
  independent-publisher-connectors/Strava/apiDefinition.swagger.json
  independent-publisher-connectors/Strava/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1438 Philips HUE (Independent Publisher)
  independent-publisher-connectors/Philips HUE/apiDefinition.swagger.json
  independent-publisher-connectors/Philips HUE/apiProperties.json
  independent-publisher-connectors/Philips HUE/readme.md
Labels: independent-publisher-connector, deployed, New

#1719 Update Readme.md
  certified-connectors/CognitiveServicesQuestionAnswering/Readme.md
Labels: certified-connector, New

#1720 Process Street - Fixing webhook deletion
  certified-connectors/ProcessStreet/apiDefinition.swagger.json
Labels: certified-connector, New

#1689 preregistration-complete is string
  certified-connectors/envoy/apiDefinition.swagger.json
Labels: certified-connector, Validation phase

#1692 Azure Communication Services Email (Certified Connector)
  certified-connectors/Azure Communication Services Email/README.md
  certified-connectors/Azure Communication Services Email/apiDefinition.swagger.json
  certified-connectors/Azure Communication Services Email/apiProperties.json
  certified-connectors/Azure Communication Services Email/script.csx
Labels: certified-connector, Validation phase, New

#1670 dvelop Version 2.0
  certified-connectors/dvelop/README.md
  certified-connectors/dvelop/apiDefinition.swagger.json
  certified-connectors/dvelop/apiProperties.json
Labels: certified-connector, Validation phase

#1638 added Zvanu Parvaldnieks
  certified-connectors/Zvanu parvaldnieks/Readme.md
  certified-connectors/Zvanu parvaldnieks/apiDefinition.swagger.json
  certified-connectors/Zvanu parvaldnieks/apiProperties.json
Labels: certified-connector, Validation phase, New

#1724 [Azure Communication Services Identity (Certified Connector)] Change icon brand color
  certified-connectors/Azure Communication Services Identity/apiProperties.json
Labels: certified-connector, New

#1714 Meme (Independent Publisher)
  independent-publisher-connectors/Meme/apiDefinition.swagger.json
  independent-publisher-connectors/Meme/apiProperties.json
  independent-publisher-connectors/Meme/readme.md
Labels: independent-publisher-connector, deployed, New

#1693 RegEx Matching (Independent Publisher)
  independent-publisher-connectors/RegEx Matching/apiDefinition.swagger.json
  independent-publisher-connectors/RegEx Matching/apiProperties.json
  independent-publisher-connectors/RegEx Matching/readme.md
Labels: independent-publisher-connector, deployed, New

#1685 Unofficial Netflix Search(Independent Publisher)
  independent-publisher-connectors/Unofficial Netflix Search/apiDefinition.swagger.json
  independent-publisher-connectors/Unofficial Netflix Search/apiProperties.json
  independent-publisher-connectors/Unofficial Netflix Search/readme.md
Labels: independent-publisher-connector, deployed, New

#1675 Rijksoverheid (Independent Publisher)
  independent-publisher-connectors/Rijksoverheid/apiDefinition.swagger.json
  independent-publisher-connectors/Rijksoverheid/apiProperties.json
  independent-publisher-connectors/Rijksoverheid/readme.md
Labels: independent-publisher-connector, deployed, New

#1658 Schiphol Airport (Independent Publisher)
  independent-publisher-connectors/Schiphol Airport/Readme.md
  independent-publisher-connectors/Schiphol Airport/apiDefinition.swagger.json
  independent-publisher-connectors/Schiphol Airport/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1516 ShipStation Connector (Independent Publisher)
  independent-publisher-connectors/ShipStationIP/apiDefinition.swagger.json
  independent-publisher-connectors/ShipStationIP/apiProperties.json
  independent-publisher-connectors/ShipStationIP/readme.md
Labels: independent-publisher-connector, deployed, New

#1712 Push Commit
  certified-connectors/Repfabric Lead Loader/Readme.md
  certified-connectors/Repfabric Lead Loader/apiDefinition.swagger.json
  certified-connectors/Repfabric Lead Loader/apiProperties.json
Labels: certified-connector, New

#1711 Certified connector/telnyx sms conn
  certified-connectors/Telnyx SMS/apiDefinition.swagger.json
  certified-connectors/Telnyx SMS/apiProperties.json
  certified-connectors/Telnyx SMS/readme.md
Labels: certified-connector, New

#1717 PPM Express connector init commit
  certified-connectors/PPM Express/Readme.md
  certified-connectors/PPM Express/apiDefinition.swagger.json
  certified-connectors/PPM Express/apiProperties.json
Labels: certified-connector, New

#1731 Feature/update icon color
  certified-connectors/Datablend/apiProperties.json
Labels: certified-connector

#1465 added Rainbird connector in certified repo
  certified-connectors/Rainbird/Readme.md
  certified-connectors/Rainbird/apiDefinition.swagger.json
  certified-connectors/Rainbird/apiProperties.json
Labels: certified-connector, New

#1716 Show Hidden parameters for update-commmittee action
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#1655 init submit DocToPDF
  certified-connectors/DocToPDF/Readme.md
  certified-connectors/DocToPDF/apiDefinition.swagger.json
  certified-connectors/DocToPDF/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#1722 Add CloudConvert Connector
  certified-connectors/CloudConvert/apiDefinition.swagger.json
  certified-connectors/CloudConvert/apiProperties.json
  certified-connectors/CloudConvert/readme.md
Labels: certified-connector, New

#1737 iObeya
  certified-connectors/iObeya/README.md
  certified-connectors/iObeya/apiDefinition.swagger.json
  certified-connectors/iObeya/apiProperties.json
Labels: certified-connector, Validation phase, New

#1740 Delinea Secret Server Connector
  certified-connectors/Delinea Secret Server/apiDefinition.swagger.json
  certified-connectors/Delinea Secret Server/apiProperties.json
  certified-connectors/Delinea Secret Server/readme.md
Labels: certified-connector, New

#1735 [Azure Communication Services Email (Certified Connector)] Updates based on Bug Bush feedbacks
  certified-connectors/Azure Communication Services Email/README.md
  certified-connectors/Azure Communication Services Email/apiDefinition.swagger.json
  certified-connectors/Azure Communication Services Email/script.csx
Labels: certified-connector, needs:partner-attention, New

#1755 Converter by Power2Apps Connector
  certified-connectors/Converter by Power2Apps/Readme.md
  certified-connectors/Converter by Power2Apps/apiDefinition.swagger.json
  certified-connectors/Converter by Power2Apps/apiProperties.json
Labels: certified-connector, New

#1742 PR for PDFco Certified Connector
  certified-connectors/PDFco/apiDefinition.swagger.json
  certified-connectors/PDFco/apiProperties.json
  certified-connectors/PDFco/readme.md
Labels: certified-connector, Validation phase, New

#1751 Nextset
  certified-connectors/Nextset WorkFlow/Readme.md
  certified-connectors/Nextset WorkFlow/apiDefinition.swagger.json
  certified-connectors/Nextset WorkFlow/apiProperties.json
Labels: certified-connector, Validation phase, New

#1758 Changes of the Converter by Power2Apps connector
  certified-connectors/Converter by Power2Apps/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, New

#1753 Fixed descriptions, field definition and file content upload
  certified-connectors/GetAccept/apiDefinition.swagger.json
Labels: certified-connector

#1726 Add airSlate event subscription and unsubscription
  certified-connectors/airSlate/apiDefinition.swagger.json
Labels: certified-connector

#1727 [AK] Added region support, question and answer and booth attendance
  certified-connectors/Airmeet/Readme.md
  certified-connectors/Airmeet/apiDefinition.swagger.json
  certified-connectors/Airmeet/apiProperties.json
  certified-connectors/Airmeet/script.csx
Labels: certified-connector

#1715 OneBlink & CivicPlus
  certified-connectors/CivicPlus/apiDefinition.swagger.json
  certified-connectors/OneBlink/apiDefinition.swagger.json
Labels: certified-connector

#1595 Adding CobbleStone Connector to CSS_Connector
  certified-connectors/CobbleStone - Contract Insight/Readme.md
  certified-connectors/CobbleStone - Contract Insight/apiDefinition.swagger.json
  certified-connectors/CobbleStone - Contract Insight/apiProperties.json
  certified-connectors/CobbleStone - Contract Insight/images/01.jpg
  certified-connectors/CobbleStone - Contract Insight/images/02.jpg
  certified-connectors/CobbleStone - Contract Insight/images/03.jpg
Labels: certified-connector, Validation phase, New

#1743 Schiphol Airport (Independent Publisher) - Added Response metadata.
  independent-publisher-connectors/Schiphol Airport/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1749 CarbonFootprint (Independent Publisher)
  independent-publisher-connectors/CarbonFootprint/apiDefinition.swagger.json
  independent-publisher-connectors/CarbonFootprint/apiProperties.json
  independent-publisher-connectors/CarbonFootprint/readme.md
Labels: independent-publisher-connector, deployed, New

#1319 Google Cloud Translation (Independent Publisher)
  independent-publisher-connectors/Google Cloud Translation/apiDefinition.swagger.json
  independent-publisher-connectors/Google Cloud Translation/apiProperties.json
  independent-publisher-connectors/Google Cloud Translation/readme.md
Labels: independent-publisher-connector, deployed, New

#1696 Updated action description for GoQR
  independent-publisher-connectors/GoQR/apiDefinition.swagger.json
  independent-publisher-connectors/GoQR/apiProperties.json
  independent-publisher-connectors/GoQR/readme.md
Labels: independent-publisher-connector, deployed

#1762 Last changes for Converter by Power2Apps
  certified-connectors/Converter by Power2Apps/apiDefinition.swagger.json
Labels: certified-connector, New

#1668 Rebranding of secplug to Scancloud APIs
  certified-connectors/secplugs/apiDefinition.swagger.json
  certified-connectors/secplugs/apiProperties.json
  certified-connectors/secplugs/readme.md
Labels: certified-connector, Validation phase

#924 Azure AD Identity and Access (Independent Publisher)
  independent-publisher-connectors/AADInvitationManager/apiDefinition.swagger.json
  independent-publisher-connectors/AADInvitationManager/apiProperties.json
  independent-publisher-connectors/AADInvitationManager/readme.md
Labels: independent-publisher-connector, deployed, New

#1744 Givebutter (Independent Publisher)
  independent-publisher-connectors/Givebutter/apiDefinition.swagger.json
  independent-publisher-connectors/Givebutter/apiProperties.json
  independent-publisher-connectors/Givebutter/readme.md
Labels: independent-publisher-connector, deployed, New

#1756 DHL shipment tracking (Independent Publisher)
  independent-publisher-connectors/DHL Shipment Tracking/apiDefinition.swagger.json
  independent-publisher-connectors/DHL Shipment Tracking/apiProperties.json
  independent-publisher-connectors/DHL Shipment Tracking/readme.md
Labels: independent-publisher-connector, deployed, New

#1759 DadJokesIO (Independent Publisher)
  independent-publisher-connectors/DadJokesIO/apiDefinition.swagger.json
  independent-publisher-connectors/DadJokesIO/apiProperties.json
  independent-publisher-connectors/DadJokesIO/readme.md
Labels: independent-publisher-connector, deployed, New

#1307 VIES by European Commission (Independent Publisher)
  independent-publisher-connectors/VIES by European Commission/Readme.md
  independent-publisher-connectors/VIES by European Commission/apiDefinition.swagger.json
  independent-publisher-connectors/VIES by European Commission/apiProperties.json
  independent-publisher-connectors/VIES by European Commission/script.csx
Labels: independent-publisher-connector, deployed, New

#1729 RegEx Matching (Independent Publisher)
  independent-publisher-connectors/RegEx Matching/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1510 Increment paconn version to update in PyPI
  tools/paconn-cli/paconn/__init__.py
  tools/paconn-cli/setup.py
Labels: paconn-cli, needs:attention
