Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-08, with the labels that each got.

#1812 Zenler (Independent Publisher)
  independent-publisher-connectors/Zenler/apiDefinition.swagger.json
  independent-publisher-connectors/Zenler/apiProperties.json
  independent-publisher-connectors/Zenler/readme.md
Labels: independent-publisher-connector, deployed, New

#1815 SignUpGenius (Independent Publisher)
  independent-publisher-connectors/SignUpGenius/apiDefinition.swagger.json
  independent-publisher-connectors/SignUpGenius/apiProperties.json
  independent-publisher-connectors/SignUpGenius/readme.md
Labels: independent-publisher-connector, deployed, New

#1818 File.io (Independent Publisher)
  independent-publisher-connectors/FileIO/apiDefinition.swagger.json
  independent-publisher-connectors/FileIO/apiProperties.json
  independent-publisher-connectors/FileIO/readme.md
Labels: independent-publisher-connector, deployed, New

#1825 CPSC Recalls Retrieval (Independent Publisher)
  independent-publisher-connectors/CPSC Recalls Retrieval/apiDefinition.swagger.json
  independent-publisher-connectors/CPSC Recalls Retrieval/apiProperties.json
  independent-publisher-connectors/CPSC Recalls Retrieval/readme.md
Labels: independent-publisher-connector, deployed, New

#1792 SHRTCODE (Independent Publisher)
  independent-publisher-connectors/Notion/Readme.md
  independent-publisher-connectors/Notion/apiDefinition.swagger.json
  independent-publisher-connectors/SHRTCODE/apiDefinition.swagger.json
  independent-publisher-connectors/SHRTCODE/apiProperties.json
  independent-publisher-connectors/SHRTCODE/readme.md
Labels: independent-publisher-connector, deployed, New

#1853 Support Group Enumeration
  certified-connectors/Tikit/apiDefinition.swagger.json
Labels: certified-connector

#1851 Meisterplan Connector Update: Added Script File and Applied Latest REST API Definition
  certified-connectors/Meisterplan/apiDefinition.swagger.json
  certified-connectors/Meisterplan/script.csx
Labels: certified-connector

#1850 added delete webhook request
  certified-connectors/Zvanu parvaldnieks/Readme.md
  certified-connectors/Zvanu parvaldnieks/apiDefinition.swagger.json
Labels: certified-connector

#1847 Added Vocean to certified-connectors
  certified-connectors/Vocean/Readme.md
  certified-connectors/Vocean/apiDefinition.swagger.json
  certified-connectors/Vocean/apiProperties.json
Labels: certified-connector, needs:partner-attention, New

#1814 Tesseron ASM Ticket
  certified-connectors/Tesseron ASM Ticket/apiDefinition.swagger.json
  certified-connectors/Tesseron ASM Ticket/apiProperties.json
  certified-connectors/Tesseron ASM Ticket/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#1858 Refactor apiProperties for dynamic auth fields
  certified-connectors/Talkdesk/apiDefinition.swagger.json
  certified-connectors/Talkdesk/apiProperties.json
Labels: certified-connector

#1859 Update CloudConvert connector
  certified-connectors/CloudConvert/apiDefinition.swagger.json
  certified-connectors/CloudConvert/readme.md
Labels: certified-connector, Validation phase

#1854 Version 2.1
  certified-connectors/Industrial App Store/apiDefinition.swagger.json
  certified-connectors/Industrial App Store/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#1842 DQ on Demand (Certified Connector)
  certified-connectors/DQ on Demand/apiDefinition.swagger.json
  certified-connectors/DQ on Demand/apiProperties.json
  certified-connectors/DQ on Demand/readme.md
Labels: certified-connector, New

#1827 iManage Work (Certified Connector)
  certified-connectors/iManage Work/apiDefinition.swagger.json
  certified-connectors/iManage Work/apiProperties.json
  certified-connectors/iManage Work/readme.md
Labels: certified-connector, New

#1803 Refuge Restrooms (Independent Publisher)
  independent-publisher-connectors/Refuge Restrooms/apiDefinition.swagger.json
  independent-publisher-connectors/Refuge Restrooms/apiProperties.json
  independent-publisher-connectors/Refuge Restrooms/readme.md
Labels: independent-publisher-connector, deployed, New

#1843 Moosend (Independent Publisher)
  independent-publisher-connectors/Moosend/apiDefinition.swagger.json
  independent-publisher-connectors/Moosend/apiProperties.json
  independent-publisher-connectors/Moosend/readme.md
Labels: independent-publisher-connector, deployed, New

#1844 Datamuse (Independent Publisher)
  independent-publisher-connectors/Datamuse/apiDefinition.swagger.json
  independent-publisher-connectors/Datamuse/apiProperties.json
  independent-publisher-connectors/Datamuse/readme.md
Labels: independent-publisher-connector, deployed, New

#1867 Pling connector files
  certified-connectors/Pling/apiDefinition.swagger.json
  certified-connectors/Pling/apiProperties.json
  certified-connectors/Pling/readme.md
Labels: certified-connector, New

#1862 SmartCOMM Doc-Gen: two separate connectors for the regions ap10-sb and ap11
  certified-connectors/SmartCOMM Doc-Gen ap10-sb/Readme.md
  certified-connectors/SmartCOMM Doc-Gen ap10-sb/apiDefinition.swagger.json
  certified-connectors/SmartCOMM Doc-Gen ap10-sb/apiProperties.json
  certified-connectors/SmartCOMM Doc-Gen ap10-sb/script.csx
  certified-connectors/SmartCOMM Doc-Gen ap11/Readme.md
  certified-connectors/SmartCOMM Doc-Gen ap11/apiDefinition.swagger.json
  certified-connectors/SmartCOMM Doc-Gen ap11/apiProperties.json
  certified-connectors/SmartCOMM Doc-Gen ap11/script.csx
Labels: certified-connector, New

#1860 Update Sociabble connector
  certified-connectors/Sociabble/apiDefinition.swagger.json
  certified-connectors/Sociabble/apiProperties.json
  certified-connectors/Sociabble/readme.md
Labels: certified-connector

#1865 OneBlink & CivicPlus v1.4
  certified-connectors/CivicPlus/apiDefinition.swagger.json
  certified-connectors/OneBlink/apiDefinition.swagger.json
Labels: certified-connector

#1805 Power Assist - Certification
  certified-connectors/PowerAssist/Readme.md
  certified-connectors/PowerAssist/apiDefinition.swagger.json
  certified-connectors/PowerAssist/apiProperties.json
Labels: certified-connector, New

#1873 Adding NotificationMethod to Verified Connector
  certified-connectors/Verified/apiDefinition.swagger.json
Labels: certified-connector

#1874 Process Street: lift a required constraint for a POST parameter
  certified-connectors/ProcessStreet/apiDefinition.swagger.json
Labels: certified-connector

#1809 Adding document translator connector
  certified-connectors/DocumentTranslator/README.md
  certified-connectors/DocumentTranslator/apiDefinition.swagger.json
  certified-connectors/DocumentTranslator/apiProperties.json
Labels: certified-connector, New

#1881 Updating connection parameter properties for setting Host URL
  certified-connectors/DocumentTranslator/apiProperties.json
Labels: certified-connector

#1875 Adding TALXIS Data Feed
  certified-connectors/TALXISDataFeed/apiDefinition.swagger.json
  certified-connectors/TALXISDataFeed/apiProperties.json
  certified-connectors/TALXISDataFeed/readme.md
Labels: certified-connector, New

#1868 absentify connector
  certified-connectors/absentify/README.md
  certified-connectors/absentify/apiDefinition.swagger.json
  certified-connectors/absentify/apiProperties.json
Labels: certified-connector, New

#1869 IN-D Invoice Data Capture
  certified-connectors/IN-D Invoice Data Capture/README.MD
  certified-connectors/IN-D Invoice Data Capture/apiDefinition.swagger.json
  certified-connectors/IN-D Invoice Data Capture/apiProperties.json
Labels: certified-connector, New

#1864 Jupyrest connector certification
  certified-connectors/Jupyrest/Readme.md
  certified-connectors/Jupyrest/apiDefinition.swagger.json
  certified-connectors/Jupyrest/apiProperties.json
Labels: certified-connector

#1888 Jedox OData Hub (verified publisher) V1.1
  certified-connectors/Jedox OData Hub/apiDefinition.swagger.json
  certified-connectors/Jedox OData Hub/apiProperties.json
Labels: certified-connector

#1830 3E Events connector
  certified-connectors/3E Events/apiDefinition.swagger.json
  certified-connectors/3E Events/apiProperties.json
  certified-connectors/3E Events/readme.md
Labels: certified-connector, New

#1831 SchoolDigger (Independent Publisher) v1.1
  independent-publisher-connectors/SchoolDigger/apiDefinition.swagger.json
  independent-publisher-connectors/SchoolDigger/apiProperties.json
Labels: independent-publisher-connector, deployed

#1813 Add Basic Authentication to ShipStation Connector (Independent Publisher)
  independent-publisher-connectors/ShipStationIP/apiDefinition.swagger.json
  independent-publisher-connectors/ShipStationIP/apiProperties.json
Labels: independent-publisher-connector, deployed

#1783 Abortion Policy (Independent Publisher)
  independent-publisher-connectors/Abortion Policy API/README.MD
  independent-publisher-connectors/Abortion Policy API/apiDefinition.swagger.json
  independent-publisher-connectors/Abortion Policy API/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1876 ReliefWeb (Independent Publisher)
  independent-publisher-connectors/ReliefWeb/apiDefinition.swagger.json
  independent-publisher-connectors/ReliefWeb/apiProperties.json
  independent-publisher-connectors/ReliefWeb/readme.md
Labels: independent-publisher-connector, deployed

#1866 Climatiq (Independent Publisher)
  independent-publisher-connectors/Climatiq/apiDefinition.swagger.json
  independent-publisher-connectors/Climatiq/apiProperties.json
  independent-publisher-connectors/Climatiq/readme.md
Labels: independent-publisher-connector, deployed

#1863 Open Charge Map (Independent Publisher)
  independent-publisher-connectors/Open Charge Map/apiDefinition.swagger.json
  independent-publisher-connectors/Open Charge Map/apiProperties.json
  independent-publisher-connectors/Open Charge Map/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#1856 Shadify (Independent Publisher)
  independent-publisher-connectors/Shadify/apiDefinition.swagger.json
  independent-publisher-connectors/Shadify/apiProperties.json
  independent-publisher-connectors/Shadify/readme.md
Labels: independent-publisher-connector, deployed

#1877 Add Text Request connector files
  certified-connectors/Text Request/apiDefinition.swagger.json
  certified-connectors/Text Request/apiProperties.json
  certified-connectors/Text Request/readme.md
Labels: certified-connector, New

#1892 Pk isigning
  certified-connectors/PKIsigning/apiDefinition.swagger.json
  certified-connectors/PKIsigning/readme.md
Labels: certified-connector, New

#1836 Signature request extended param Sign Anywhere
  independent-publisher-connectors/OK dokument/README.md
  independent-publisher-connectors/OK dokument/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1898 Tesseron ASM Update
  certified-connectors/Tesseron ASM Ticket/apiDefinition.swagger.json
Labels: certified-connector, New

#1896 Nikunj vineforce
  certified-connectors/Vineforce/apiDefinition.swagger.json
Labels: certified-connector

#1890 Add support for recipient types and versioning support for templates
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector

#1906 Dox42
  certified-connectors/dox42/apiProperties.json
Labels: certified-connector

#1907 Addition of "Advanced Data Operations"
  certified-connectors/Advanced Data Operations/README.md
  certified-connectors/Advanced Data Operations/apiDefinition.swagger.json
  certified-connectors/Advanced Data Operations/apiProperties.json
Labels: certified-connector, New

#1913 Bug fixes and enhancements
  certified-connectors/ITautomate/apiDefinition.swagger.json
  certified-connectors/ITautomate/apiProperties.json
Labels: certified-connector

#1899 Dynamics Translation Service (Certified Publisher)
  certified-connectors/Dynamics 365 Translation Service/Readme.md
  certified-connectors/Dynamics 365 Translation Service/apiDefinition.swagger.json
  certified-connectors/Dynamics 365 Translation Service/apiProperties.json
Labels: certified-connector, New

#1915 Updated iconBrandColor
  certified-connectors/PowerAssist/apiProperties.json
Labels: certified-connector, New

#1916 Support for list custom fields
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector

#1917 IN-D Invoice Data Capture
  certified-connectors/IN-D Invoice Data Capture/apiDefinition.swagger.json
  certified-connectors/IN-D Invoice Data Capture/apiProperties.json
Labels: certified-connector, New

#1855 Quickbase (Independent Publisher) v1.1
  independent-publisher-connectors/Quickbase/apiDefinition.swagger.json
  independent-publisher-connectors/Quickbase/apiProperties.json
  independent-publisher-connectors/Quickbase/readme.md
Labels: independent-publisher-connector, deployed

#1819 SOS Inventory (independent publisher)
  independent-publisher-connectors/SOS Inventory/README.md
  independent-publisher-connectors/SOS Inventory/apiDefinition.swagger.json
  independent-publisher-connectors/SOS Inventory/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#1928 Updated "Title" in README.md for "Advanced Data Operations"
  certified-connectors/Advanced Data Operations/README.md
Labels: certified-connector, New
