Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-04, with the labels that each got.

#1489 Added new features to AXtension Content Gate.
  certified-connectors/AXtension Content Gate/apiDefinition.swagger.json
  certified-connectors/AXtension Content Gate/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1388 URLBae (Independent Publisher)
  independent-publisher-connectors/URLBae/apiDefinition.swagger.json
  independent-publisher-connectors/URLBae/apiProperties.json
  independent-publisher-connectors/URLBae/readme.md
Labels: independent-publisher-connector

#1398 Michael Scott Quotes (Independent Publisher)
  independent-publisher-connectors/Michael Scott Quotes/apiDefinition.swagger.json
  independent-publisher-connectors/Michael Scott Quotes/apiProperties.json
  independent-publisher-connectors/Michael Scott Quotes/readme.md
Labels: independent-publisher-connector

#1399 Corporate Buzzword Generator (Independent Publisher)
  independent-publisher-connectors/Corporate Buzzword Generator/apiDefinition.swagger.json
  independent-publisher-connectors/Corporate Buzzword Generator/apiProperties.json
  independent-publisher-connectors/Corporate Buzzword Generator/readme.md
Labels: independent-publisher-connector

#1424 Rarible (Independent Publisher)
  independent-publisher-connectors/Rarible/apiDefinition.swagger.json
  independent-publisher-connectors/Rarible/apiProperties.json
  independent-publisher-connectors/Rarible/readme.md
Labels: independent-publisher-connector, deployed

#1450 mondaycom (Independent Publisher)
  independent-publisher-connectors/mondaycom/apiDefinition.swagger.json
  independent-publisher-connectors/mondaycom/apiProperties.json
  independent-publisher-connectors/mondaycom/readme.md
Labels: independent-publisher-connector, deployed

#1495 AIHW - My Hospitals v0.2 (independent publisher)
  independent-publisher-connectors/MyHospitals by AIHW/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1379 CraftMyPDF (Independent Publisher)
  independent-publisher-connectors/CraftMyPDF/apiDefinition.swagger.json
  independent-publisher-connectors/CraftMyPDF/apiProperties.json
  independent-publisher-connectors/CraftMyPDF/readme.md
Labels: independent-publisher-connector, deployed

#1548 Updated property formats in Aletheia connector
  certified-connectors/Aletheia/apiDefinition.swagger.json
Labels: certified-connector

#1411 [Share-Effect] Added new properties to termstore operations, added document generate features to connector
  certified-connectors/ShareEffect/apiDefinition.swagger.json
  certified-connectors/ShareEffect/readme.md
Labels: certified-connector, needs:attention

#1358 More consistent download experience for overwrite
  tools/paconn-cli/README.md
  tools/paconn-cli/paconn/operations/download.py
Labels: paconn-cli, needs:attention

#1425 Power Textor
  certified-connectors/Power Textor/README.md
  certified-connectors/Power Textor/apiDefinition.swagger.json
  certified-connectors/Power Textor/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1422 Binance.us (Independent Publisher)
  independent-publisher-connectors/Binance.us/apiDefinition.swagger.json
  independent-publisher-connectors/Binance.us/apiProperties.json
  independent-publisher-connectors/Binance.us/readme.md
Labels: independent-publisher-connector, deployed

#1467 DigitalHumani (Independent Publisher)
  independent-publisher-connectors/DigitalHumani/apiDefinition.swagger.json
  independent-publisher-connectors/DigitalHumani/apiProperties.json
  independent-publisher-connectors/DigitalHumani/readme.md
Labels: independent-publisher-connector, deployed

#1508 GeoDB (Independent Publisher)
  independent-publisher-connectors/GeoDB/apiDefinition.swagger.json
  independent-publisher-connectors/GeoDB/apiProperties.json
  independent-publisher-connectors/GeoDB/readme.md
Labels: independent-publisher-connector, deployed

#1449 GitLab (Independent Publisher)
  independent-publisher-connectors/GitLab/apiDefinition.swagger.json
  independent-publisher-connectors/GitLab/apiProperties.json
  independent-publisher-connectors/GitLab/readme.md
Labels: independent-publisher-connector, deployed

#1396 Ice and Fire (Game of Thrones) (Independent Publisher)
  independent-publisher-connectors/Ice and Fire (Game of Thrones)/apiDefinition.swagger.json
  independent-publisher-connectors/Ice and Fire (Game of Thrones)/apiProperties.json
  independent-publisher-connectors/Ice and Fire (Game of Thrones)/readme.md
Labels: independent-publisher-connector, deployed

#1432 Nifty Gateway (Independent Publisher)
  independent-publisher-connectors/Nifty Gateway/apiDefinition.swagger.json
  independent-publisher-connectors/Nifty Gateway/apiProperties.json
  independent-publisher-connectors/Nifty Gateway/readme.md
Labels: independent-publisher-connector, deployed

#1494 National Park Service (Independent Publisher)
  independent-publisher-connectors/National Park Service/apiDefinition.swagger.json
  independent-publisher-connectors/National Park Service/apiProperties.json
  independent-publisher-connectors/National Park Service/readme.md
Labels: independent-publisher-connector, deployed

#1577 FLOW-127: hotfix for connect configuration creation issues
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector

#1448 Decentraland (Independent Publisher)
  independent-publisher-connectors/Decentraland/apiDefinition.swagger.json
  independent-publisher-connectors/Decentraland/apiProperties.json
  independent-publisher-connectors/Decentraland/readme.md
Labels: independent-publisher-connector

#1392 Ron Swanson Quotes (Independent Publisher)
  independent-publisher-connectors/Ron Swanson Quotes/apiDefinition.swagger.json
  independent-publisher-connectors/Ron Swanson Quotes/apiProperties.json
  independent-publisher-connectors/Ron Swanson Quotes/readme.md
Labels: independent-publisher-connector, deployed

#1523 Submitting Varuna Connector for Certification (Non-Microsoft Publisher)
  certified-connectors/Varuna/apiDefinition.swagger.json
  certified-connectors/Varuna/apiProperties.json
  certified-connectors/Varuna/readme.md
Labels: Validation phase

#1552 Finnish Railway Traffic (Independent Publisher)
  independent-publisher-connectors/Finnish Railway Traffic/Readme.md
  independent-publisher-connectors/Finnish Railway Traffic/apiDefinition.swagger.json
  independent-publisher-connectors/Finnish Railway Traffic/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress

#1553 Finnish BIS (Independent Publisher)
  independent-publisher-connectors/Finnish BIS/Readme.md
  independent-publisher-connectors/Finnish BIS/apiDefinition.swagger.json
  independent-publisher-connectors/Finnish BIS/apiProperties.json
Labels: independent-publisher-connector, deployed

#1565 Pexels (Independent Publisher)
  independent-publisher-connectors/Pexels/README.MD
  independent-publisher-connectors/Pexels/apiDefinition.swagger.json
  independent-publisher-connectors/Pexels/apiProperties.json
Labels: independent-publisher-connector, deployed

#1562 Robohash (Independent Publisher)
  independent-publisher-connectors/Robohash/apiDefinition.swagger.json
  independent-publisher-connectors/Robohash/apiProperties.json
  independent-publisher-connectors/Robohash/readme.md
Labels: independent-publisher-connector, deployed

#1602 DomainTools Iris Investigate and Enrich Custom Connectors
  certified-connectors/DomainToolsIrisEnrich/apiDefinition.swagger.json
  certified-connectors/DomainToolsIrisEnrich/apiProperties.json
  certified-connectors/DomainToolsIrisEnrich/readme.md
  certified-connectors/DomainToolsIrisInvestigate/apiDefinition.swagger.json
  certified-connectors/DomainToolsIrisInvestigate/apiProperties.json
  certified-connectors/DomainToolsIrisInvestigate/readme.md
Labels: certified-connector

#1440 Add new API V3 connector
  certified-connectors/Tilkee/README.md
  certified-connectors/Tilkee/apiDefinition.swagger.json
  certified-connectors/Tilkee/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1381 47 new actions
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#1591 Tuxmailer
  certified-connectors/TuxMailer/apiProperties.json
Labels: certified-connector

#1572 Ambee (Independent Publisher)
  independent-publisher-connectors/Ambee/apiDefinition.swagger.json
  independent-publisher-connectors/Ambee/apiProperties.json
  independent-publisher-connectors/Ambee/readme.md
Labels: independent-publisher-connector, deployed

#1404 Clockify (Independent Publisher)
  independent-publisher-connectors/Clockify/README.md
  independent-publisher-connectors/Clockify/apiDefinition.swagger.json
  independent-publisher-connectors/Clockify/apiProperties.json
Labels: independent-publisher-connector, deployed

#1526 DPIRD Radar (independent publisher)
  independent-publisher-connectors/DPIRD Radar/Readme.md
  independent-publisher-connectors/DPIRD Radar/apiDefinition.swagger.json
  independent-publisher-connectors/DPIRD Radar/apiProperties.json
Labels: independent-publisher-connector, deployed

#1525 DPIRD science (Independent publisher)
  independent-publisher-connectors/DPIRD Science/Readme.md
  independent-publisher-connectors/DPIRD Science/apiDefinition.swagger.json
  independent-publisher-connectors/DPIRD Science/apiProperties.json
Labels: independent-publisher-connector, deployed

#1460 DPIRD Weather (Independent Publisher)
  independent-publisher-connectors/DPIRD Weather/Readme.md
  independent-publisher-connectors/DPIRD Weather/apiDefinition.swagger.json
  independent-publisher-connectors/DPIRD Weather/apiProperties.json
Labels: independent-publisher-connector, deployed

#1459 icanhazdadjoke v1.1 (Independent Publisher) - Add a new action to connector
  independent-publisher-connectors/icanhazdadjoke/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployment-in-progress

#1581 Haveibeenpwned (Independent Publisher) v1.1
  independent-publisher-connectors/haveibeenpwned/apiDefinition.swagger.json
  independent-publisher-connectors/haveibeenpwned/readme.md
Labels: independent-publisher-connector, deployed

#1469 UK Check VAT (Independent Publisher)
  independent-publisher-connectors/U.K. Government Check VAT/apiDefinition.swagger.json
  independent-publisher-connectors/U.K. Government Check VAT/apiProperties.json
  independent-publisher-connectors/U.K. Government Check VAT/example.png
  independent-publisher-connectors/U.K. Government Check VAT/readme.md
Labels: independent-publisher-connector, deployed

#1522 Update Miro connector with additional operations (Independent Publisher)
  independent-publisher-connectors/Miro/Readme.md
  independent-publisher-connectors/Miro/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1400 Mintlify (Independent Publisher)
  independent-publisher-connectors/Mintlify/apiDefinition.swagger.json
  independent-publisher-connectors/Mintlify/apiProperties.json
  independent-publisher-connectors/Mintlify/readme.md
Labels: independent-publisher-connector, deployed

#1545 GlobalGiving Project (Independent Publisher)
  independent-publisher-connectors/GlobalGiving Project/apiDefinition.swagger.json
  independent-publisher-connectors/GlobalGiving Project/apiProperties.json
  independent-publisher-connectors/GlobalGiving Project/readme.md
Labels: independent-publisher-connector, deployed

#1483 Eonet by NASA (Independent Publisher) v1.1
  independent-publisher-connectors/EONET by NASA/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#1582 Advanced Scraper (Independent Publisher)
  independent-publisher-connectors/Advanced Scraper/apiDefinition.swagger.json
  independent-publisher-connectors/Advanced Scraper/apiProperties.json
  independent-publisher-connectors/Advanced Scraper/readme.md
Labels: independent-publisher-connector, deployed

#1578 AMEE Open Company (Independent Publisher)
  independent-publisher-connectors/AMEE Open Business/apiDefinition.swagger.json
  independent-publisher-connectors/AMEE Open Business/apiProperties.json
  independent-publisher-connectors/AMEE Open Business/readme.md
Labels: independent-publisher-connector, deployed
