Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-02, with the labels that each got.

#1286 Alkymi (Non-Microsoft Publisher)
  certified-connectors/Alkymi/FlowRunScreenshot.png
  certified-connectors/Alkymi/TestScreenshot.png
  certified-connectors/Alkymi/apiDefinition.swagger.json
  certified-connectors/Alkymi/apiProperties.json
  certified-connectors/Alkymi/readme.md
Labels: certified-connector

#1327 AccuWeather (Independent Publisher) 3.0
  independent-publisher-connectors/AccuWeather/apiDefinition.swagger.json
  independent-publisher-connectors/AccuWeather/apiProperties.json
  independent-publisher-connectors/AccuWeather/readme.md
Labels: independent-publisher-connector, certification-in-progress

#1272 OpenNEM (Independent Publisher)
  independent-publisher-connectors/OpenNEM/Readme.md
  independent-publisher-connectors/OpenNEM/apiDefinition.swagger.json
  independent-publisher-connectors/OpenNEM/apiProperties.json
Labels: independent-publisher-connector, deployed

#1274 Star Wars SWAPI (Independent Publisher)
  independent-publisher-connectors/Star Wars/apiDefinition.swagger.json
  independent-publisher-connectors/Star Wars/apiProperties.json
  independent-publisher-connectors/Star Wars/readme.md
Labels: independent-publisher-connector, deployed

#1335 Buy Me A Coffee (Independent Publisher)
  independent-publisher-connectors/Buy Me A Coffee/apiDefinition.swagger.json
  independent-publisher-connectors/Buy Me A Coffee/apiProperties.json
  independent-publisher-connectors/Buy Me A Coffee/readme.md
Labels: independent-publisher-connector, deployed

#1326 Cloverly (Independent Publisher)
  independent-publisher-connectors/Cloverly/apiDefinition.swagger.json
  independent-publisher-connectors/Cloverly/apiProperties.json
  independent-publisher-connectors/Cloverly/readme.md
Labels: independent-publisher-connector, deployed

#1305 Co2 Signal (Independent Publisher)
  independent-publisher-connectors/CO2 Signal/Readme.md
  independent-publisher-connectors/CO2 Signal/apiDefinition.swagger.json
  independent-publisher-connectors/CO2 Signal/apiProperties.json
Labels: independent-publisher-connector, deployed

#1325 COVID-19 API (Independent Publisher)
  independent-publisher-connectors/COVID-19 JHU CSSE/apiDefinition.swagger.json
  independent-publisher-connectors/COVID-19 JHU CSSE/apiProperties.json
  independent-publisher-connectors/COVID-19 JHU CSSE/readme.md
Labels: independent-publisher-connector, deployed

#1353 Ecologi (Independent Publisher)
  independent-publisher-connectors/Ecologi/apiDefinition.swagger.json
  independent-publisher-connectors/Ecologi/apiProperties.json
  independent-publisher-connectors/Ecologi/readme.md
Labels: independent-publisher-connector, deployed

#1352 haveibeenpwned (Independent Publisher)
  independent-publisher-connectors/haveibeenpwned/apiDefinition.swagger.json
  independent-publisher-connectors/haveibeenpwned/apiProperties.json
  independent-publisher-connectors/haveibeenpwned/readme.md
Labels: independent-publisher-connector, deployed

#1346 Mailjet (Independent Publisher)
  independent-publisher-connectors/MailJet/apiDefinition.swagger.json
  independent-publisher-connectors/MailJet/apiProperties.json
  independent-publisher-connectors/MailJet/readme.md
Labels: independent-publisher-connector, deployed

#1341 Miro (Independent Publisher)
  independent-publisher-connectors/Miro/Readme.md
  independent-publisher-connectors/Miro/apiDefinition.swagger.json
  independent-publisher-connectors/Miro/apiProperties.json
Labels: independent-publisher-connector, deployed

#1306 NASA Image and Video Library (Independent Publisher)
  independent-publisher-connectors/NASA Image and Video Library/Readme.md
  independent-publisher-connectors/NASA Image and Video Library/apiDefinition.swagger.json
  independent-publisher-connectors/NASA Image and Video Library/apiProperties.json
Labels: independent-publisher-connector, deployed

#1343 NIST National Vulnerability Database (Independent Publisher)
  independent-publisher-connectors/NIST National Vulnerability Database/apiDefinition.swagger.json
  independent-publisher-connectors/NIST National Vulnerability Database/apiProperties.json
  independent-publisher-connectors/NIST National Vulnerability Database/readme.md
Labels: independent-publisher-connector, deployed

#1328 openFDA Drug (Independent Publisher)
  independent-publisher-connectors/openFDA Drug/apiDefinition.swagger.json
  independent-publisher-connectors/openFDA Drug/apiProperties.json
  independent-publisher-connectors/openFDA Drug/readme.md
Labels: independent-publisher-connector, deployed

#1324 Pantry (Independent Publisher)
  independent-publisher-connectors/Pantry/apiDefinition.swagger.json
  independent-publisher-connectors/Pantry/apiProperties.json
  independent-publisher-connectors/Pantry/readme.md
Labels: independent-publisher-connector, deployed

#1334 Quickbase (Independent Publisher)
  independent-publisher-connectors/Quickbase/apiDefinition.swagger.json
  independent-publisher-connectors/Quickbase/apiProperties.json
  independent-publisher-connectors/Quickbase/readme.md
Labels: independent-publisher-connector, deployed

#1331 Rest Countries (Independent Publisher)
  independent-publisher-connectors/RestCountries/apiDefinition.swagger.json
  independent-publisher-connectors/RestCountries/apiProperties.json
  independent-publisher-connectors/RestCountries/readme.md
Labels: independent-publisher-connector, deployed

#1347 Revue (Independent Publisher)
  independent-publisher-connectors/Revue/apiDefinition.swagger.json
  independent-publisher-connectors/Revue/apiProperties.json
  independent-publisher-connectors/Revue/readme.md
Labels: independent-publisher-connector, deployed

#1330 Shields.io (Independent Publisher)
  independent-publisher-connectors/ShieldsIO/apiDefinition.swagger.json
  independent-publisher-connectors/ShieldsIO/apiProperties.json
  independent-publisher-connectors/ShieldsIO/readme.md
Labels: independent-publisher-connector, deployed

#1321 Unsplash (Independent Publisher)
  independent-publisher-connectors/Unsplash/apiDefinition.swagger.json
  independent-publisher-connectors/Unsplash/apiProperties.json
  independent-publisher-connectors/Unsplash/readme.md
Labels: independent-publisher-connector, deployed

#1275 Zippopotamus (Independent Publisher)
  independent-publisher-connectors/Zippopotamus/Readme.md
  independent-publisher-connectors/Zippopotamus/apiDefinition.swagger.json
  independent-publisher-connectors/Zippopotamus/apiProperties.json
Labels: independent-publisher-connector, deployed

#1350 Companies house (independent publisher)
  independent-publisher-connectors/Companies House/apiDefinition.swagger.json
  independent-publisher-connectors/Companies House/apiProperties.json
  independent-publisher-connectors/Companies House/readme.md
Labels: independent-publisher-connector, deployed

#1390 OpenExperience (Certified Connectors)
  certified-connectors/OpenExperience/apiDefinition.swagger.json
  certified-connectors/OpenExperience/apiProperties.json
  certified-connectors/OpenExperience/readme.md
Labels: certified-connector

#1356 Rlarsson/replymessage whatsapp optin methods
  certified-connectors/SmartDialog/README.md
  certified-connectors/SmartDialog/apiDefinition.swagger.json
  certified-connectors/SmartDialog/apiProperties.json
Labels: certified-connector

#1345 Updated connector name to be 'DataMotion' instead of 'Secure Message Delivery' and added link to our how-to guide for "X-API-Key" and "X-API-Secret" descriptions
  certified-connectors/DataMotion/README.md
  certified-connectors/DataMotion/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1337 Create custom connector TrueDialog
  certified-connectors/TrueDialog SMS/apiDefinition.swagger.json
  certified-connectors/TrueDialog SMS/apiProperties.json
  certified-connectors/TrueDialog SMS/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#1363 Deskdirector Connector update v1.5
  certified-connectors/DeskDirector/apiDefinition.swagger.json
Labels: certified-connector

#1369 Power Form 7 -- Updates readme with instructions to keep the WordPress plugin updated.
  certified-connectors/Power Form 7/intro.md
Labels: certified-connector

#1311 Added UiPath PA Connector
  custom-connectors/UiPath/ReadMe.md
  custom-connectors/UiPath/UiPathLogo.png
  custom-connectors/UiPath/apiDefinition.swagger.json
  custom-connectors/UiPath/apiProperties.json
Labels: certified-connector, Validation phase, On Hold

#1360 App Power Forms connector artifacts for certification
  certified-connectors/App Power Forms/apiDefinition.swagger.json
  certified-connectors/App Power Forms/apiProperties.json
  certified-connectors/App Power Forms/readme.md
Labels: certified-connector

#1383 Added files for Lansweeper App For Sentinel Custom Connector
  certified-connectors/Lansweeper App For Sentinel/README.md
  certified-connectors/Lansweeper App For Sentinel/apiDefinition.swagger.json
  certified-connectors/Lansweeper App For Sentinel/apiProperties.json
Labels: certified-connector

#1415 timeghost: Create time, end not required
  certified-connectors/timeghost/README.md
  certified-connectors/timeghost/apiDefinition.swagger.json
Labels: certified-connector

#1434 Updated apiDefinition Connect2All
  certified-connectors/Connect2All/apiDefinition.swagger.json
Labels: certified-connector

#1046 Placedog (Independent Publisher)
  independent-publisher-connectors/Placedog/apiDefinition.swagger.json
  independent-publisher-connectors/Placedog/apiProperties.json
  independent-publisher-connectors/Placedog/readme.md
Labels: independent-publisher-connector, deployed

#1355 Open-source AIForged Connector
  certified-connectors/AIForged/Readme.md
  certified-connectors/AIForged/apiDefinition.swagger.json
  certified-connectors/AIForged/apiProperties.json
Labels: certified-connector

#1437 Verified
  certified-connectors/Verified/Readme.md
  certified-connectors/Verified/apiDefinition.swagger.json
  certified-connectors/Verified/apiProperties.json
Labels: certified-connector

#1454 Update apiDefinition.swagger.json to fix the changes which found after deployed connector(Preview (United States)) testing
  certified-connectors/Lansweeper App For Sentinel/apiDefinition.swagger.json
Labels: certified-connector
