Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-10, with the labels that each got.

#2017 Updated HYAS Insight
  certified-connectors/HYAS Insight/apiDefinition.swagger.json
  certified-connectors/HYAS Insight/apiProperties.json
  certified-connectors/HYAS Insight/readme.md
Labels: certified-connector

#2014 Submits Cascade Strategy nextgen power automate custom connector for …
  certified-connectors/Cascade Strategy/apiDefinition.swagger.json
  certified-connectors/Cascade Strategy/apiProperties.json
  certified-connectors/Cascade Strategy/readme.md
Labels: certified-connector, New

#2013 Added a new dataType and updated the icon color
  certified-connectors/AzureDigitalTwins/apiDefinition.swagger.json
  certified-connectors/AzureDigitalTwins/apiProperties.json
Labels: certified-connector

#2007 updated cyberprood connector to support new APIS
  certified-connectors/CyberProof/apiDefinition.swagger.json
Labels: certified-connector

#1992 Typos, rewording and remaining branding changes
  certified-connectors/secplugs/apiDefinition.swagger.json
  certified-connectors/secplugs/apiProperties.json
  certified-connectors/secplugs/readme.md
Labels: certified-connector

#1990 Power Assist v1.4
  certified-connectors/PowerAssist/Readme.md
  certified-connectors/PowerAssist/apiDefinition.swagger.json
Labels: certified-connector

#1984 Power tools pro v4 0
  certified-connectors/PowerToolsPRO/apiDefinition.swagger.json
Labels: certified-connector

#2023 Vocean connector version 2.0
  certified-connectors/Vocean/Readme.md
  certified-connectors/Vocean/apiDefinition.swagger.json
  certified-connectors/Vocean/apiProperties.json
Labels: certified-connector

#2035 Rebranding of Projectplace to ProjectPlace
  certified-connectors/Projectplace/apiDefinition.swagger.json
  certified-connectors/Projectplace/apiProperties.json
  certified-connectors/Projectplace/readme.md
Labels: certified-connector

#2040 merge pdf4me to PowerPlatform
  certified-connectors/PDF4me Connect/apiDefinition.swagger.json
  certified-connectors/PDF4me/apiDefinition.swagger.json
Labels: certified-connector

#2029 Adding Morf (certified-connectors)
  certified-connectors/Morf/Readme.md
  certified-connectors/Morf/apiDefinition.swagger.json
  certified-connectors/Morf/apiProperties.json
Labels: certified-connector, New

#2000 Update connector
  certified-connectors/Plumsail Documents/apiDefinition.swagger.json
  certified-connectors/Plumsail Documents/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2046 merge to PowerPlatform
  certified-connectors/PDF4me Connect/apiDefinition.swagger.json
  certified-connectors/PDF4me/apiDefinition.swagger.json
Labels: certified-connector

#1964 Working days (Independent Publisher)
  independent-publisher-connectors/Working days/Readme.md
  independent-publisher-connectors/Working days/apiDefinition.swagger.json
  independent-publisher-connectors/Working days/apiProperties.json
Labels: independent-publisher-connector, deployed, New

#2030 Checkly (Independent Publisher)
  independent-publisher-connectors/Checkly/apiDefinition.swagger.json
  independent-publisher-connectors/Checkly/apiProperties.json
  independent-publisher-connectors/Checkly/readme.md
Labels: independent-publisher-connector, deployed, New

#2022 Did You Mean This (Independent Publisher)
  independent-publisher-connectors/Did You Mean This/apiDefinition.swagger.json
  independent-publisher-connectors/Did You Mean This/apiProperties.json
  independent-publisher-connectors/Did You Mean This/readme.md
Labels: independent-publisher-connector, deployed, New

#2021 Synthesia (Independent Publisher)
  independent-publisher-connectors/Synthesia/apiDefinition.swagger.json
  independent-publisher-connectors/Synthesia/apiProperties.json
  independent-publisher-connectors/Synthesia/readme.md
Labels: independent-publisher-connector, deployed, New

#2019 Replicate (Independent Publisher)
  independent-publisher-connectors/Replicate/apiDefinition.swagger.json
  independent-publisher-connectors/Replicate/apiProperties.json
  independent-publisher-connectors/Replicate/readme.md
Labels: independent-publisher-connector, deployed, New

#2018 Focusmate (Independent Publisher)
  independent-publisher-connectors/Focusmate/apiDefinition.swagger.json
  independent-publisher-connectors/Focusmate/apiProperties.json
  independent-publisher-connectors/Focusmate/readme.md
Labels: independent-publisher-connector, deployed, New

#2050 Filter to get expiring members, trigger when membership is terminated, get abandoned checkouts
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector

#2055 Added new actions. Please merge our changes.
  certified-connectors/Converter by Power2Apps/Readme.md
  certified-connectors/Converter by Power2Apps/apiDefinition.swagger.json
  certified-connectors/Converter by Power2Apps/apiProperties.json
Labels: certified-connector

#2056 Lassox/v2.2
  certified-connectors/LassoX/apiDefinition.swagger.json
  certified-connectors/LassoX/apiProperties.json
  certified-connectors/LassoX/readme.md
Labels: certified-connector

#2070 Title Changes
  certified-connectors/Tesseron ASM Basic Data/apiDefinition.swagger.json
  certified-connectors/Tesseron ASM Ticket/apiDefinition.swagger.json
Labels: certified-connector

#2057 Changing it to FPA
  certified-connectors/AzureDigitalTwins/apiDefinition.swagger.json
  certified-connectors/AzureDigitalTwins/apiProperties.json
Labels: certified-connector, Validation phase, New

#2059 USB4SAP : initial pull 10/14/22
  certified-connectors/USB4SAP/KB 024 - ODDI License Installation_v2.1.pdf
  certified-connectors/USB4SAP/Readme.md
  certified-connectors/USB4SAP/apiDefinition.swagger.json
  certified-connectors/USB4SAP/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2072 Submitting Business Assist connector for certification
  certified-connectors/Business Assist/README.md
  certified-connectors/Business Assist/apiDefinition.swagger.json
  certified-connectors/Business Assist/apiProperties.json
  certified-connectors/Business Assist/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2037 Writesonic (Independent Publisher)
  independent-publisher-connectors/Writesonic/apiDefinition.swagger.json
  independent-publisher-connectors/Writesonic/apiProperties.json
  independent-publisher-connectors/Writesonic/readme.md
Labels: independent-publisher-connector, deployed, New

#2033 OMDb (Independent Publisher)
  independent-publisher-connectors/OMDb API/README.MD
  independent-publisher-connectors/OMDb API/apiDefinition.swagger.json
  independent-publisher-connectors/OMDb API/apiProperties.json
Labels: independent-publisher-connector, deployed, New, Student

#1993 Open Trivia DB (Independent Publisher)
  independent-publisher-connectors/OpenTriviaDB/README.md
  independent-publisher-connectors/OpenTriviaDB/apiDefinition.swagger.json
  independent-publisher-connectors/OpenTriviaDB/apiProperties.json
Labels: independent-publisher-connector, deployed, New, Student

#2052 CarsXE (Independent Publisher)
  independent-publisher-connectors/CarsXE/apiDefinition.swagger.json
  independent-publisher-connectors/CarsXE/apiProperties.json
  independent-publisher-connectors/CarsXE/readme.md
Labels: independent-publisher-connector, deployed, New

#2026 Influenzaandcovid19
  independent-publisher-connectors/Influenza and Covid-19/apiDefination.swagger.json
  independent-publisher-connectors/Influenza and Covid-19/apiProperties.json
  independent-publisher-connectors/Influenza and Covid-19/readme.md
Labels: independent-publisher-connector, deployed, New

#2075 Advanced Data Operations Corrections/Enhancements
  certified-connectors/Advanced Data Operations/README.md
  certified-connectors/Advanced Data Operations/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, New

#2071 Port changes from Demo Connector to Prod Connector
  certified-connectors/DocuSign/apiDefinition.swagger.json
  certified-connectors/DocuSign/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#2066 2022 Q4 Enhancements
  certified-connectors/Blackbaud Raiser's Edge NXT Constituents/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Events/apiDefinition.swagger.json
  certified-connectors/Blackbaud Raiser's Edge NXT Gifts/apiDefinition.swagger.json
  certified-connectors/Blackbaud SKY Add-ins/apiDefinition.swagger.json
  certified-connectors/Blackbaud SKY Add-ins/apiProperties.json
  certified-connectors/Blackbaud SKY Add-ins/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#2077 Adding Taqnyat SMS connector (certified-connectors)
  certified-connectors/Taqnyat SMS/README.md
  certified-connectors/Taqnyat SMS/apiDefinition.swagger.json
  certified-connectors/Taqnyat SMS/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2083 Added parameters for posts: manageable and content type
  certified-connectors/Staffbase/apiDefinition.swagger.json
Labels: certified-connector

#2089 updated the query parameter
  certified-connectors/AzureDigitalTwins/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2097 add 3 new Template Platform actions
  certified-connectors/3E Events/apiDefinition.swagger.json
Labels: certified-connector

#2028 Edatalia Sign Online (Independent Publisher)
  independent-publisher-connectors/Edatalia sign online/apiDefinition.swagger.json
  independent-publisher-connectors/Edatalia sign online/apiProperties.json
  independent-publisher-connectors/Edatalia sign online/img/APIKey.png
  independent-publisher-connectors/Edatalia sign online/img/AxazureLogo.png
  independent-publisher-connectors/Edatalia sign online/img/Connexion.png
  independent-publisher-connectors/Edatalia sign online/img/WebhookUrl.png
  independent-publisher-connectors/Edatalia sign online/img/integrationAPI.png
  independent-publisher-connectors/Edatalia sign online/readme.md
  independent-publisher-connectors/Edatalia sign online/screenshots/DocSignedSuccess.png
  independent-publisher-connectors/Edatalia sign online/screenshots/DocsSigned.png
  independent-publisher-connectors/Edatalia sign online/screenshots/GetEvidences.png
  independent-publisher-connectors/Edatalia sign online/screenshots/GetSignedDocument.png
  independent-publisher-connectors/Edatalia sign online/screenshots/MultipleDocs.png
  independent-publisher-connectors/Edatalia sign online/screenshots/MultipleSign.png
  independent-publisher-connectors/Edatalia sign online/screenshots/SimpleSign.png
  independent-publisher-connectors/Edatalia sign online/screenshots/emailExample.png
  independent-publisher-connectors/Edatalia sign online/screenshots/getDetails.png
Labels: deployed

#1996 Electricity Maps (Independent Publisher)
  independent-publisher-connectors/Electricity Maps/Readme.md
  independent-publisher-connectors/Electricity Maps/apiDefinition.swagger.json
  independent-publisher-connectors/Electricity Maps/apiProperties.json
Labels: deployed

#2003 24 pull requests (Independent Publisher)
  independent-publisher-connectors/24 Pull Request/README.md
  independent-publisher-connectors/24 Pull Request/apiDefinition.swagger.json
  independent-publisher-connectors/24 Pull Request/apiProperties.json
Labels: deployed

#2091 Dime.Scheduler (Certified Connector)
  certified-connectors/Dime.Scheduler/README.md
  certified-connectors/Dime.Scheduler/apiDefinition.swagger.json
  certified-connectors/Dime.Scheduler/apiProperties.json
Labels: certified-connector
