Repository microsoft/PowerPlatformConnectors, pull requests merged in 2022-12, with the labels that each got.

#2185 DeskDirector - Version 1.6
  certified-connectors/DeskDirector/apiDefinition.swagger.json
  certified-connectors/DeskDirector/apiProperties.json
Labels: certified-connector

#2160 Continuing work for Eagle connector.
  certified-connectors/EBMS/README.md
  certified-connectors/EBMS/apiDefinition.swagger.json
  certified-connectors/EBMS/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2183 Add Team Forms certified connector
  certified-connectors/Team Forms/README.md
  certified-connectors/Team Forms/apiDefinition.swagger.json
  certified-connectors/Team Forms/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2180 Today in History (Independent Publisher)
  independent-publisher-connectors/Today in History/apiDefinition.swagger.json
  independent-publisher-connectors/Today in History/apiProperties.json
  independent-publisher-connectors/Today in History/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#1840 Snowflake Connector (Independent Publisher)
  independent-publisher-connectors/snowflake/apiDefinition.swagger.json
  independent-publisher-connectors/snowflake/apiProperties.json
  independent-publisher-connectors/snowflake/readme.md
  independent-publisher-connectors/snowflake/script.csx
Labels: independent-publisher-connector, deployment-in-progress, New

#2179 CiviQ connector certification
  certified-connectors/CiviQ/Readme.md
  certified-connectors/CiviQ/apiDefinition.swagger.json
  certified-connectors/CiviQ/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2210 Azure Communication Services SMS Events (Certified Connector)
  certified-connectors/Azure Communication Services SMS Events/README.md
  certified-connectors/Azure Communication Services SMS Events/apiDefinition.swagger.json
  certified-connectors/Azure Communication Services SMS Events/apiProperties.json
  certified-connectors/Azure Communication Services SMS Events/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#1959 Unearth Ingest (Certified Connector)
  certified-connectors/Unearth Ingest/apiDefinition.swagger.json
  certified-connectors/Unearth Ingest/apiProperties.json
  certified-connectors/Unearth Ingest/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2177 Tumblr (Independent Publisher)
  independent-publisher-connectors/Tumblr/apiDefinition.swagger.json
  independent-publisher-connectors/Tumblr/apiProperties.json
  independent-publisher-connectors/Tumblr/readme.md
  independent-publisher-connectors/Tumblr/script.csx
Labels: independent-publisher-connector, deployed, New

#2094 eBay (Independent Publisher)
  independent-publisher-connectors/eBay/apiDefinition.swagger.json
  independent-publisher-connectors/eBay/apiProperties.json
  independent-publisher-connectors/eBay/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2087 Google Photos (Independent Publisher)
  independent-publisher-connectors/Google Photos/apiDefinition.swagger.json
  independent-publisher-connectors/Google Photos/apiProperties.json
  independent-publisher-connectors/Google Photos/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2068 GitHub Gists (Independent Publisher)
  independent-publisher-connectors/GitHub Gists/apiDefinition.swagger.json
  independent-publisher-connectors/GitHub Gists/apiProperties.json
  independent-publisher-connectors/GitHub Gists/readme.md
Labels: independent-publisher-connector, deployed, deployment-in-progress, New

#2045 TSheets Quickbooks Time (Independent Publisher)
  independent-publisher-connectors/TSheets Quickbooks Time/apiDefinition.swagger.json
  independent-publisher-connectors/TSheets Quickbooks Time/apiProperties.json
  independent-publisher-connectors/TSheets Quickbooks Time/readme.md
Labels: independent-publisher-connector, deployed, New

#2184 FishWatch (Independent Publisher)
  independent-publisher-connectors/FishWatch/apiDefinition.swagger.json
  independent-publisher-connectors/FishWatch/apiProperties.json
  independent-publisher-connectors/FishWatch/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2182 DailyMed (Independent Publisher)
  independent-publisher-connectors/DailyMed/apiDefinition.swagger.json
  independent-publisher-connectors/DailyMed/apiProperties.json
  independent-publisher-connectors/DailyMed/readme.md
Labels: independent-publisher-connector, deployed, New

#2192 Pixel encounter (Independent Publisher)
  independent-publisher-connectors/Pixel Encounter/apiDefinition.swagger.json
  independent-publisher-connectors/Pixel Encounter/apiProperties.json
  independent-publisher-connectors/Pixel Encounter/readme.md
Labels: independent-publisher-connector, deployed, New

#2220 Added Experlogix Smart Flows connector.
  certified-connectors/Experlogix Smart Flows/apiDefinition.swagger.json
  certified-connectors/Experlogix Smart Flows/apiProperties.json
  certified-connectors/Experlogix Smart Flows/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2172 Workable (Independent Publisher)
  independent-publisher-connectors/Workable/apiDefinition.swagger.json
  independent-publisher-connectors/Workable/apiProperties.json
Labels: independent-publisher-connector, deployed

#2165 Update connector - adding 4 new actions to mailjet connector
  independent-publisher-connectors/MailJet/apiDefinition.swagger.json
  independent-publisher-connectors/MailJet/readme.md
Labels: independent-publisher-connector, deployment-in-progress

#2198 Holopin (Independent Publisher)
  independent-publisher-connectors/Holopin/apiDefinition.swagger.json
  independent-publisher-connectors/Holopin/apiProperties.json
  independent-publisher-connectors/Holopin/readme.md
Labels: independent-publisher-connector, deployed, New

#2202 SMS Wireless Services (Independent Publisher)
  independent-publisher-connectors/SMS Wireless Services/apiDefinition.swagger.json
  independent-publisher-connectors/SMS Wireless Services/apiProperties.json
  independent-publisher-connectors/SMS Wireless Services/readme.md
Labels: independent-publisher-connector, deployed, New

#2208 TheGoodAPI (Independent Publisher)
  independent-publisher-connectors/TheGoodAPI/apiDefinition.swagger.json
  independent-publisher-connectors/TheGoodAPI/apiProperties.json
  independent-publisher-connectors/TheGoodAPI/readme.md
Labels: independent-publisher-connector, deployed, New

#2221 Citymapper (Independent Publisher)
  independent-publisher-connectors/Citymapper/apiDefinition.swagger.json
  independent-publisher-connectors/Citymapper/apiProperties.json
  independent-publisher-connectors/Citymapper/readme.md
Labels: independent-publisher-connector, deployed, New

#2205 ExchangeRate (Independent Publisher)
  independent-publisher-connectors/ExchangeRate/apiDefinition.swagger.json
  independent-publisher-connectors/ExchangeRate/apiProperties.json
  independent-publisher-connectors/ExchangeRate/readme.md
Labels: independent-publisher-connector, deployed, New

#2233 FraudLabs Pro (Independent Publisher)
  independent-publisher-connectors/FraudLabs Pro/apiDefinition.swagger.json
  independent-publisher-connectors/FraudLabs Pro/apiProperties.json
  independent-publisher-connectors/FraudLabs Pro/readme.md
Labels: independent-publisher-connector, deployed, deployment-in-progress, New

#2243 Seismic Configuration (Verified Publisher)
  certified-connectors/Seismic Configuration/apiDefinition.swagger.json
  certified-connectors/Seismic Configuration/apiProperties.json
  certified-connectors/Seismic Configuration/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2241 Update v3/viber
  certified-connectors/tyntec-Viber/README.md
  certified-connectors/tyntec-Viber/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2234 [Airmeet] Added and updated Airmeet actions
  certified-connectors/Airmeet/Readme.md
  certified-connectors/Airmeet/apiDefinition.swagger.json
  certified-connectors/Airmeet/apiProperties.json
  certified-connectors/Airmeet/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention
