Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-05, with the labels that each got.

#2615 Encodian May 23 Release
  certified-connectors/Encodian/Readme.md
  certified-connectors/Encodian/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2607 OneBlink v1.5
  certified-connectors/OneBlink/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2588 StarRez REST v1 connector initial creation
  certified-connectors/StarRez REST v1/README.md
  certified-connectors/StarRez REST v1/apiDefinition.swagger.json
  certified-connectors/StarRez REST v1/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2517 ManageEngine ServiceDesk Plus Cloud app submission
  certified-connectors/ServiceDeskPlus Cloud/apiDefinition.swagger.json
  certified-connectors/ServiceDeskPlus Cloud/apiProperties.json
  certified-connectors/ServiceDeskPlus Cloud/readme.md
  certified-connectors/ServiceDeskPlus Cloud/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2533 HubSpot CRM (Independent Publisher) Remove reports scope
  independent-publisher-connectors/HubSpot CRM/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress

#2589 Aad invitation manager (Independent Publisher) - Fix
  independent-publisher-connectors/AADInvitationManager/apiDefinition.swagger.json
  independent-publisher-connectors/AADInvitationManager/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress

#2572 OpenAI GPT (Independent Publisher) v1.1
  independent-publisher-connectors/OpenAI GPT-4/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployment-in-progress

#2571 Webex Integration (Independent Publisher)
  independent-publisher-connectors/WebexIntegration/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployment-in-progress

#2625 Latest commit contains changes needed for NER Entities endpoint. Our API was updated recently as the URL was being changed.
  certified-connectors/FactSet/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2635 Dokobit Universal API
  certified-connectors/Dokobit Universal API/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2642 update authenticate method
  certified-connectors/Maximizer/apiDefinition.swagger.json
  certified-connectors/Maximizer/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2609 CM Informatik AG
  certified-connectors/CM Informatik AG/README.md
  certified-connectors/CM Informatik AG/apiDefinition.swagger.json
  certified-connectors/CM Informatik AG/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2648 Release DS1002 for DocuSign
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector, needs:partner-attention, On Hold

#2643 Edenai Certified Connector request
  certified-connectors/Eden AI/Readme.md
  certified-connectors/Eden AI/apiDefinition.swagger.json
  certified-connectors/Eden AI/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2636 Planful
  certified-connectors/Planful/README.md
  certified-connectors/Planful/apiDefinition.swagger.json
  certified-connectors/Planful/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2645 Vocean version 3.0. Implementation of the use of new designations in …
  certified-connectors/Vocean/Readme.md
  certified-connectors/Vocean/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2606 Adding Signi Connector
  certified-connectors/Signi/Readme.md
  certified-connectors/Signi/apiDefinition.swagger.json
  certified-connectors/Signi/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2620 WhatIsMyBrowser (Independent Publisher)
  independent-publisher-connectors/WhatIsMyBrowser/apiDefinition.swagger.json
  independent-publisher-connectors/WhatIsMyBrowser/apiProperties.json
  independent-publisher-connectors/WhatIsMyBrowser/readme.md
Labels: independent-publisher-connector, deployed

#2619 ScreenshotOne (Independent Publisher)
  independent-publisher-connectors/ScreenshotOne/apiDefinition.swagger.json
  independent-publisher-connectors/ScreenshotOne/apiProperties.json
  independent-publisher-connectors/ScreenshotOne/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2610 MessageBird SMS (Independent Publisher)
  independent-publisher-connectors/MessageBird SMS/apiDefinition.swagger.json
  independent-publisher-connectors/MessageBird SMS/apiProperties.json
  independent-publisher-connectors/MessageBird SMS/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2598 Threads (Independent Publisher)
  independent-publisher-connectors/Threads/apiDefinition.swagger.json
  independent-publisher-connectors/Threads/apiProperties.json
  independent-publisher-connectors/Threads/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2480 Leap-AI (Independent Publisher)
  independent-publisher-connectors/Leap-Ai/README.md
  independent-publisher-connectors/Leap-Ai/apiDefinition.swagger.json
  independent-publisher-connectors/Leap-Ai/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New

#2641 Please merge this changes
  certified-connectors/Converter by Power2Apps/Readme.md
  certified-connectors/Converter by Power2Apps/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2633 Monster API (Independent Publisher)
  independent-publisher-connectors/Monster API/apiDefinition.swagger.json
  independent-publisher-connectors/Monster API/apiProperties.json
  independent-publisher-connectors/Monster API/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2632 URL.dev (Independent Publisher)
  independent-publisher-connectors/URL.dev/apiDefinition.swagger.json
  independent-publisher-connectors/URL.dev/apiProperties.json
  independent-publisher-connectors/URL.dev/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2622 SolarEdge (Independent Publisher)
  independent-publisher-connectors/SolarEdge/Readme.md
  independent-publisher-connectors/SolarEdge/apiDefinition.swagger.json
  independent-publisher-connectors/SolarEdge/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New

#2668 HTML To PDF By Pascalcase
  certified-connectors/HTML To PDF By Pascalcase/Readme.md
  certified-connectors/HTML To PDF By Pascalcase/apiDefinition.swagger.json
  certified-connectors/HTML To PDF By Pascalcase/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2646 Tomorrow.io (Independent Publisher)
  independent-publisher-connectors/Tomorrow.io/apiDefinition.swagger.json
  independent-publisher-connectors/Tomorrow.io/apiProperties.json
  independent-publisher-connectors/Tomorrow.io/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2647 kyndryl mainframe connector
  certified-connectors/KyndrylMainframe/apiDefinition.swagger.json
  certified-connectors/KyndrylMainframe/apiProperties.json
  certified-connectors/KyndrylMainframe/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2662 ReversingLabs A1000 and TitaniumCloud
  certified-connectors/ReversingLabs A1000/README.md
  certified-connectors/ReversingLabs A1000/apiDefinition.swagger.json
  certified-connectors/ReversingLabs A1000/apiProperties.json
  certified-connectors/ReversingLabs TitaniumCloud/README.md
  certified-connectors/ReversingLabs TitaniumCloud/apiDefinition.swagger.json
  certified-connectors/ReversingLabs TitaniumCloud/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New
