Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-04, with the labels that each got.

#2468 Cohere (Independent Publisher)
  independent-publisher-connectors/Cohere/apiDefinition.swagger.json
  independent-publisher-connectors/Cohere/apiProperties.json
  independent-publisher-connectors/Cohere/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2432 Independent Publisher Worldwide Holidays
  independent-publisher-connectors/Worldwide Holidays/Readme.md
  independent-publisher-connectors/Worldwide Holidays/apiDefinition.swagger.json
  independent-publisher-connectors/Worldwide Holidays/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New

#2494 Recorded Future Sandbox Connector
  certified-connectors/RecordedFutureSandbox/README.md
  certified-connectors/RecordedFutureSandbox/apiDefinition.swagger.json
  certified-connectors/RecordedFutureSandbox/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2505 ScrapingBee (Independent Publisher)
  independent-publisher-connectors/ScrapingBee/apiDefinition.swagger.json
  independent-publisher-connectors/ScrapingBee/apiProperties.json
  independent-publisher-connectors/ScrapingBee/readme.md
Labels: independent-publisher-connector, deployed

#2493 Instatus (Independent Publisher)
  independent-publisher-connectors/Instatus/apiDefinition.swagger.json
  independent-publisher-connectors/Instatus/apiProperties.json
  independent-publisher-connectors/Instatus/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2537 Certopus
  certified-connectors/Certopus/apiDefinition.swagger.json
  certified-connectors/Certopus/apiProperties.json
  certified-connectors/Certopus/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2525 Updated the connector
  certified-connectors/bitskout/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2522 Add definition and code for ChatCompletion
  custom-connectors/AzureOpenAIService/README.md
  custom-connectors/AzureOpenAIService/apiDefinition.swagger.json
  custom-connectors/AzureOpenAIService/apiProperties.json
  custom-connectors/AzureOpenAIService/connector-icon.png
  custom-connectors/AzureOpenAIService/resources/azure-openai-custom-connector-architecture.png
  custom-connectors/AzureOpenAIService/resources/azure-openai-custom-connector-architecture.pptx
  custom-connectors/AzureOpenAIService/resources/context-passed-to-azure-openai-custom-connector.png
  custom-connectors/AzureOpenAIService/resources/passing-context-to-azure-openai-custom-connector.png
  custom-connectors/AzureOpenAIService/script.csx
Labels: custom-connector, Validation phase, needs:partner-attention

#2490 Updating ReadMe and apiDefinition for FactSet Connector
  certified-connectors/FactSet/Readme.md
  certified-connectors/FactSet/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2546 added LCP - iCordis connector
  certified-connectors/LCP - iCordis/Readme.md
  certified-connectors/LCP - iCordis/apiDefinition.swagger.json
  certified-connectors/LCP - iCordis/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2566 Deprecated all operations.
  certified-connectors/Integration Toolbox/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2540 DigiDates (Independent Publisher)
  independent-publisher-connectors/DigiDates/apiDefinition.swagger.json
  independent-publisher-connectors/DigiDates/apiProperties.json
  independent-publisher-connectors/DigiDates/readme.md
Labels: independent-publisher-connector, deployed

#2538 Anthropic (Independent Publisher)
  independent-publisher-connectors/Anthropic/apiDefinition.swagger.json
  independent-publisher-connectors/Anthropic/apiProperties.json
  independent-publisher-connectors/Anthropic/readme.md
  independent-publisher-connectors/Anthropic/script.csx
Labels: independent-publisher-connector, deployment-in-progress, New

#2526 Zapier NLA (Independent Publisher)
  independent-publisher-connectors/Zapier NLA/apiDefinition.swagger.json
  independent-publisher-connectors/Zapier NLA/apiProperties.json
  independent-publisher-connectors/Zapier NLA/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2523 NumlookupAPI (Independent Publisher)
  independent-publisher-connectors/NumlookupAPI/apiDefinition.swagger.json
  independent-publisher-connectors/NumlookupAPI/apiProperties.json
  independent-publisher-connectors/NumlookupAPI/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2521 Instagram basic display (Independent Publisher)
  independent-publisher-connectors/InstagramBasicDisplay/apiDefinition.swagger.json
  independent-publisher-connectors/InstagramBasicDisplay/apiProperties.json
  independent-publisher-connectors/InstagramBasicDisplay/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2519 Courier (Independent Publisher)
  independent-publisher-connectors/Courier/apiDefinition.swagger.json
  independent-publisher-connectors/Courier/apiProperties.json
  independent-publisher-connectors/Courier/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2514 Forem (Independent Publisher)
  independent-publisher-connectors/Forem/apiDefinition.swagger.json
  independent-publisher-connectors/Forem/apiProperties.json
  independent-publisher-connectors/Forem/assets/API-key.png
  independent-publisher-connectors/Forem/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2508 SendFox (Independent Publisher)
  independent-publisher-connectors/SendFox/apiDefinition.swagger.json
  independent-publisher-connectors/SendFox/apiProperties.json
  independent-publisher-connectors/SendFox/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2495 OpenAI GPT (Independent Publisher)
  independent-publisher-connectors/OpenAI GPT-4/apiDefinition.swagger.json
  independent-publisher-connectors/OpenAI GPT-4/apiProperties.json
  independent-publisher-connectors/OpenAI GPT-4/readme.md
  independent-publisher-connectors/OpenAI GPT-4/script.csx
Labels: independent-publisher-connector, deployment-in-progress, New

#2580 Update to the bot platform connector for client id and website contact info
  certified-connectors/The Bot Platform/apiDefinition.swagger.json
  certified-connectors/The Bot Platform/apiProperties.json
Labels: certified-connector, needs:partner-attention

#2477 3E Events connector: auth redesigned: used multi-auth approach; + 8 new regions to support…
  certified-connectors/3E Events/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2586 Added eformity connector
  certified-connectors/eformity/apiDefinition.swagger.json
  certified-connectors/eformity/apiProperties.json
  certified-connectors/eformity/readme.md
Labels: certified-connector, Validation phase, New

#2550 Scryfall (Independent Publisher)
  independent-publisher-connectors/Scryfall/apiDefinition.swagger.json
  independent-publisher-connectors/Scryfall/apiProperties.json
  independent-publisher-connectors/Scryfall/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2592 Fixing DT file path issue
  certified-connectors/TranslatorV3/apiDefinition.swagger.json
  certified-connectors/TranslatorV3/apiProperties.json
  certified-connectors/TranslatorV3/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2594 Update Bookings connector to use new API and show a drop down in the Bookings trigger
  certified-connectors/Microsoft Bookings/Readme.md
  certified-connectors/Microsoft Bookings/apiDefinition.swagger.json
  certified-connectors/Microsoft Bookings/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2596 Correcting bug with rowtype error. converting to resultsetmetadata
  custom-connectors/Snowflake/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#2581 The IT Tipster Pull Request
  certified-connectors/The IT Tipster/apiDefinition.swagger.json
  certified-connectors/The IT Tipster/apiProperties.json
  certified-connectors/The IT Tipster/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2595 Dokobit Universal API
  certified-connectors/Dokobit Universal API/apiDefinition.swagger.json
  certified-connectors/Dokobit Universal API/apiProperties.json
  certified-connectors/Dokobit Universal API/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2585 Strategic Portfolio Manager -Certified Connectors (360 Strategic Port…
  certified-connectors/Strategic Portfolio Manager/Readme.md
  certified-connectors/Strategic Portfolio Manager/apiDefinition.swagger.json
  certified-connectors/Strategic Portfolio Manager/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2583 GitHub Utils (Independent Publisher)
  independent-publisher-connectors/GitHub Utils/README.md
  independent-publisher-connectors/GitHub Utils/apiDefinition.swagger.json
  independent-publisher-connectors/GitHub Utils/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New

#2463 BKK Futar (Independent Publisher)
  independent-publisher-connectors/BkkFutar/apiDefinition.swagger.json
  independent-publisher-connectors/BkkFutar/apiProperties.json
  independent-publisher-connectors/BkkFutar/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2593 Seismic workspace (Verified publisher)
  certified-connectors/Seismic Workspace/apiDefinition.swagger.json
  certified-connectors/Seismic Workspace/apiProperties.json
  certified-connectors/Seismic Workspace/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2601 Updating POST body for webhook requests
  certified-connectors/nps.today/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#1834 Microsoft Partner Center (Independent Publisher)
  independent-publisher-connectors/Microsoft Partner Center/Readme.md
  independent-publisher-connectors/Microsoft Partner Center/apiDefinition.swagger.json
  independent-publisher-connectors/Microsoft Partner Center/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New
