Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-11, with the labels that each got.

#3060 Update smapOne Connector
  certified-connectors/smapOne/apiDefinition.swagger.json
Labels: certified-connector

#3009 Added new connector Asite Hong Kong and Asite Canada
  certified-connectors/Asite (Canada)/Readme.md
  certified-connectors/Asite (Canada)/apiDefinition.swagger.json
  certified-connectors/Asite (Canada)/apiProperties.json
  certified-connectors/Asite (Hong Kong)/Readme.md
  certified-connectors/Asite (Hong Kong)/apiDefinition.swagger.json
  certified-connectors/Asite (Hong Kong)/apiProperties.json
Labels: certified-connector, New

#2821 Jasper (Independent Publisher)
  independent-publisher-connectors/Jasper/apiDefinition.swagger.json
  independent-publisher-connectors/Jasper/apiProperties.json
  independent-publisher-connectors/Jasper/readme.md
Labels: independent-publisher-connector, deployed

#3033 Abstract Phone Validator (Independent Publisher)
  independent-publisher-connectors/Abstract Phone Validator/apiDefinition.swagger.json
  independent-publisher-connectors/Abstract Phone Validator/apiProperties.json
  independent-publisher-connectors/Abstract Phone Validator/readme.md
Labels: In-deployment phase, New

#3031 Abstract Email Validator (Independent Publisher)
  independent-publisher-connectors/Abstract Email Validator/apiDefinition.swagger.json
  independent-publisher-connectors/Abstract Email Validator/apiProperties.json
  independent-publisher-connectors/Abstract Email Validator/readme.md
Labels: independent-publisher-connector, deployed

#3105 Azure Communication Service Email (Certified Connector)
  certified-connectors/Azure Communication Services Email/apiDefinition.swagger.json
  certified-connectors/Azure Communication Services Email/script.csx
Labels: certified-connector

#2975 Neum (Independent Publisher)
  independent-publisher-connectors/Neum/apiDefinition.swagger.json
  independent-publisher-connectors/Neum/apiProperties.json
  independent-publisher-connectors/Neum/readme.md
Labels: independent-publisher-connector, deployed
