Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-06, with the labels that each got.

#2696 Parameter Schema fix
  certified-connectors/FactSet/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2634 Expand open ai connector (embeddings, chat completion, completion_v2)
  independent-publisher-connectors/OpenAI/README.md
  independent-publisher-connectors/OpenAI/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployment-in-progress

#2608 InstagramBasicDisplay Adding thumbnail_url and updated description of fields
  independent-publisher-connectors/InstagramBasicDisplay/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployment-in-progress

#2660 Resend (Independent Publisher)
  independent-publisher-connectors/Resend/apiDefinition.swagger.json
  independent-publisher-connectors/Resend/apiProperties.json
  independent-publisher-connectors/Resend/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2699 SIGNL4 - Mobile Alerting added
  certified-connectors/SIGNL4 - Mobile Alerting/README.md
  certified-connectors/SIGNL4 - Mobile Alerting/apiDefinition.swagger.json
  certified-connectors/SIGNL4 - Mobile Alerting/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2700 monday Connector
  certified-connectors/monday/README.md
  certified-connectors/monday/apiDefinition.swagger.json
  certified-connectors/monday/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2707 iManage Insight Plus
  certified-connectors/iManage Insight Plus/apiDefinition.swagger.json
  certified-connectors/iManage Insight Plus/apiProperties.json
  certified-connectors/iManage Insight Plus/readme.md
Labels: On Hold

#2705 Fun Translations (Independent Publisher)
  independent-publisher-connectors/Fun Translations/apiDefinition.swagger.json
  independent-publisher-connectors/Fun Translations/apiProperties.json
  independent-publisher-connectors/Fun Translations/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2706 IP2WHOIS (Independent Publisher)
  independent-publisher-connectors/IP2WHOIS/apiDefinition.swagger.json
  independent-publisher-connectors/IP2WHOIS/apiProperties.json
  independent-publisher-connectors/IP2WHOIS/readme.md
Labels: independent-publisher-connector, deployed

#2698 ApyHub (Independent Publisher)
  independent-publisher-connectors/ApyHub/apiDefinition.swagger.json
  independent-publisher-connectors/ApyHub/apiProperties.json
  independent-publisher-connectors/ApyHub/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2697 Dandelion (Independent Publisher)
  independent-publisher-connectors/Dandelion/apiDefinition.swagger.json
  independent-publisher-connectors/Dandelion/apiProperties.json
  independent-publisher-connectors/Dandelion/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2691 APlace.io (Independent Publisher)
  independent-publisher-connectors/APlace.io/apiDefinition.swagger.json
  independent-publisher-connectors/APlace.io/apiProperties.json
  independent-publisher-connectors/APlace.io/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2690 Updown (Independent Publisher)
  independent-publisher-connectors/Updown/apiDefinition.swagger.json
  independent-publisher-connectors/Updown/apiProperties.json
  independent-publisher-connectors/Updown/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2688 Hashtag API (Independent Publisher)
  independent-publisher-connectors/Hashtag API/apiDefinition.swagger.json
  independent-publisher-connectors/Hashtag API/apiProperties.json
  independent-publisher-connectors/Hashtag API/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2687 Daffy (Independent Publisher)
  independent-publisher-connectors/Daffy/apiDefinition.swagger.json
  independent-publisher-connectors/Daffy/apiProperties.json
  independent-publisher-connectors/Daffy/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2667 Line Message API (Independent Publisher)
  independent-publisher-connectors/Line Message/apiDefinition.swagger.json
  independent-publisher-connectors/Line Message/apiProperties.json
  independent-publisher-connectors/Line Message/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2626 Shopify (Independent Connector)
  independent-publisher-connectors/Shopify/apiDefinition.swagger.json
  independent-publisher-connectors/Shopify/apiProperties.json
  independent-publisher-connectors/Shopify/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2725 Merge pdf4me to PA , Extract text
  certified-connectors/PDF4me Connect/apiDefinition.swagger.json
  certified-connectors/PDF4me/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2723 Improved EventsSend
  certified-connectors/SIGNL4 - Mobile Alerting/README.md
  certified-connectors/SIGNL4 - Mobile Alerting/apiDefinition.swagger.json
Labels: needs:partner-attention, On Hold

#2718 School digger
  certified-connectors/SchoolDigger/apiDefinition.swagger.json
  certified-connectors/SchoolDigger/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2637 Update Endpoints Connectors Easyvista Service Manager
  certified-connectors/Easyvista_Service._Manager/Readme.md
  certified-connectors/Easyvista_Service._Manager/apiDefinition.swagger.json
  certified-connectors/Easyvista_Service._Manager/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2658 LanguageTool deprecation
  independent-publisher-connectors/LanguageTool/apiDefinition.swagger.json
  independent-publisher-connectors/LanguageTool/readme.md
Labels: independent-publisher-connector, deployment-in-progress

#2742 ReversingLabs A1000 - Correct dynamicHostUrl to dynamichosturl
  certified-connectors/ReversingLabs A1000/apiProperties.json
Labels: certified-connector, needs:partner-attention

#2726 Sunrise Sunset (Independent Publisher)
  independent-publisher-connectors/Sunrise Sunset/apiDefinition.swagger.json
  independent-publisher-connectors/Sunrise Sunset/apiProperties.json
  independent-publisher-connectors/Sunrise Sunset/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2724 Pixela (Independent Publisher)
  independent-publisher-connectors/Pixela/apiDefinition.swagger.json
  independent-publisher-connectors/Pixela/apiProperties.json
  independent-publisher-connectors/Pixela/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2711 IP2LOCATION (Independent Publisher)
  independent-publisher-connectors/IP2LOCATION/apiDefinition.swagger.json
  independent-publisher-connectors/IP2LOCATION/apiProperties.json
  independent-publisher-connectors/IP2LOCATION/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2459 Added Leadinfo Connector
  certified-connectors/Leadinfo/apiDefinition.swagger.json
  certified-connectors/Leadinfo/apiProperties.json
  certified-connectors/Leadinfo/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2741 Recorded Future V2: Added new endpoints including playbook alerts, alerts (new), detection rules
  certified-connectors/RecordedFutureV2/README.md
  certified-connectors/RecordedFutureV2/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2743 HighGear Workflow Connector
  certified-connectors/HighGear Workflow/apiDefinition.swagger.json
  certified-connectors/HighGear Workflow/apiProperties.json
  certified-connectors/HighGear Workflow/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2740 Added new action, updated readme.md file
  certified-connectors/Muhimbi PDF Converter Online/apiDefinition.swagger.json
  certified-connectors/Muhimbi PDF Converter Online/apiProperties.json
  certified-connectors/Muhimbi PDF Converter Online/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#2737 Update of Eden AI apiDefinition.swagger.json to avoid potential errors
  certified-connectors/Eden AI/Readme.md
  certified-connectors/Eden AI/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2689 BKK Futar v1.1 (Independent Publisher)
  independent-publisher-connectors/BkkFutar/apiDefinition.swagger.json
  independent-publisher-connectors/BkkFutar/readme.md
Labels: independent-publisher-connector, deployment-in-progress

#2755 Tribal/mszy/http requests
  certified-connectors/Tribal/README.md
  certified-connectors/Tribal/Script.cs
  certified-connectors/Tribal/apiDefinition.swagger.json
  certified-connectors/Tribal/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2756 Update endpoint descriptions and example enums
  certified-connectors/RecordedFutureV2/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention
