Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-10, with the labels that each got.

#2974 WPForms Update (Certified Publisher) -- Small tweak to single endpoint
  certified-connectors/WPForms by reenhanced/apiDefinition.swagger.json
Labels: certified-connector, minor-update

#2973 merge to powerplatform
  certified-connectors/PDF4me Connect/apiDefinition.swagger.json
  certified-connectors/PDF4me Connect/apiProperties.json
  certified-connectors/PDF4me SwissQR/apiDefinition.swagger.json
  certified-connectors/PDF4me/apiDefinition.swagger.json
Labels: certified-connector, needs:partner-attention

#2985 removed circular references for The Bot Platform connector
  certified-connectors/The Bot Platform/apiDefinition.swagger.json
Labels: certified-connector

#2982 Tribal - Maytas
  certified-connectors/Tribal - Maytas/README.md
  certified-connectors/Tribal - Maytas/Script.cs
  certified-connectors/Tribal - Maytas/apiDefinition.swagger.json
  certified-connectors/Tribal - Maytas/apiProperties.json
Labels: certified-connector, New

#2803 Connect Bridge (Certified Connector)
  certified-connectors/Connect Bridge/Readme.md
  certified-connectors/Connect Bridge/apiDefinition.swagger.json
  certified-connectors/Connect Bridge/apiProperties.json
  certified-connectors/Connect Bridge/script.csx
Labels: certified-connector

#3012 Tribal - Maytas: Update icon brand colour to upper case
  certified-connectors/Tribal - Maytas/apiProperties.json
Labels: certified-connector

#2900 Pinecone (Independent Publisher)
  independent-publisher-connectors/Pinecone/apiDefinition.swagger.json
  independent-publisher-connectors/Pinecone/apiProperties.json
  independent-publisher-connectors/Pinecone/readme.md
Labels: independent-publisher-connector, deployed, New

#2827 TLDR (Independent Publisher)
  independent-publisher-connectors/TLDR/apiDefinition.swagger.json
  independent-publisher-connectors/TLDR/apiProperties.json
  independent-publisher-connectors/TLDR/readme.md
Labels: independent-publisher-connector, deployed

#2937 Copy.ai (Independent Publisher)
  independent-publisher-connectors/Copy.ai/apiDefinition.swagger.json
  independent-publisher-connectors/Copy.ai/apiProperties.json
  independent-publisher-connectors/Copy.ai/readme.md
Labels: independent-publisher-connector, deployed

#2812 PixelMe (Independent Publisher)
  independent-publisher-connectors/PixelMe/apiDefinition.swagger.json
  independent-publisher-connectors/PixelMe/apiProperties.json
  independent-publisher-connectors/PixelMe/readme.md
Labels: independent-publisher-connector, deployed

#2885 vatcheckapi (Independent Publisher)
  independent-publisher-connectors/vatcheckapi/apiDefinition.swagger.json
  independent-publisher-connectors/vatcheckapi/apiProperties.json
  independent-publisher-connectors/vatcheckapi/readme.md
Labels: independent-publisher-connector, deployed

#2783 Anthropic (Independent Publisher) v1.1 - Update to Claude 2
  independent-publisher-connectors/Anthropic/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2816 Feathery (Independent Publisher)
  independent-publisher-connectors/Feathery/apiDefinition.swagger.json
  independent-publisher-connectors/Feathery/apiProperties.json
  independent-publisher-connectors/Feathery/readme.md
Labels: independent-publisher-connector, deployed

#2954 LoginLlama (Independent Publisher)
  independent-publisher-connectors/LoginLlama/apiDefinition.swagger.json
  independent-publisher-connectors/LoginLlama/apiProperties.json
  independent-publisher-connectors/LoginLlama/readme.md
Labels: independent-publisher-connector, deployed

#2879 Abbreviations (Independent Publisher)
  independent-publisher-connectors/Abbreviations/apiDefinition.swagger.json
  independent-publisher-connectors/Abbreviations/apiProperties.json
  independent-publisher-connectors/Abbreviations/readme.md
Labels: independent-publisher-connector, deployed

#2872 Hash Generator (Independent Publisher)
  independent-publisher-connectors/Hash Generator/apiDefinition.swagger.json
  independent-publisher-connectors/Hash Generator/apiProperties.json
  independent-publisher-connectors/Hash Generator/readme.md
  independent-publisher-connectors/Hash Generator/script.csx
Labels: independent-publisher-connector, deployed

#2930 VoiceRSS (Independent Publisher)
  independent-publisher-connectors/VoiceRSS/apiDefinition.swagger.json
  independent-publisher-connectors/VoiceRSS/apiProperties.json
  independent-publisher-connectors/VoiceRSS/readme.md
Labels: independent-publisher-connector, deployed

#2935 NameAPI (Independent Publisher)
  independent-publisher-connectors/NameAPI/apiDefinition.swagger.json
  independent-publisher-connectors/NameAPI/apiProperties.json
  independent-publisher-connectors/NameAPI/readme.md
Labels: independent-publisher-connector, deployed

#2773 Added Micro Focus Content Manager without default only return schemas.
  certified-connectors/KapishPowerConnect/apiDefinition.swagger.json
  certified-connectors/KapishPowerConnect/apiProperties.json
  certified-connectors/KapishPowerConnect/readme.md
Labels: certified-connector

#2952 Seismic Workspace (Verified Publisher)
  certified-connectors/Seismic Workspace/apiDefinition.swagger.json
Labels: certified-connector, needs:partner-attention
