Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-03, with the labels that each got.

#2414 APITemplate (Independent Publisher)
  independent-publisher-connectors/APITemplate/apiDefinition.swagger.json
  independent-publisher-connectors/APITemplate/apiProperties.json
  independent-publisher-connectors/APITemplate/readme.md
Labels: independent-publisher-connector, deployed

#2413 Affirmations (Independent Publisher)
  independent-publisher-connectors/Affirmations/apiDefinition.swagger.json
  independent-publisher-connectors/Affirmations/apiProperties.json
  independent-publisher-connectors/Affirmations/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2411 1pt (Independent Publisher)
  independent-publisher-connectors/1pt/apiDefinition.swagger.json
  independent-publisher-connectors/1pt/apiProperties.json
  independent-publisher-connectors/1pt/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2374 Fix for Discord connector details.
  independent-publisher-connectors/Discord/apiDefinition.swagger.json
  independent-publisher-connectors/Discord/apiProperties.json
  independent-publisher-connectors/Discord/readme.md
Labels: independent-publisher-connector, deployment-in-progress

#2369 Update - SMS Wireless Services (Independent Publisher)
  independent-publisher-connectors/SMS Wireless Services/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress

#2343 PaySpace (Independent Publisher)
  independent-publisher-connectors/PaySpace/README.md
  independent-publisher-connectors/PaySpace/apiDefinition.swagger.json
  independent-publisher-connectors/PaySpace/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New

#2218 The Meal DB v1.1.0
  independent-publisher-connectors/The Meal DB/README.md
  independent-publisher-connectors/The Meal DB/apiDefinition.swagger.json
  independent-publisher-connectors/The Meal DB/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, minor-update

#2424 CivicPlus (Certified Connector) v1.5
  certified-connectors/CivicPlus/apiDefinition.swagger.json
Labels: certified-connector

#2430 SeismicLivedoc: Updated readme file
  certified-connectors/Seismic Livedoc/apiDefinition.swagger.json
  certified-connectors/Seismic Livedoc/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2415 Add ActiveCampaign Contacts connector
  certified-connectors/ActiveCampaign/README.md
  certified-connectors/ActiveCampaign/apiDefinition.swagger.json
  certified-connectors/ActiveCampaign/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2443 Update Talkdesk Connector
  certified-connectors/Talkdesk/README.md
  certified-connectors/Talkdesk/apiDefinition.swagger.json
  certified-connectors/Talkdesk/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2444 [Chore] Removed one endpoint from Fliplet connector
  certified-connectors/Fliplet/README.md
  certified-connectors/Fliplet/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2429 Initial version of the connector
  certified-connectors/Desk365/Readme.md
  certified-connectors/Desk365/apiDefinition.swagger.json
  certified-connectors/Desk365/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2439 Resco Reports connector artifacts
  certified-connectors/RescoReports/README.md
  certified-connectors/RescoReports/apiDefinition.swagger.json
  certified-connectors/RescoReports/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2423 Rijksmuseum (Independent Publisher)
  independent-publisher-connectors/Rijksmuseum/apiDefinition.swagger.json
  independent-publisher-connectors/Rijksmuseum/apiProperties.json
  independent-publisher-connectors/Rijksmuseum/readme.md
Labels: independent-publisher-connector, deployed

#2377 Originality (Independent Publisher)
  independent-publisher-connectors/Originality/apiDefinition.swagger.json
  independent-publisher-connectors/Originality/apiProperties.json
  independent-publisher-connectors/Originality/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2453 support azure ad authentication
  certified-connectors/AvePoint Cloud Governance/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2455 Updated YakChat connector files
  certified-connectors/YakChat/Readme.md
  certified-connectors/YakChat/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2456 Added support for new CDC APIs in CyberProof connector
  certified-connectors/CyberProof/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2465 Azure OpenAI Service Connector
  custom-connectors/AzureOpenAIService/README.md
  custom-connectors/AzureOpenAIService/apiDefinition.swagger.json
  custom-connectors/AzureOpenAIService/apiProperties.json
Labels: custom-connector, Validation phase, needs:partner-attention

#2473 Action - Get_Individual_Custom_Field_Values throws error
  certified-connectors/Impexium/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2359 AzureAD Applications (Independent Publisher) v 1.01
  independent-publisher-connectors/AzureADApplications/Readme.md
  independent-publisher-connectors/AzureADApplications/apiDefinition.swagger.json
  independent-publisher-connectors/AzureADApplications/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress

#2475 Add Survalyzer Swiss Connector
  certified-connectors/Survalyzer Swiss/README.md
  certified-connectors/Survalyzer Swiss/apiDefinition.swagger.json
  certified-connectors/Survalyzer Swiss/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2476 Add Survalyzer EU Connector
  certified-connectors/Survalyzer EU/README.md
  certified-connectors/Survalyzer EU/apiDefinition.swagger.json
  certified-connectors/Survalyzer EU/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2446 Envoy-update entry method type
  certified-connectors/envoy/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2483 Tesseron Invoice Connector
  certified-connectors/Tesseron Invoice/apiDefinition.swagger.json
  certified-connectors/Tesseron Invoice/apiProperties.json
  certified-connectors/Tesseron Invoice/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2491 Added Micro Focus Content Manager
  certified-connectors/Micro Focus Content Manager/apiDefinition.swagger.json
  certified-connectors/Micro Focus Content Manager/apiProperties.json
  certified-connectors/Micro Focus Content Manager/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2449 the bot platform connector submission
  certified-connectors/The Bot Platform/README.md
  certified-connectors/The Bot Platform/apiDefinition.swagger.json
  certified-connectors/The Bot Platform/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New
