Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-01, with the labels that each got.

#2238 Update to v3/sms
  certified-connectors/tyntec-SMS/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2256 Seismic Livedoc (Verified Publisher)
  certified-connectors/Seismic Livedoc/apiDefinition.swagger.json
  certified-connectors/Seismic Livedoc/apiProperties.json
  certified-connectors/Seismic Livedoc/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2266 Fix value of iconBrandColor for independent connectors
  independent-publisher-connectors/Atlassian Jira/apiProperties.json
  independent-publisher-connectors/Brønnøysundregistrene/apiProperties.json
  independent-publisher-connectors/Care Quaility Comission For England/apiProperties.json
  independent-publisher-connectors/ChuckNorris.io/apiProperties.json
  independent-publisher-connectors/DPIRD Radar/apiProperties.json
  independent-publisher-connectors/DPIRD Science/apiProperties.json
  independent-publisher-connectors/DPIRD Weather/apiProperties.json
  independent-publisher-connectors/Discord/apiProperties.json
  independent-publisher-connectors/EONET by NASA/apiProperties.json
  independent-publisher-connectors/Etsy/apiProperties.json
  independent-publisher-connectors/Festivo/apiProperties.json
  independent-publisher-connectors/Hashify/apiProperties.json
  independent-publisher-connectors/MyHospitals by AIHW/apiProperties.json
  independent-publisher-connectors/OpenWeather/apiProperties.json
  independent-publisher-connectors/Placedog/apiProperties.json
  independent-publisher-connectors/Revue/apiProperties.json
  independent-publisher-connectors/Secure Code Warrior/apiProperties.json
  independent-publisher-connectors/Spotify/apiProperties.json
  independent-publisher-connectors/Synthesia/apiProperties.json
  independent-publisher-connectors/The Lord of the Rings/apiProperties.json
  independent-publisher-connectors/Toggl Plan/apiProperties.json
  independent-publisher-connectors/U.K. Government Bank Holidays/apiProperties.json
  independent-publisher-connectors/XSOAR/apiProperties.json
  independent-publisher-connectors/Yelp/apiProperties.json
  independent-publisher-connectors/icanhazdadjoke/apiProperties.json
Labels: needs:attention

#2258 Update to v3
  certified-connectors/tyntec-Viber/apiDefinition.swagger.json
Labels: certified-connector, needs:partner-attention

#2261 Update scrive esign
  certified-connectors/Scrive eSign/apiDefinition.swagger.json
  certified-connectors/Scrive eSign/apiProperties.json
  certified-connectors/Scrive eSign/readme.md
Labels: certified-connector

#2274 Yidocpdf
  certified-connectors/DocToPDF/Readme.md
  certified-connectors/DocToPDF/apiDefinition.swagger.json
  certified-connectors/DocToPDF/apiProperties.json
Labels: certified-connector, needs:partner-attention

#2257 Seismic Content Discovery (Verified Publisher)
  certified-connectors/Seismic Content Discovery/apiDefinition.swagger.json
  certified-connectors/Seismic Content Discovery/apiProperties.json
  certified-connectors/Seismic Content Discovery/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#2260 Cards for Power Apps initial commit
  certified-connectors/CardsForPowerApps/Readme.md
  certified-connectors/CardsForPowerApps/apiDefinition.swagger.json
  certified-connectors/CardsForPowerApps/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2282 iManage Work for Admins (certified-connector)
  certified-connectors/iManage Work for Admins/apiDefinition.swagger.json
  certified-connectors/iManage Work for Admins/apiProperties.json
  certified-connectors/iManage Work for Admins/readme.md
Labels: certified-connector, needs:partner-attention, On Hold, New

#2259 Update v3/wa
  certified-connectors/tyntec-WA/README.md
  certified-connectors/tyntec-WA/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2273 Readwise (Independent Publisher)
  independent-publisher-connectors/Readwise/apiDefinition.swagger.json
  independent-publisher-connectors/Readwise/apiProperties.json
  independent-publisher-connectors/Readwise/readme.md
Labels: independent-publisher-connector

#2209 IQAir (Independent Publisher)
  independent-publisher-connectors/IQAir/apiDefinition.swagger.json
  independent-publisher-connectors/IQAir/apiProperties.json
  independent-publisher-connectors/IQAir/readme.md
Labels: independent-publisher-connector

#2249 Swagger Converter (Independent Publisher)
  independent-publisher-connectors/Swagger Converter/apiDefinition.swagger.json
  independent-publisher-connectors/Swagger Converter/apiProperties.json
  independent-publisher-connectors/Swagger Converter/readme.md
Labels: independent-publisher-connector

#2253 TSheets Quickbooks Time (Independent Publisher)
  independent-publisher-connectors/TSheets Quickbooks Time/apiProperties.json
Labels: independent-publisher-connector

#2271 LanguageTool (Independent Publisher)
  independent-publisher-connectors/LanguageTool/apiDefinition.swagger.json
  independent-publisher-connectors/LanguageTool/apiProperties.json
  independent-publisher-connectors/LanguageTool/readme.md
Labels: independent-publisher-connector

#2277 VitaCloud Quotes
  certified-connectors/VitaCloud Quotes/Readme.md
  certified-connectors/VitaCloud Quotes/apiDefinition.swagger.json
  certified-connectors/VitaCloud Quotes/apiProperties.json
Labels: certified-connector

#2301 U.S. Bank Treasury Management (Verified Publisher)
  certified-connectors/U.S. Bank Treasury Management/apiDefinition.swagger.json
  certified-connectors/U.S. Bank Treasury Management/apiProperties.json
  certified-connectors/U.S. Bank Treasury Management/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2270 Add new field in ahead connector
  certified-connectors/ahead/apiDefinition.swagger.json
  certified-connectors/ahead/apiProperties.json
  certified-connectors/ahead/readme.md
Labels: certified-connector

#2305 Build - DS1001 - DocuSign R1 Release Items
  certified-connectors/DocuSign/apiProperties.json
  certified-connectors/DocuSignDemo/apiDefinition.swagger.json
  certified-connectors/DocuSignDemo/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention

#2275 Postman (Independent Publisher)
  independent-publisher-connectors/Postman/apiDefinition.swagger.json
  independent-publisher-connectors/Postman/apiProperties.json
  independent-publisher-connectors/Postman/readme.md
Labels: independent-publisher-connector, deployed, New

#2235 Changed email
  independent-publisher-connectors/Nederlandse Spoorwegen/apiDefinition.swagger.json
Labels: independent-publisher-connector

#2317 Meisterplan Connector Update: New Project Trigger via Webhook Create
  certified-connectors/Meisterplan/apiDefinition.swagger.json
  certified-connectors/Meisterplan/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#2316 Tulip V1
  certified-connectors/Tulip/apiDefinition.swagger.json
  certified-connectors/Tulip/apiProperties.json
  certified-connectors/Tulip/readme.md
  certified-connectors/Tulip/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2326 Airmeet (scriptOperations) fix
  certified-connectors/Airmeet/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2328 Encodian Jan 23
  certified-connectors/Encodian/Readme.md
  certified-connectors/Encodian/apiDefinition.swagger.json
  certified-connectors/Encodian/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2289 Spoonacular recipe (Independent Publisher)
  independent-publisher-connectors/Spoonacular Recipe/apiDefinition.swagger.json
  independent-publisher-connectors/Spoonacular Recipe/apiProperties.json
  independent-publisher-connectors/Spoonacular Recipe/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2290 Spoonacular Food (Independent Publisher)
  independent-publisher-connectors/Spoonacular Food/apiDefinition.swagger.json
  independent-publisher-connectors/Spoonacular Food/apiProperties.json
  independent-publisher-connectors/Spoonacular Food/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2291 Spoonacular Meal Planner (Independent Publisher)
  independent-publisher-connectors/Spoonacular Meal Planner/apiDefinition.swagger.json
  independent-publisher-connectors/Spoonacular Meal Planner/apiProperties.json
  independent-publisher-connectors/Spoonacular Meal Planner/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2315 ShortySMS (Independent Publisher)
  independent-publisher-connectors/ShortySMS/apiDefinition.swagger.json
  independent-publisher-connectors/ShortySMS/apiProperties.json
  independent-publisher-connectors/ShortySMS/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2340 Narvar Connector
  certified-connectors/Narvar/apiDefinition.swagger.json
  certified-connectors/Narvar/apiProperties.json
  certified-connectors/Narvar/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2335 Merge to powerplatform
  certified-connectors/PDF4me Connect/apiDefinition.swagger.json
  certified-connectors/PDF4me Connect/readme.md
  certified-connectors/PDF4me SwissQR/apiDefinition.swagger.json
  certified-connectors/PDF4me SwissQR/readme.md
  certified-connectors/PDF4me/apiDefinition.swagger.json
  certified-connectors/PDF4me/apiProperties.json
  certified-connectors/PDF4me/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention

#2267 WQRM Risk Forecast Services
  certified-connectors/WQRM Risk Forecast Services/README.md
  certified-connectors/WQRM Risk Forecast Services/apiDefinition.swagger.json
  certified-connectors/WQRM Risk Forecast Services/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New
