Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-09, with the labels that each got.

#2907 Impower (Impower GmbH) - connector update
  certified-connectors/Impower/apiDefinition.swagger.json
Labels: certified-connector

#2957 Updated IA-Connect for JML for release 9.4
  certified-connectors/IA-Connect JML/apiDefinition.swagger.json
Labels: enhancement, certified-connector

#2899 VEV-IQ connector
  certified-connectors/VEV-IQ/Readme.md
  certified-connectors/VEV-IQ/apiDefinition.swagger.json
  certified-connectors/VEV-IQ/apiProperties.json
Labels: New

#2960 Lex Power Sign connector -initial commit
  certified-connectors/Lex Power Sign/apiDefinition.swagger.json
  certified-connectors/Lex Power Sign/apiProperties.json
  certified-connectors/Lex Power Sign/readme.md
Labels: certified-connector, New

#2962 Initial commit
  certified-connectors/AutoPylot Connect/Readme.md
  certified-connectors/AutoPylot Connect/apiDefinition.swagger.json
  certified-connectors/AutoPylot Connect/apiProperties.json
Labels: certified-connector, New

#2888 Reflect (Independent Publisher)
  independent-publisher-connectors/Reflect/apiDefinition.swagger.json
  independent-publisher-connectors/Reflect/apiProperties.json
  independent-publisher-connectors/Reflect/readme.md
Labels: independent-publisher-connector, deployed

#2823 Mime Automation (Independent Publisher)
  independent-publisher-connectors/Mime Automation/apiDefinition.swagger.json
  independent-publisher-connectors/Mime Automation/apiProperties.json
  independent-publisher-connectors/Mime Automation/readme.md
Labels: independent-publisher-connector, deployed, New

#2804 Mailinator (Independent Publisher)
  independent-publisher-connectors/Mailinator/apiDefinition.swagger.json
  independent-publisher-connectors/Mailinator/apiProperties.json
  independent-publisher-connectors/Mailinator/readme.md
Labels: independent-publisher-connector, deployed
