Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-12, with the labels that each got.

#2950 Rev AI (Independent Publisher)
  independent-publisher-connectors/Rev AI/apiDefinition.swagger.json
  independent-publisher-connectors/Rev AI/apiProperties.json
  independent-publisher-connectors/Rev AI/readme.md
Labels: independent-publisher-connector, deployed, New

#3013 Deepgram (Independent Publisher)
  independent-publisher-connectors/Deepgram/apiDefinition.swagger.json
  independent-publisher-connectors/Deepgram/apiProperties.json
  independent-publisher-connectors/Deepgram/readme.md
Labels: independent-publisher-connector, deployed

#2964 Byword (Independent Publisher)
  independent-publisher-connectors/Byword/apiDefinition.swagger.json
  independent-publisher-connectors/Byword/apiProperties.json
  independent-publisher-connectors/Byword/readme.md
  independent-publisher-connectors/Byword/script.csx
Labels: independent-publisher-connector, deployed

#2976 Mockaroo (Independent Publisher) Updates
  independent-publisher-connectors/Mockaroo/README.MD
  independent-publisher-connectors/Mockaroo/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2551 HubSpot CRM (Independent Publisher) Minor corrections to existing operations, ContactsSearch operation
  independent-publisher-connectors/HubSpot CRM/apiDefinition.swagger.json
Labels: independent-publisher-connector, Validation phase, needs:partner-attention

#3101 HubSpot CRM: Updated some scopes that this connector uses (edit contacts, list and edit deals)
  independent-publisher-connectors/HubSpot CRM/apiProperties.json
Labels: independent-publisher-connector, deployed

#2867 Fuselag Notam (Independent Publisher)
  independent-publisher-connectors/FAANotam/README.md
  independent-publisher-connectors/FAANotam/apiDefinition.swagger.json
  independent-publisher-connectors/FAANotam/apiProperties.json
Labels: independent-publisher-connector, deployed

#3032 Google PaLM (Independent Publisher)
  independent-publisher-connectors/Google PaLM/apiDefinition.swagger.json
  independent-publisher-connectors/Google PaLM/apiProperties.json
  independent-publisher-connectors/Google PaLM/readme.md
Labels: independent-publisher-connector, deployed

#3104 AccuWeather (Independent Publisher) v3.1 Plugin
  independent-publisher-connectors/AccuWeather/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#3079 OpenAI GPT-4 (Independent Publisher) v1.3
  independent-publisher-connectors/OpenAI GPT-4/apiDefinition.swagger.json
  independent-publisher-connectors/OpenAI GPT-4/readme.md
Labels: independent-publisher-connector, deployed
