Repository microsoft/PowerPlatformConnectors, pull requests merged in 2023-02, with the labels that each got.

#2352 Updates on vineforce connector for project and notification
  certified-connectors/Vineforce/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2357 @microsoft-github-policy-service agree company="National Bank of Greece"
  certified-connectors/NBG ERP Solution/apiDefinition.swagger.json
  certified-connectors/NBG ERP Solution/apiProperties.json
  certified-connectors/NBG ERP Solution/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2350 Zminteg
  certified-connectors/Zoho ZeptoMail/apiDefinition.swagger.json
  certified-connectors/Zoho ZeptoMail/apiProperties.json
  certified-connectors/Zoho ZeptoMail/readme.md
  certified-connectors/Zoho ZeptoMail/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2360 Fliplet Connector
  certified-connectors/Fliplet/README.md
  certified-connectors/Fliplet/apiDefinition.swagger.json
  certified-connectors/Fliplet/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2293 DailyMed (Independent Publisher) v1.1
  independent-publisher-connectors/DailyMed/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2372 Cosmetic changes to make the Update Action clearer what it is doing i.e. replacing everything
  certified-connectors/Tribal/README.md
  certified-connectors/Tribal/apiDefinition.swagger.json
  certified-connectors/Tribal/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2283 Added Image creation DALL E2 endpoint and model "text-davinci-003" in completion endpoint
  independent-publisher-connectors/OpenAI/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2318 Krozu PM
  independent-publisher-connectors/Krozu PM/apiDefinition.swagger.json
  independent-publisher-connectors/Krozu PM/apiProperties.json
  independent-publisher-connectors/Krozu PM/readme.md
  independent-publisher-connectors/Krozu PM/screenshots/20230110174945.png
  independent-publisher-connectors/Krozu PM/screenshots/20230110175604.png
  independent-publisher-connectors/Krozu PM/screenshots/20230110192809.png
  independent-publisher-connectors/Krozu PM/screenshots/20230110193650.png
  independent-publisher-connectors/Krozu PM/screenshots/20230110194131.png
  independent-publisher-connectors/Krozu PM/screenshots/20230110194342.png
  independent-publisher-connectors/Krozu PM/screenshots/20230110194547.png
Labels: independent-publisher-connector, deployed

#2331 DiceBear (Independent Publisher)
  independent-publisher-connectors/DiceBear/apiDefinition.swagger.json
  independent-publisher-connectors/DiceBear/apiProperties.json
  independent-publisher-connectors/DiceBear/readme.md
Labels: independent-publisher-connector, deployed

#2254 Coupa (Independent Publisher)
  independent-publisher-connectors/Coupa/apiDefinition.swagger.json
  independent-publisher-connectors/Coupa/apiProperties.json
  independent-publisher-connectors/Coupa/readme.md
Labels: independent-publisher-connector, deployed

#2332 Annature (Independent Publisher)
  independent-publisher-connectors/Annature/README.md
  independent-publisher-connectors/Annature/apiDefinition.swagger.json
  independent-publisher-connectors/Annature/apiProperties.json
  independent-publisher-connectors/Annature/script.csx
Labels: independent-publisher-connector, deployed

#2333 eBay (Independent Publisher)
  independent-publisher-connectors/eBay/apiProperties.json
Labels: independent-publisher-connector, deployed

#2382 Updating Mural connector to v2
  certified-connectors/Mural/README.md
  certified-connectors/Mural/Script.cs
  certified-connectors/Mural/apiDefinition.swagger.json
  certified-connectors/Mural/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2375 iMIS
  certified-connectors/iMIS/README.md
  certified-connectors/iMIS/apiDefinition.swagger.json
  certified-connectors/iMIS/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2394 Add new action to certified Cyberday connector
  certified-connectors/Cyberday/Readme.md
  certified-connectors/Cyberday/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention

#2376 PartnerLinq connector files submission for certification - Visionet o…
  certified-connectors/PartnerLinq/Readme.md
  certified-connectors/PartnerLinq/apiDefinition.swagger.json
  certified-connectors/PartnerLinq/apiProperties.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2392 Redque - update host URL
  certified-connectors/Redque/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2373 Lexica (Independent Publisher)
  independent-publisher-connectors/Lexica/apiDefinition.swagger.json
  independent-publisher-connectors/Lexica/apiProperties.json
  independent-publisher-connectors/Lexica/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2367 Hugging Face (Independent Publisher
  independent-publisher-connectors/Hugging Face/apiDefinition.swagger.json
  independent-publisher-connectors/Hugging Face/apiProperties.json
  independent-publisher-connectors/Hugging Face/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2366 IBM Watson Assistant (Independent Publisher)
  independent-publisher-connectors/IBM Watson Assistant/apiDefinition.swagger.json
  independent-publisher-connectors/IBM Watson Assistant/apiProperties.json
  independent-publisher-connectors/IBM Watson Assistant/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2365 IBM Watson Text to Speech (Independent Publisher)
  independent-publisher-connectors/IBM Watson Text to Speech/apiDefinition.swagger.json
  independent-publisher-connectors/IBM Watson Text to Speech/apiProperties.json
  independent-publisher-connectors/IBM Watson Text to Speech/readme.md
  independent-publisher-connectors/IBM Watson Text to Speech/script.csx
Labels: independent-publisher-connector, deployment-in-progress, New

#2363 NREL (Independent Publisher)
  independent-publisher-connectors/NREL/apiDefinition.swagger.json
  independent-publisher-connectors/NREL/apiProperties.json
  independent-publisher-connectors/NREL/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2356 WhatsApp (Independent Publisher)
  independent-publisher-connectors/WhatsApp/ReadME.md
  independent-publisher-connectors/WhatsApp/apiDefinition.swagger.json
  independent-publisher-connectors/WhatsApp/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress, New

#2389 Adding a new TranslatorV3 connector and deleting DocumentTranslator connector
  certified-connectors/DocumentTranslator/apiDefinition.swagger.json
  certified-connectors/DocumentTranslator/apiProperties.json
  certified-connectors/TranslatorV3/Readme.md
  certified-connectors/TranslatorV3/apiDefinition.swagger.json
  certified-connectors/TranslatorV3/apiProperties.json
  certified-connectors/TranslatorV3/script.csx
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2418 Updating TranslatorV3 strings
  certified-connectors/TranslatorV3/apiDefinition.swagger.json
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2407 Tesseron Invoice Connector
  certified-connectors/Tesseron Invoice/apiDefinition.swagger.json
  certified-connectors/Tesseron Invoice/apiProperties.json
  certified-connectors/Tesseron Invoice/readme.md
Labels: certified-connector, Validation phase, needs:partner-attention, New

#2280 Airlabs (Independent Publisher)
  independent-publisher-connectors/Airlabs/apiDefinition.swagger.json
  independent-publisher-connectors/Airlabs/apiProperties.json
  independent-publisher-connectors/Airlabs/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2390 TAGGUN Receipt OCR Scanning (Independent Publisher)
  independent-publisher-connectors/TAGGUN Receipt OCR Scanning/apiDefinition.swagger.json
  independent-publisher-connectors/TAGGUN Receipt OCR Scanning/apiProperties.json
  independent-publisher-connectors/TAGGUN Receipt OCR Scanning/readme.md
Labels: independent-publisher-connector, deployed
