Repository microsoft/PowerPlatformConnectors, pull requests merged in 2024-03, with the labels that each got.

#3215 The Guardian (Independent Publisher) Plugin
  independent-publisher-connectors/The Guardian/apiDefinition.swagger.json
  independent-publisher-connectors/The Guardian/apiProperties.json
  independent-publisher-connectors/The Guardian/readme.md
Labels: independent-publisher-connector, deployed

#3205 Doppler (Independent Publisher)
  independent-publisher-connectors/Doppler/apiDefinition.swagger.json
  independent-publisher-connectors/Doppler/apiProperties.json
  independent-publisher-connectors/Doppler/readme.md
Labels: independent-publisher-connector, deployment-in-progress

#2928 Update ExchangeRate connector apiDefinition.swagger.json with missing "produces" property
  independent-publisher-connectors/ExchangeRate/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#2983 SureXeroLite (Independent Publisher)
  independent-publisher-connectors/SureXeroLite/README.md
  independent-publisher-connectors/SureXeroLite/apiDefinition.swagger.json
  independent-publisher-connectors/SureXeroLite/apiProperties.json
Labels: independent-publisher-connector, deployment-in-progress

#3134 ApyHub Document Readability (Independent Publisher)
  independent-publisher-connectors/ApyHub Document Readability/apiDefinition.swagger.json
  independent-publisher-connectors/ApyHub Document Readability/apiProperties.json
  independent-publisher-connectors/ApyHub Document Readability/readme.md
Labels: independent-publisher-connector, deployed

#3229 Mailjet (Independent Publisher) v1.1 Update
  independent-publisher-connectors/MailJet/apiDefinition.swagger.json
Labels: independent-publisher-connector, deployed

#3214 wttr.in (Independent Publisher)
  independent-publisher-connectors/wttr.in/apiDefinition.swagger.json
  independent-publisher-connectors/wttr.in/apiProperties.json
  independent-publisher-connectors/wttr.in/readme.md
  independent-publisher-connectors/wttr.in/script.csx
Labels: independent-publisher-connector, deployed

#3154 Jasper (Independent Publisher) v1.1
  independent-publisher-connectors/Jasper/apiDefinition.swagger.json
  independent-publisher-connectors/Jasper/readme.md
Labels: independent-publisher-connector

#2969 Hume (Independent Publisher)
  independent-publisher-connectors/Hume/apiDefinition.swagger.json
  independent-publisher-connectors/Hume/apiProperties.json
  independent-publisher-connectors/Hume/readme.md
Labels: independent-publisher-connector, deployment-in-progress, New

#2951 Leap (Independent Publisher) v1.1
  independent-publisher-connectors/Leap-Ai/README.md
  independent-publisher-connectors/Leap-Ai/apiDefinition.swagger.json
  independent-publisher-connectors/Leap-Ai/apiProperties.json
Labels: independent-publisher-connector, certification-in-progress, New

#3280 Contact and Enterprise changes
  certified-connectors/Tesseron ASM Basic Data/apiDefinition.swagger.json
Labels: certified-connector

#2884 Openpm (Independent Publisher)
  independent-publisher-connectors/openpm/apiDefinition.swagger.json
  independent-publisher-connectors/openpm/apiProperties.json
  independent-publisher-connectors/openpm/readme.md
Labels: independent-publisher-connector, deployed

#3180 HubSpot Settings V2 (Independent Publisher) Plugin
  independent-publisher-connectors/HubSpot Settings V2/apiDefinition.swagger.json
  independent-publisher-connectors/HubSpot Settings V2/apiProperties.json
  independent-publisher-connectors/HubSpot Settings V2/readme.md
Labels: independent-publisher-connector, deployed

#3261 Deck of Cards (Independent Publisher) Plugin
  independent-publisher-connectors/Deck of Cards/apiDefinition.swagger.json
  independent-publisher-connectors/Deck of Cards/apiProperties.json
  independent-publisher-connectors/Deck of Cards/readme.md
Labels: independent-publisher-connector, deployed

#3242 Financial Conduct Authority (FCA) (Independent Publisher)
  independent-publisher-connectors/FInancial Conduct Authority (FCA) UK Connector/ReadME.md
  independent-publisher-connectors/Financial Conduct Authority (FCA) UK Connector/ReadME.md
  independent-publisher-connectors/Financial Conduct Authority (FCA) UK Connector/apiDefinition.swagger.json
  independent-publisher-connectors/Financial Conduct Authority (FCA) UK Connector/apiProperties.json
Labels: independent-publisher-connector, deployed

#3257 Mistral (Independent Publisher) Plugin
  independent-publisher-connectors/Mistral/apiDefinition.swagger.json
  independent-publisher-connectors/Mistral/apiProperties.json
  independent-publisher-connectors/Mistral/readme.md
Labels: independent-publisher-connector, deployed
